<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<th:block th:fragment="modal">
  <div class="modal" id="removeMo">
    <div class="modal-bg"></div>
    <div class="modalContent xs">
      <div class="modalHd">
        <h3></h3>
        <button class="modalClose"></button>
      </div>
      <div class="modalBody">
        <div class="modalText">
          선택 도서를 정말 삭제하시겠습니까?<br>
          삭제한 도서는 복구할 수 없습니다.
        </div>
        <div class="modalBtnWrap">
          <button type="button" class="btn btn-red modalOff">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="pcQR">
    <div class="modal-bg"></div>
    <div class="modalContent xs">
      <div class="modalHd">
        <h3></h3>
        <button class="modalClose"></button>
      </div>
      <div class="modalBody">
        <div class="modalText">
          QR 촬영은 모바일에서 가능합니다.<br>
          PC에서는 도서명을 검색해주세요.
        </div>
        <div class="modalBtnWrap">
          <button type="button" class="btn btn-blue modalOff">확인</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal " id="reportMo">
    <div class="modal-bg"></div>
    <div class="modalContent lg">
      <div class="modalHd">
        <h3>과제 확인</h3>
        <button class="modalClose"></button>
      </div>
      <div class="modalBody">
        <div class="modalHead">
          <p class="modalGroup">[잇플코딩 기초입문반A]</p>
          <p class="modalTit">수업 내용을 바탕으로 파이썬 실습내용 복습해보기</p>
          <p class="modalName">김잇플</p>
        </div>
        <div class="modalMain">
          과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다.
          과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다.
          과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다.
          과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다.
        </div>
        <div class="mo-fileBox">
          <div class="fileHead">
            <p>첨부파일</p>
          </div>
          <ul class="fileUP">
            <li>첨부파일_1.jpg</li>
            <li>첨부파일_2.jpg</li>
            <li>첨부파일_3.jpg</li>
            <li>첨부파일_4.jpg</li>
            <li>첨부파일_5.jpg</li>
            <li>첨부파일_6.jpg</li>
            <li>첨부파일_7.jpg</li>
          </ul>
        </div>
        <div class="modalBtnWrap">
          <button type="button" class="btn btn-blue modalOff">확인하기</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="selDay">
    <div class="modal-bg"></div>
    <div class="modalContent xs">
      <div class="modalHd">
        <h3></h3>
        <button class="modalClose"></button>
      </div>
      <div class="modalBody">
        <div class="modalText">
          이미 선택된 요일입니다.
        </div>
        <div class="modalBtnWrap">
          <button type="button" class="btn btn-blue modalOff">확인</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="payModal">
    <div class="modal-bg"></div>
    <div class="modalContent xs">
      <div class="modalHd">
        <h3></h3>
        <button class="modalClose"></button>
      </div>
      <div class="modalBody payMo">
        <label for="day" class="mb5">납부일</label>
        <div class="datepickerWrap mb12">
          <input type="text" name="day" id="day" class="input-df datepicker" id="payDate">
          <i class="i-date"></i>
        </div>
        <label for="payOption" class="mb5">납부방법</label>
        <select name="payOption" id="payOption" class="input-df">
          <option value="카드">카드</option>
          <option value="현금">현금</option>
          <option value="계좌이체">계좌이체</option>
        </select>
        <div class="modalBtnWrap">
          <button type="button" class="btn btn-blue modalOff" id="payCom">완납처리</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>
