<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<th:block th:fragment="header">
    <header class="header clearfix">
        <h1 class="logo"><a href="/">잇플</a></h1>
        <div class="nav-out">
            <ul class="gnb clearfix">

                <li th:if="${session.adminVO.menu2}">
                    <a href="/a2/p1">수업연계</a>
                    <ul class="lnb">
                        <li><a href="/a2/p1">과제</a></li>
                        <li><a href="/a2/p1?taskType=BOOK_REPORT">독후감</a></li>
                        <li><a href="/a2/p2">통합검색</a></li>
                    </ul>
                </li>
                <li th:if="${session.adminVO.menu3}">
                    <a href="/a3/p1">학생관리</a>
                    <ul class="lnb">
                        <li><a href="/a3/p1">미승인</a></li>
                        <li><a href="/a3/p1?academyType=CODING">잇플코딩</a></li>
                        <li><a href="/a3/p1?academyType=ENGLISH">잇플영어</a></li>
                    </ul>
                </li>
                <li th:if="${session.adminVO.menu4}">
                    <a href="/a4/p1">출결관리</a>
                    <ul class="lnb">
                        <li><a href="/a4/p1">출결관리</a></li>
                        <li><a href="/a4/p2">잇플코딩 출석페이지</a></li>
                        <li><a href="/a4/p2?attendanceType=ENGLISH">잇플영어 출석페이지</a></li>
                    </ul>
                </li>
                <li class="lnbBgN" th:if="${session.adminVO.menu1}"><a href="/a1/p1">도서목록</a></li>
                <li th:if="${session.adminVO.menu6}"><a href="/a6/p1?academyType=CODING">포트폴리오</a>
                    <ul class="lnb">
                        <li><a href="/a6/p1?academyType=CODING">잇플코딩</a></li>
                        <li><a href="/a6/p1?academyType=ENGLISH">잇플영어</a></li>
                    </ul>
                </li>
                <li th:if="${session.adminVO.menu7}">
                    <a href="/c1/p1">잇플 커뮤니티</a>
                    <ul class="lnb">
                        <li><a href="/c1/p1">잇플코딩</a></li>
                        <li><a href="/c1/p1?boardType=ENGLISH">잇플영어</a></li>
                    </ul>
                </li>
                <li class="lnbBgN" th:if="${session.adminVO.menu5}"><a href="/a5/p1">수납관리</a></li>
                <li th:if="${session.adminVO.menu8}">
                    <a href="/a7/p1">관리자 설정</a>
                    <ul class="lnb">
                        <li><a href="/a7/p1">반관리</a></li>
                        <li><a href="/a7/p2">관리자관리</a></li>
                    </ul>
                </li>
            </ul>
            <div class="hd-logout">
                <button type="button" class="logout-btn" onclick="location.href='/logout'">로그아웃</button>
            </div>
        </div>
        <div class="right-btn-box">
            <button class="ham-btn"></button>
        </div>
    </header>
    <div class="ham">
        <div class="right-bg"></div>
        <div class="ham-nav">
            <div class="ham-hd">
                <button class="ham-close"></button>
                <a href="/adminMyInfo" class="setting"></a>
            </div>
            <div class="ham-con">
                <p>
                    <span class="user-name" th:text="${session.adminVO.user.userName}">김잇플</span> 님
                    <button type="button" class="logout-btn" onclick="location.href='/logout'" style="float:right">로그아웃</button>
                </p>
                <ul class="ham-gnb">
                    <li th:if="${session.adminVO.menu2}"><button class="bot-btn"></button>
                        <a href="/a2/p1">수업연계</a>
                        <ul class="ham-lnb">
                            <li><a href="/a2/p1">과제</a></li>
                            <li><a href="/a2/p1?taskType=BOOK_REPORT">독후감</a></li>
                            <li><a href="/a2/p2">통합검색</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.adminVO.menu3}"><button class="bot-btn"></button>
                        <a href="/a3/p1">학생관리</a>
                        <ul class="ham-lnb li3">
                            <li><a href="/a3/p1">미승인</a></li>
                            <li><a href="/a3/p1?academyType=CODING">잇플코딩</a></li>
                            <li><a href="/a3/p1?academyType=ENGLISH">잇플영어</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.adminVO.menu4}"><button class="bot-btn"></button>
                        <a href="/a4/p1">출결관리</a>
                        <ul class="ham-lnb">
                            <li><a href="/a4/p1">출결관리</a></li>
                            <li><a href="/a4/p2">잇플코딩 출석페이지</a></li>
                            <li><a href="/a4/p2?attendanceType=ENGLISH">잇플영어 출석페이지</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.adminVO.menu1}"><a href="/a1/p1">도서목록</a></li>
                    <li th:if="${session.adminVO.menu6}"><button class="bot-btn"></button>
                        <a href="/a6/p1?academyType=CODING">포트폴리오</a>
                        <ul class="ham-lnb li3">
                            <li><a href="/a6/p1?academyType=CODING">잇플코딩</a></li>
                            <li><a href="/a6/p1?academyType=ENGLISH">잇플영어</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.adminVO.menu7}"><button class="bot-btn"></button>
                        <a href="/c1/p1">잇플 커뮤니티</a>
                        <ul class="ham-lnb">
                            <li><a href="/c1/p1">잇플코딩</a></li>
                            <li><a href="/c1/p1?boardType=ENGLISH">잇플영어</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.adminVO.menu5}"><a href="/a5/p1">수납관리</a></li>
                    <li th:if="${session.adminVO.menu8}"><button class="bot-btn"></button>
                        <a href="/a7/p1">관리자 설정</a>
                        <ul class="ham-lnb">
                            <li><a href="/a7/p1">반관리</a></li>
                            <li><a href="/a7/p2">관리자관리</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>
</html>
