<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<th:block th:fragment="header">
    <header class="header clearfix">
        <h1 class="logo"><a href="/">잇플</a></h1>
        <div class="nav-out">
            <ul class="gnb clearfix">
                <li>
                    <a href="/c1/p1">잇플 커뮤니티</a>
                    <ul class="lnb">
                        <li><a href="/c1/p1">잇플코딩</a></li>
                        <li><a href="/c1/p1?boardType=ENGLISH">잇플영어</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/c2/p1">수업연계</a>
                    <ul class="lnb lnb2">
                        <li><a href="/c2/p1">과제</a></li>
                        <li><a href="/c2/p2">독후감</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/c3/p1">도서대여</a>
                    <ul class="lnb lnb3">
                        <li><a href="/c3/p1">전체도서</a></li>
                        <li><a href="/c3/p2">대여기록</a></li>
                    </ul>
                </li>
                <li class="lnbBgN"><a href="/c4/p1">포트폴리오</a></li>
            </ul>
            <div class="hd-logout">
                <button type="button" class="logout-btn" onclick="location.href='/logout'">로그아웃</button>
            </div>
            <div class="lnbBg"></div>
        </div>
        <div class="right-btn-box">
            <button class="ham-btn"></button>
        </div>
    </header>
    <div class="ham">
        <div class="right-bg"></div>
        <div class="ham-nav">
            <div class="ham-hd">
                <button class="ham-close"></button>
                <a href="sub/myinfo.html" class="setting"></a>
            </div>
            <div class="ham-con">
                <p><span class="user-name">김잇플</span> 님</p>
                <p>포인트 : <span class="user-point">1,000</span></p>
                <ul class="ham-gnb">
                    <li>
                        <button class="bot-btn"></button><a href="">잇플 커뮤니티</a>
                        <ul class="ham-lnb">
                            <li><a href="">잇플코딩</a></li>
                            <li><a href="">잇플영어</a></li>
                        </ul>
                    </li>
                    <li>
                        <button class="bot-btn"></button><a href="">수업연계</a>
                        <ul class="ham-lnb">
                            <li><a href="">과제</a></li>
                            <li><a href="">독후감</a></li>
                        </ul>
                    </li>
                    <li>
                        <button class="bot-btn"></button><a href="sub/bookList.html">도서대여</a>
                        <ul class="ham-lnb">
                            <li><a href="sub/bookList.html">전체도서</a></li>
                            <li><a href="sub/bookRecord.html">대여기록</a></li>
                        </ul>
                    </li>
                    <li><a href="">포트폴리오</a></li>
                </ul>
            </div>
        </div>
    </div>
</th:block>
</html>
