<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="_csrf" content="${_csrf.token}" />
    <meta name="_csrf_header" content="${_csrf.headerName}" />
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">ITPLE</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!--3rd party start-->
    <!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!--    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>-->
    <!--    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
    <!--    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->

    <!--    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet" type="text/css">-->

    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/prefixfree.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/loadingoverlay.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.kr.min.js"></script>

    <link href="/assets/css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/slick.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" type="text/css">
    <!--3rd party end-->

    <!--css-->
    <link href="/assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/common.css" rel="stylesheet" type="text/css">

    <!--[if lte ie 9]>
    <p style="font-size: 18px; color: #333; background: #fff; padding:5px 0; margin: 0; text-align: center; position: absolute; width: 100%; z-index: 9999">
        사용하고 계신 브라우저는 최신 웹 브라우저가 아닙니다. 업그레이드를 하거나 다른 최신 브라우저 사용을 권장합니다.
        <a href="http://www.microsoft.com/korea/ie" target="_blank" >익스플로러,</a>
        <a href="http://www.mozilla.or.kr/ko/" target="_blank">파이어폭스,</a>
        <a href="http://kr.opera.com/download/" target="_blank">오페라,</a>
        <a href="http://support.apple.com/kb/DL1531?viewlocale=ko_KR&locale=ko_KR" target="_blank">사파리,</a>
        <a href="http://www.google.com/chrome?hl=ko" target="_blank">크롬</a>
    </p>
    <![endif]-->
</head>
<body>
    <div id="wrap">
        <th:block sec:authorize="hasAuthority('STUDENT')" th:replace="layout/header"></th:block>
        <th:block sec:authorize="hasAuthority('ADMIN')" th:replace="layout/adminHeader"></th:block>

        <th:block layout:fragment="content"></th:block>

        <th:block th:replace="layout/footer"></th:block>
    </div>

    <th:block th:replace="layout/modal"></th:block>

    <!-- JS start -->
    <script type="text/javascript" th:src="@{/assets/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/customUtil.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/prototype-array.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/prototype-date.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/prototype-number.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/prototype-string.js}"></script>
    <!-- JS end -->
</body>
</html>