<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<th:block th:fragment="modal">
    <div class="modal" id="alert-modal">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="confirm-modal">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">

                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-gray modalOff">취소</button>
                    <button type="button" class="btn btn-blue" id="confirm-callback-btn">확인</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
