<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<th:block th:fragment="modal">
    <div class="modal" id="alert-modal">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="confirm-modal">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">

                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-gray modalOff">취소</button>
                    <button type="button" class="btn btn-blue" id="confirm-callback-btn">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="removeMo">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                    선택 도서를 정말 삭제하시겠습니까?<br>
                    삭제한 도서는 복구할 수 없습니다.
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-red modalOff" onclick="goAction('D1')">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="pcQR">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                    QR 촬영은 모바일에서 가능합니다.<br>
                    PC에서는 도서명을 검색해주세요.
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="commDelMo">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                댓글을 삭제합니다.
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-red modalOff">삭제</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="commOt">
        <div class="modal-bg"></div>
        <div class="modalContent md">
            <div class="modalHd">
                <h3>게시판 설정</h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody commOption">
                <label for="" class="mb5">쓰기 권한</label>
                <select name="" id="" class="input-df">
                    <option value="관리자 이상">관리자 이상</option>
                    <option value="전체">전체</option>
                </select>
                <div class="categoryBox">
                    <label for="" class="mb5">카테고리</label>
                    <input type="text" class="categoryInput"><button type="button" class="btn-add"></button>
                    <div class="categoryCon">
                        <div>
                            <p class="categoryTit">수업</p>
                            <div class="modiBtn-box">
                                <button class="categoryModi"></button>
                                <button class="categoryRemove"></button>
                            </div>
                        </div>
                        <div>
                            <p class="categoryTit">공지사항</p>
                            <div class="modiBtn-box">
                                <button class="categoryModi"></button>
                                <button class="categoryRemove"></button>
                            </div>
                        </div>
                        <div>
                            <p class="categoryTit">학부모 소통</p>
                            <div class="modiBtn-box">
                                <button class="categoryModi"></button>
                                <button class="categoryRemove"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff">저장하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="cateDel">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody commOption">
                <div class="modalText">
                    카테고리를 정말 삭제하시겠습니까?<br>
                    삭제한 카테고리는 복구할 수 없지만<br>
                    카테고리 내의 글은 삭제되지 않습니다.
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-red modalOff">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="payModal">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody payMo">
                <label for="" class="mb5">납부일</label>
                <div class="datepickerWrap mb12">
                    <input type="text" class="input-df datepicker" id="payDate">
                    <i class="i-date"></i>
                </div>
                <label for="" class="mb5">납부방법</label>
                <select name="payOption" id="payOption" class="input-df">
                    <option value="카드">카드</option>
                    <option value="현금">현금</option>
                    <option value="계좌이체">계좌이체</option>
                </select>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff" id="payCom">완납처리</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="submitMo">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                    과제를 제출하시겠습니까?
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal " id="reportMo">
        <div class="modal-bg"></div>
        <div class="modalContent lg">
            <div class="modalHd">
                <h3>독후감 확인</h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalHead">
                    <p class="modalGroup">[잇플코딩 기초입문반A]</p>
                    <p class="modalTit">EBS 강사가 추천하는 PAV 모빌리티 인기학과 진로코칭</p>
                    <p class="modalName">김잇플</p>
                </div>
                <div class="modalMain">
                    독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다.
                    독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다.
                    독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다.
                </div>
                <div class="mo-fileBox">
                    <div class="fileHead">
                        <p>첨부파일</p>
                    </div>
                    <ul class="fileUP">
                        <li>첨부파일_1.jpg</li>
                        <li>첨부파일_2.jpg</li>
                        <li>첨부파일_3.jpg</li>
                        <li>첨부파일_4.jpg</li>
                        <li>첨부파일_5.jpg</li>
                        <li>첨부파일_6.jpg</li>
                        <li>첨부파일_7.jpg</li>
                    </ul>
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff">확인하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal " id="taskMo">
        <div class="modal-bg"></div>
        <div class="modalContent lg">
            <div class="modalHd">
                <h3>과제 확인</h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalHead">
                    <p class="modalGroup">[잇플코딩 기초입문반A]</p>
                    <p class="modalTit">수업 내용을 바탕으로 파이썬 실습내용 복습해보기</p>
                    <p class="modalName">김잇플</p>
                </div>
                <div class="modalMain">
                    과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다.
                    과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다.
                    과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다.
                    과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다. 과제 내용입니다.
                </div>
                <div class="mo-fileBox">
                    <div class="fileHead">
                        <p>첨부파일</p>
                    </div>
                    <ul class="fileUP">
                        <li>첨부파일_1.jpg</li>
                        <li>첨부파일_2.jpg</li>
                        <li>첨부파일_3.jpg</li>
                        <li>첨부파일_4.jpg</li>
                        <li>첨부파일_5.jpg</li>
                        <li>첨부파일_6.jpg</li>
                        <li>첨부파일_7.jpg</li>
                    </ul>
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff">확인하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="chkMo">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                    이미 선택된 요일입니다.
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff">확인</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
