<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<th:block th:fragment="navigation">
    <aside id="sidebar" >
        <th:block th:switch="${session.loginVO.roleList[0].getRoleValue()}">
            <div th:case="'ROLE_5'" class="logo" onclick="ut.redirect('/c2/p1');">
                <img src="./img/logo.svg" alt="LEADERS">
            </div>
            <div th:case="'ROLE_6'" class="logo" onclick="ut.redirect('/c1/p1');">
                <img src="./img/logo.svg" alt="LEADERS">
            </div>
            <div th:case="*" class="logo" onclick="ut.redirect('/c2/p2');">
                <img src="./img/logo.svg" alt="LEADERS">
            </div>
        </th:block>
        <div class="customScroll gnb-list">
            <article th:each="menu1 : ${session.loginVO.roleList[0].menuList}"
                     th:if="${menu1.upperMenu == null}"
                     th:classappend="${#strings.contains(menu1.link,className) ? 'on' : ''}">
                <h2><a th:href="${menu1.link}" th:classappend="${menu1.iconClass}" class="iBtn">[[${menu1.title}]]</a></h2>
                <ul>
                    <li th:each="menu2 : ${session.loginVO.roleList[0].menuList}"
                        th:if="${menu2.upperMenu != null and menu2.upperMenu.seq == menu1.seq}"
                        th:classappend="${#strings.contains(menu1.link,className) and #strings.contains(menu2.link,methodName) ? 'on' : ''}">
                        <a th:href="${menu2.link}">[[${menu2.title}]]</a>
                    </li>
                </ul>
            </article>
        </div>
    </aside>
</th:block>
</html>
