<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>수납관리</title>
</head>
<body class="adminBody">
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">수납관리</h1>
        <div class="tab clearfix">
            <ul class="tab-ul">
                <li th:classappend="${#strings.equals(params.academyType,'CODING') ? 'active' : ''}"><a href="/a5/p1">잇플 코딩</a></li>
                <li th:classappend="${#strings.equals(params.academyType,'ENGLISH') ? 'active' : ''}"><a href="/a5/p1?academyType=ENGLISH">잇플 영어</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="adSearch clearfix selSearch">
                <form id="form1" name="form1" action="" class="adSearch-in">
                    <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
                    <input type="hidden" id="academyType" name="academyType" th:value="${params.academyType}">
                    <div class="in-box">
                        <select name="paymentStatus" id="paymentStatus">
                            <option value="">전체</option>
                            <option th:each="el : ${T(com.softj.itple.domain.Types.PaymentStatus).values()}" th:value="${el}" th:text="${el.message}"
                                    th:selected="${#strings.equals(el, params.paymentStatus)}"></option>
                        </select>
                        <select name="year" id="year">
                            <option th:each="num : ${#numbers.sequence(2,-5)}"
                                    th:with="year=${T(java.lang.Integer).parseInt(#temporals.format(#temporals.createNow(),'yyyy')) + num}"
                                    th:value="${year}"
                                    th:text="|${year}년|"
                                    th:selected="${#strings.equals(year, params.year)}">2022</option>
                        </select>
                        <select name="month" id="month">
                            <option th:each="num : ${#numbers.sequence(1,12)}"
                                    th:value="${num}"
                                    th:text="|${num}월|"
                                    th:selected="${#strings.equals(num, params.month)}"></option>
                        </select>
                        <select name="searchType" id="searchType">
                            <option value="userName" th:selected="${#strings.equals(param.searchType, 'userName')}">이름</option>
                            <option value="paymentType" th:selected="${#strings.equals(param.searchType, 'paymentType')}">납부방법</option>
                            <option value="parentName" th:selected="${#strings.equals(param.searchType, 'parentName')}">학부모 이름</option>
                        </select>
                        <select name="searchPaymentType" id="searchPaymentType" th:style="${#strings.equals(params.getSearchType(),'paymentType') ? 'display:inline': 'display:none'}" th:value="${params.getSearchValue()}">
                            <option value="">전체</option>
                            <option th:each="er : ${T(com.softj.itple.domain.Types.PaymentType).values()}"
                                    th:selected="${er == params.searchPaymentType}"
                                    th:value="${er}" th:text="${er.message}">카드
                            </option>
                        </select>
                        <input type="text" name="searchValue" id="searchValue"  th:style="${!#strings.equals(params.getSearchType(),'paymentType') ? 'display:inline': 'display:none'}" th:value="${params.getSearchValue()}" placeholder="검색">
                    </div>
                    <button type="button" class="src-btn" onClick="goSearch();"></button>
                </form>
            </div>
            <style>
                .leftBox {
                    position:relative;
                }
                .leftBox button.ComBtn{
                    position: absolute;
                    left:0px;
                    bottom: 0px;
                }
                .leftBox button.NonBtn{
                    position: absolute;
                    left:125px;
                    bottom: 0px;
                }
                .container{
                    position: relative;
                    margin-right: 8px;
                    float: left;
                    gap: 15px;
                }
                .chart{
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                span.center{
                    background:#fff;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left:50%;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 20px;
                    font-size: 10px;
                    transform: translate(-50%, -50%);
                }
                .rightBox .totBox{
                    display: inline-block;
                    width:180px;
                    height:auto;
                    border: 1px solid #BBBBBB;
                    border-radius: 3px;
                    padding: 15px;
                }
                .rightBox .totBox .totHead{
                    margin-bottom:10px;
                    line-height: 38px;
                    font-size: 16px;
                    color: #2D7AC0;
                    font-family: 'Pretendard-Bold';
                }
                .rightBox .totBox ul li{
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            </style>
            <div class="tableBtn-box">
                <div class="leftBox">
                    <button type="button" class="m-btn btn-line ComBtn">선택 완납처리</button>
                    <button type="button" class="m-btn btn-line NonBtn">선택 미납처리</button>
                    <input type="hidden" name="studentIdList" id="studentIdList" />
                    <input type="hidden" name="paymentIdList" id="paymentIdList" />
                    <input type="hidden" name="paymentDayList" id="paymentDayList" />
                    <input type="hidden" name="priceList" id="priceList" />
                </div>
                <div class="rightBox">
                    <div class="totBox">
                        <div class="container">
                            <div class="chart year">
                                <span class="center" th:if="${params.totalMonth.totalCost == 0}">0%</span>
                                <span class="center" th:if="${params.totalMonth.totalCost != 0}" th:with="per=${params.totalYear.payCost} / (${params.totalMonth.totalCost} * 12)" th:text="${#numbers.formatPercent(per,0,0)}"></span>
                            </div>
                        </div>
                        <div class="totHead">
                            <p>Total<span th:text="|(${params.year})|"></span></p>
                        </div>
                        <ul>
                            <li>총액 : <span th:text="${#numbers.formatInteger(params.totalMonth.totalCost * 12,0,'COMMA')}"></span></li>
                            <li>납부 : <span th:text="${#numbers.formatInteger(params.totalYear.payCost,0,'COMMA')}"></span></li>
                            <li>미납 : <span th:text="${#numbers.formatInteger(( params.totalMonth.totalCost * 12 ) - params.totalYear.payCost,0,'COMMA')}"></span></li>
                        </ul>
                    </div>
                    <div class="totBox">
                        <div class="container">
                            <div class="chart month">
                                <span class="center" th:if="${params.totalMonth.totalCost == 0}">0%</span>
                                <span class="center" th:if="${params.totalMonth.totalCost != 0}" th:with="per=${params.totalMonth.payCost} / ${params.totalMonth.totalCost}" th:text="${#numbers.formatPercent(per,0,0)}"></span>
                            </div>
                        </div>
                        <div class="totHead">
                            <p th:text="|${params.year}-${params.month < 10 ? '0'+params.month : params.month}|"></p>
                        </div>
                        <ul>
                            <li>총액 : <span th:text="${#numbers.formatInteger(params.totalMonth.totalCost,0,'COMMA')}"></span></li>
                            <li>납부 : <span th:text="${#numbers.formatInteger(params.totalMonth.payCost,0,'COMMA')}"></span></li>
                            <li>미납 : <span th:text="${#numbers.formatInteger(params.totalMonth.totalCost - params.totalMonth.payCost,0,'COMMA')}"></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <input type="hidden" name="year" id="nyear" th:value="${params.year}"/>
            <input type="hidden" name="month" id="nmonth" th:value="${params.month}"/>

            <table class="adTable payTable checklist">
                <thead class="adTable-head">
                <tr>
                    <th><input type="checkbox" id="all-chk"><label for="all-chk"></label></th>
                    <th>저장</th>
                    <th>학생</th>
                    <th>보호자</th>
                    <th>수강료</th>
                    <th>납부액</th>
                    <th>실제납부일</th>
                    <th>납부방법</th>
                    <th>메모</th>
                    <th>미납</th>
                </tr>
                </thead>
                <tbody class="adTable-body ">
                <tr th:each="el : ${list}">
                    <td><input type="checkbox" name="seqList" th:id="|ch${elStat.count}|"><label th:for="|ch${elStat.count}|"></label>
                        <input type="hidden" name="id" class="id" th:value="${el.payment != null ? el.payment.id : 0}"/>
                        <input type="hidden" name="studentId" class="studentId" th:value="${el.id}"/>
                        <input type="hidden" name="paymentDay" class="paymentDay" th:value="${el.paymentDay}"/>
                        <input type="hidden" name="price" class="price" th:value="${el.price}"/>
                    </td>
                    <td>
                        <button type="button" class="saveBtn">저장</button>
                    </td>
                    <td><span th:text="${el.user.userName}"></span></td>
                    <td><span th:text="${el.parentName}"></span></td>
                    <td><span th:text="${#numbers.formatInteger(el.price,0,'COMMA')}"></span></td>
                    <td><input type="text" name="cost" class="cost payComMoney alignR"
                               th:value="${el.payment != null ? #numbers.formatInteger(el.payment.cost,0,'COMMA') : ''}">
                    </td>
                    <td>
                        <input type="text" name="paymentDate" class="paymentDate payDate input-df datepicker"
                               th:value="${el.payment != null ? el.payment.paymentDate : ''}">
                    <td>
                        <select name="paymentType" class="paymentType payOption">
                            <option th:each="er : ${T(com.softj.itple.domain.Types.PaymentType).values()}"
                                    th:selected="${er}==${el.payment != null ? el.payment.paymentType : ''}"
                                    th:value="${er}" th:text="${er.message}">카드
                            </option>
                        </select>
                    </td>
                    <td><input type="text" name="memo" class="memo"
                               th:value="${el.payment != null ? el.payment.memo : ''}"></td>
                    <td>
                        <select name="paymentStatus" th:id="|paymentStatus_${elStat.count}|" class="paymentStatus">
                            <option th:each="er : ${T(com.softj.itple.domain.Types.PaymentStatus).values()}"
                                    th:value="${er}" th:text="${er.message}" th:selected="${el.payment == null ? #strings.equals(er,'NONE') : #strings.equals(er,el.payment.status)}">미납
                            </option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--페이지네이션-->
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
    </div>
    <div class="modal" id="payModal">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody payMo">
                <label for="paymentDateModal" class="mb5">납부일</label>
                <div class="datepickerWrap mb12">
                    <input type="text" class="input-df datepicker" name="paymentDate" id="paymentDateModal">
                    <i class="i-date"></i>
                </div>
                <label for="paymentTypeModal" class="mb5">납부방법</label>
                <select name="paymentType" id="paymentTypeModal" class="input-df">
                    <option th:each="er : ${T(com.softj.itple.domain.Types.PaymentType).values()}" th:value="${er}" th:text="${er.message}">카드</option>
                </select>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff" id="payCom">완납처리</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="nonModal">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody payMo">
                선택한 수납대상을 미납처리 하시겠습니까?
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue modalOff" id="payNon">미납처리</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/js/a5/a5p1.js(v='1.0.0')}"></script>
    <script th:inline="javascript">

        $(document).ready(function () {

            $("#searchType").on("change", function(){
                var searchType = $(this).val();
                $("#searchValue").val("");
                $("#searchPaymentType").val("");
                if(searchType == "userName" || searchType == "parentName"){
                    $("#searchValue").css("display","inline");
                    $("#searchPaymentType").css("display","none");
                }else{
                    $("#searchValue").css("display","none");
                    $("#searchPaymentType").css("display","inline");
                }
            });

            $(".datepicker").datepicker({
                format     : "yyyy-mm-dd",
                language   : "ko",
                orientation: "auto"
            });
            $('.ComBtn').on('click', function () {
                if($("input[name=seqList]:checked").length == 0){
                    modal.alert("완납처리할 항목을 선택하세요.");
                    return;
                }

                var studentIdArr = new Array();
                var paymentIdArr = new Array();
                var paymentDayArr = new Array();
                var priceArr = new Array();

                $("input[name=seqList]:checked").each(function(){
                    var studentId = $(this).parent().find(".studentId").val();
                    var paymentId = $(this).parent().find(".id").val();
                    var paymentDay = $(this).parent().find(".paymentDay").val();
                    var price = $(this).parent().find(".price").val();

                    studentIdArr.push(studentId);
                    paymentIdArr.push(paymentId);
                    paymentDayArr.push(paymentDay)
                    priceArr.push(price);

                    $("#studentIdList").val(studentIdArr);
                    $("#paymentIdList").val(paymentIdArr);
                    $("#paymentDayList").val(paymentDayArr);
                    $("#priceList").val(priceArr);

                });
                $('#payModal').addClass('on');
            });
            $('.NonBtn').on('click', function () {
                if($("input[name=seqList]:checked").length == 0){
                    modal.alert("미납처리할 항목을 선택하세요.");
                    return;
                }

                var paymentIdArr = new Array();
                var nonCnt = 0;
                $("input[name=seqList]:checked").each(function(){
                    var paymentId = $(this).parent().find(".id").val();
                    paymentIdArr.push(paymentId);

                    $("#paymentIdList").val(paymentIdArr);

                    var nonText = $(this).parents("tr").find("td:last-child").text();
                    if(nonText == "미납"){
                        nonCnt++;
                    }
                });

                if(nonCnt > 0){
                    modal.alert("미납된 항목을 선택하셨습니다. 미납항목은 제외하고 선택해주세요.");
                    return;
                }

                goAction("D1");
            });

            $(document).on("click", ".modalClose, .modalOff, .modal-bg", function () {
                $(this).parents('.modal').removeClass('on');
            });

            $(document).on("click", "#payCom", function () {
                var payDate = $("#paymentDateModal").val();
                var payOption = $("#paymentTypeModal option:selected").index();

                $("input[name=seqList]:checked").each(function(){
                    $(this).parents("tr").find("input.payDate").val(payDate);
                    $(this).parents("tr").find(".payOption option:eq(" + payOption + ")").attr('selected', 'selected');
                    $(this).parents("tr").find("td:last-child").text('');
                });

                var nyear = $("#nyear").val();
                var nmonth = $("#nmonth").val();
                var paymentDate = $("#paymentDateModal").val();
                var paymentType = $("#paymentTypeModal").val();

                goAction("S2",nyear,nmonth,paymentDate,paymentType);
            });

            $(document).on("click", ".saveBtn", function () {


                var id = $(this).parent().siblings().find(".id").val();
                var studentId = $(this).parent().siblings().find(".studentId").val();
                var cost = $(this).parent().siblings().find(".cost").val();
                cost = cost.replace(/[^0-9]/g, '');
                var paymentDate = $(this).parent().siblings().find(".paymentDate").val();
                var paymentType = $(this).parent().siblings().find(".paymentType").val();
                var memo = $(this).parent().siblings().find(".memo").val();
                var paymentDay = $(this).parent().siblings().find(".paymentDay").val();
                var price = $(this).parent().siblings().find(".price").val();
                var paymentStatus = $(this).parent().siblings().find(".paymentStatus").val();
                var nyear = $("#nyear").val();
                var nmonth = $("#nmonth").val();



                goAction("S1", id, studentId, cost, paymentDate, paymentType, memo, nyear, nmonth, paymentDay, price, paymentStatus);
            });

            const chart1 = document.querySelector(".totBox .container .year");
            const chart2 = document.querySelector(".totBox .container .month");

            const makeChart = (percent, classname, color) => {
                let i = 1;
                let chartFn = setInterval(function(){
                   if(i <= percent){
                       colorFn(i, classname, color);
                       i++;
                   }else{
                       clearInterval(chartFn);
                   }
                }, 10);
            }

            const colorFn = (i, classname, color) => {
                classname.style.background = "conic-gradient("+color+" 0% "+i+"%, #dedede "+i+"% 100%)";
            }
            $(document).ready(function(){
                var percentYear = 0;
                var percentMonth = 0;

                if([[${params.totalMonth.totalCost}]] != 0) {
                    percentYear = parseInt([[${params.totalYear.payCost}]] / ([[${params.totalMonth.totalCost}]] * 12) * 100);
                    percentMonth = parseInt([[${params.totalMonth.payCost}]] / [[${params.totalMonth.totalCost}]] * 100);
                }

                makeChart(percentYear, chart1, '#2D7AC0');
                makeChart(percentMonth, chart2, '#2D7AC0');
            });
        });
    </script>
</th:block>
</body>
</html>



