<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>도서대여</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="form1">
<!--        <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">-->
    </form>
    <div class="content">
        <h1 class="responsiveH1">도서대여</h1>
        <div class="tab clearfix">
            <ul class="tab-ul">
                <li class="active"><a href="/c3/p1">전체도서</a></li>
                <li ><a href="/c3/p2">대여기록</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="search clearfix">
                <form action="" class="search-in">
                    <div class="in-box">
                        <select name="" id="">
                            <option value="">전체</option>
                            <option value="">책제목</option>
                            <option value="">저자</option>
                        </select>
                        <input type="text">
                    </div>
                    <button type="button" class="src-btn"></button>
                </form>
            </div>
            <ul class="book-box  clearfix">
                <li class="book-list ">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book1.jpg);"></div>
                        <div class="book-info">
                            <span class="rental">대여중</span>
                            <p class="book-tit">영재를 위한 엔트리 수학 vol.3</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book2.jpg);"></div>
                        <div class="book-info">
                            <span class="delay">연체</span>
                            <p class="book-tit">영재를 위한 엔트리 수학 vol.3</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book3.jpg);"></div>
                        <div class="book-info">
                            <span class="available">대여가능</span>
                            <p class="book-tit">정보 sw,로봇 영재원 대비 문제집</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book4.jpg);"></div>
                        <div class="book-info">
                            <span class="available">대여가능</span>
                            <p class="book-tit">파이썬 첫 걸음</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book3.jpg);"></div>
                        <div class="book-info">
                            <span class="available">대여가능</span>
                            <p class="book-tit">정보 sw,로봇 영재원 대비 문제집</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book3.jpg);"></div>
                        <div class="book-info">
                            <span class="available">대여가능</span>
                            <p class="book-tit">정보 sw,로봇 영재원 대비 문제집</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book3.jpg);"></div>
                        <div class="book-info">
                            <span class="available">대여가능</span>
                            <p class="book-tit">정보 sw,로봇 영재원 대비 문제집</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book3.jpg);"></div>
                        <div class="book-info">
                            <span class="available">대여가능</span>
                            <p class="book-tit">정보 sw,로봇 영재원 대비 문제집</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book2.jpg);"></div>
                        <div class="book-info">
                            <span class="delay">연체</span>
                            <p class="book-tit">영재를 위한 엔트리 수학 vol.3</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book3.jpg);"></div>
                        <div class="book-info">
                            <span class="available">대여가능</span>
                            <p class="book-tit">정보 sw,로봇 영재원 대비 문제집</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book4.jpg);"></div>
                        <div class="book-info">
                            <span class="available">대여가능</span>
                            <p class="book-tit">파이썬 첫 걸음</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
                <li class="book-list">
                    <a href="">
                        <div class="book-img" style="background-image: url(../assets/img/book2.jpg);"></div>
                        <div class="book-info">
                            <span class="delay">연체</span>
                            <p class="book-tit">영재를 위한 엔트리 수학 vol.3</p>
                            <p class="book-author">잇플ITPLE</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
<!--        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>-->
    </div>

    <script th:src="@{/assets/js/c3/c3p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
</th:block>
</body>
</html>