<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>관리자 설정</title>
</head>
<body class="adminBody">
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">SMS관리</h1>
        <div class="content-in clearfix">
            <div class="clearfix">
                <form id="form1" name="form1" class="formF">
                    <input type="hidden" id="page" name="page" th:value="${data.get('firstPage')}">
                    <input type="hidden" id="pageOffset" name="pageOffset"  th:value="${data.get('firstPageOffset')}">
                    <input type="hidden" id="pageNum" name="pageNum" th:value="${params.pageNum}">
                    <!--<input type="hidden" id="pageList" name="pageList" th:value="${data.get('pageList')}">
                    <input type="hidden" id="pageOffsetList" name="pageOffsetList"  th:value="${data.get('pageOffsetList')}">-->
                    <!--<input type="hidden" id="nextPage" name="nextPage" th:value="${data.get('nextPage')}">
                    <input type="hidden" id="prevPage" name="prevPage" th:value="${data.get('prevPage')}">
                    <input type="hidden" id="nextPageOffset" name="nextPageOffset" th:value="${data.get('nextPageOffset')}">
                    <input type="hidden" id="prevPageOffset" name="prevPageOffset" th:value="${data.get('prevPageOffset')}">
                    <input type="hidden" id="savePrePrevPage" name="savePrePrevPage" th:value="${data.get('savePrePrevPage')}">
                    <input type="hidden" id="savePrePrevOffset" name="savePrePrevOffset" th:value="${data.get('savePrePrevOffset')}">
                    <input type="hidden" id="savePrePrevPage2" name="savePrePrevPage2" th:value="${data.get('savePrePrevPage2')}">
                    <input type="hidden" id="savePrePrevOffset2" name="savePrePrevOffset2" th:value="${data.get('savePrePrevOffset2')}">
                    <input type="hidden" id="savePrevPage" name="savePrevPage" th:value="${data.get('savePrevPage')}">
                    <input type="hidden" id="savePrevOffset" name="savePrevOffset" th:value="${data.get('savePrevOffset')}">
                    <input type="hidden" id="prev" name="prev" th:value="${data.get('prev')}">-->
                    <div class="formWrap formWrap2">
                        <table class="formLeft">
                            <tbody>
                            <tr>
                                <td class="formTit"><label for="startDate" class="">조회시작일자</label></td>
                                <td>
                                    <div class="datepickerWrap">
                                        <input type="text" name="startDate" id="startDate" class="input-df datepicker" th:value="${params.startDate}"/>
                                        <i class="i-date"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="formRight">
                            <tbody>
                            <tr>
                                <td class="formTit"><label for="limitDay1" class="">조회기간</label></td>
                                <td class="radioTd">
                                    <input type="radio" name="limitDay" id="limitDay1" th:checked="${params.limitDay == 1}" value="1"><label for="limitDay1">하루</label>
                                    <input type="radio" name="limitDay" id="limitDay2" th:checked="${params.limitDay == 7}" value="7"><label for="limitDay2">일주일</label>
                                    <input type="radio" name="limitDay" id="limitDay3" th:checked="${params.limitDay == 30}" value="30"><label for="limitDay3">한달</label>
                                    <input type="radio" name="limitDay" id="limitDay4" th:checked="${params.limitDay == 90}" value="90"><label for="limitDay4">3개월</label>
                                    <input type="radio" name="limitDay" id="limitDay5" th:checked="${params.limitDay == 180}" value="180"><label for="limitDay5">6개월</label>
                                    <input type="radio" name="limitDay" id="limitDay6" th:checked="${params.limitDay == 365}" value="365"><label for="limitDay6">1년</label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="formSear">
                        <a href="javascript:goSearch();" class="aBtn">검색</a>
                    </div>
                </form>
            </div>
            <div class="tableBtn-box">
                <div class="leftBox">
                </div>
                <div class="rightBox">
                    <a href="/a8/p1-write" class="a-btn">메시지 전송</a>
                </div>
            </div>
            <table class="adTable smsTable checklist">
                <thead class="adTable-head">
                <tr>
                    <th>번호</th>
                    <!--<th>이름</th>-->
                    <th>내용</th>
                    <th>발송건수</th>
                    <th>전송상태</th>
                    <!--<th>수신번호</th>-->
                    <th>발송일자</th>
                </tr>
                </thead>
                <tbody class="adTable-body sms-body">
                <tr th:each="el : ${data.get('list')}">
                    <td>
                        <!--<span th:text="${data.get('list').pageable.offset+elStat.count}"></span>-->
                        <span th:text="${(20*params.pageNum)+elStat.count}"></span>
                    </td>
                    <!--<td>김잇플</td>-->
                    <td th:text="${el.msg}">메시지 내용 메시지 내용 메시지 내용 메시지 내용 메시지 내용메시지 내용 메시지 내용 메시지 내용 메시지 내용 메시지 내용</td>
                    <td th:text="${el.sms_count}">3</td>
                    <td th:text="${el.reserve_state}">전송완료</td>
                    <!--<td th:text="${el['sender']}">010-1234-5678</td>-->
                    <td th:text="${el.reg_date}">2022.09.16</td>
                    <input type="hidden" name="id" th:value="${elStat.count}"/>
                    <input type="hidden" name="type" th:id="|type${elStat.count}|" th:value="${el.type}"/>
                    <input type="hidden" name="mid" th:id="|mid${elStat.count}|" th:value="${el.mid}"/>
                    <input type="hidden" name="msg" th:id="|msg${elStat.count}|" th:value="${el.msg}"/>
                </tr>
                </tbody>
            </table>
        </div>
        <!--페이지네이션-->
        <th:block th:with="totalPageSize=${data.get('totalPageSize')}, pageList=${data.get('pageList')}, pageOffsetList=${data.get('pageOffsetList')}, pageNum=${params.pageNum}" th:include="layout/smsPagination :: pagination"></th:block>
       <!-- <ul class="pagination pagi2">
            <li class="page-arrow" th:if="${params.pageNum > 0}"><a class="page-link p-L1" href="javascript:void(0)" onclick="prev()">이전</a></li>
            <li class="page-arrow" th:if="${#strings.equals(data.get('nextYn'),'Y')}"><a class="page-link p-R1" href="javascript:void(0)" onclick="next()">다음</a></li>
        </ul>-->
    </div>
    <div class="modal" id="smsModal">
        <div class="modal-bg"></div>
        <div class="modalContent xs sms-modal">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody payMo">
                <!--내용-->

            </div>
        </div>
    </div>
    <script th:src="@{/assets/js/a8/a8p1.js(v='1.0.0')}"></script>
    <script th:inline="javascript">
        $(".datepicker").datepicker({
            format: "yyyy-mm-dd",
            language: "ko",
            orientation: "auto"
        });
        $('.smsTable tbody tr').on('click', function () {
            var id = $(this).find("input[name=id]").val();
            goAction("P1", id);
        });
        $(document).on("click", ".modalClose, .modalOff, .modal-bg", function(){
            $(this).parents('.modal').removeClass('on');
        })

        function prev(){
            $("#page").val($("#prevPage").val());
            $("#pageOffset").val(parseInt($("#prevPageOffset").val()));
            $("#pageNum").val(parseInt($("#pageNum").val())-1);
            $("#prev").val("Y");
            $("#form1").submit();
        }
        function next(){
            $("#page").val($("#nextPage").val());
            $("#pageOffset").val(parseInt($("#nextPageOffset").val()));
            $("#pageNum").val(parseInt($("#pageNum").val())+1);
            $("#prev").val("");
            $("#form1").submit();
        }
        function goWrite(){
            location.href="/a7/p1-write?academyType="+[[${params.academyType}]];
        }
    </script>
</th:block>
</body>
</html>






