<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>도서목록</title>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>-->
    <script src="/assets/js/axios.min.js"></script>
</head>
<body class="adminBody">
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">도서목록</h1>
        <div class="tab clearfix">
            <ul class="tab-ul">
                <li th:classappend="${#strings.equals(params.academyType,'CODING') ? 'active' : ''}"><a href="/a1/p1">잇플 코딩</a></li>
                <li th:classappend="${#strings.equals(params.academyType,'ENGLISH') ? 'active' : ''}"><a href="/a1/p1?academyType=ENGLISH">잇플 영어</a></li>
            </ul>
        </div>
        <div class="tab2 clearfix">
            <ul class="tab-ul2">
                <li th:class="${#strings.isEmpty(params.rentalStatus) ? 'active' : ''}"><a href="/a1/p1">전체</a></li>
                <li th:class="${#strings.equals(params.rentalStatus, 'DELINQUENT') ? 'active' : ''}"><a th:href="|/a1/p1?academyType=${params.academyType}&rentalStatus=DELINQUENT|">연체중</a></li>
                <li th:class="${#strings.equals(params.rentalStatus, 'LOAN') ? 'active' : ''}"><a th:href="|/a1/p1?academyType=${params.academyType}&rentalStatus=LOAN|">대여중</a></li>
                <li th:class="${#strings.equals(params.rentalStatus, 'AVAILABLE') || #strings.equals(params.rentalStatus, 'RETURN') ? 'active' : ''}"><a th:href="|/a1/p1?academyType=${params.academyType}&rentalStatus=AVAILABLE|">대여하기</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="adSearch clearfix">
                <form id="form1" name="form1" action="" class="adSearch-in">
                    <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
                    <input type="hidden" name="academyType" th:value="${params.academyType}">
                    <input type="hidden" name="rentalStatus" th:value="${params.rentalStatus}">
                    <div class="in-box">
                        <select name="bookCategory" id="bookCategory" class="select-md">
                            <option value="">전체</option>
                            <option th:each="e : ${@codeUtil.getCodeList(4)}"
                                    th:value="${e.codeValue}" th:text="${e.codeName}"
                                    th:selected="${params.bookCategory == e.codeValue}">카테고리</option>
                        </select>
                        <select name="searchType" id="searchType">
                            <option value="subject" th:selected="${#strings.equals(param.searchType, 'subject')}">책제목</option>
                            <option value="rentalName" th:selected="${#strings.equals(param.searchType, 'rentalName')}">대여자</option>
                        </select>
                        <input type="text" name="searchValue" th:value="${param.searchValue}">
                    </div>
                    <button type="button" class="src-btn" onclick="goSearch();"></button>
                </form>
            </div>
            <div class="tableBtn-box">
                <div class="leftBox">
                    <button type="button" class="m-btn btn-line RemoveBtn">선택삭제</button>
                    <form id="form2" name="form2">
                        <input type="hidden" name="idList" id="idList" />
                    </form>
                </div>
                <div class="rightBox">
                    <button type="button" class="m-btn btn-line" onclick="goAdd()">신규등록</button>
                    <button type="button" class="m-btn QRBtn">QR촬영</button>
                </div>
            </div>
            <table class="adTable list1">
                <thead class="adTable-head">
                <tr>
                    <th><input type="checkbox" id="all-chk"><label for="all-chk"></label></th>
                    <th>No</th>
                    <th></th>
                    <th>책 제목</th>
                    <th>저자</th>
                    <th>대여기간</th>
                    <th>대여자</th>
                    <th>상태</th>
                    <th>QR코드</th>
                </tr>
                </thead>
                <tbody class="adTable-body adTbody checklist">
                <tr th:each="el : ${list}">
                    <td>
                        <input type="checkbox" name="seqList" th:id="|a${elStat.count}|" ><label th:for="|a${elStat.count}|"></label>
                        <input type="hidden" name="id" th:id="|id${elStat.count}|" th:value="${el.id}"/>
                    </td>
                    <td>
                        <span th:text="${list.pageable.offset+elStat.count}"></span>
                    </td>
                    <td>
                        <div class="bookImg" th:style="|background-image: url('${el.thumbnail}');|"></div></td>
                    <td><a th:href="|/a1/p1-detail/${el.id}/${list.pageable.pageNumber}?academyType=${params.academyType}|"><span class="category" th:if="${not #strings.isEmpty(el.bookCategory)}" th:text="|[${@codeUtil.getCodeName('4', el.bookCategory)}]|"></span> <span th:text="${el.subject}">책제목</span></a></td>
                    <td><span th:text="${el.writer}">저자</span></td>
                    <td><span th:if="${#strings.equals(el.bookRental?.rentalStatus,'LOAN') || #strings.equals(el.bookRental?.rentalStatus,'DELINQUENT')}" th:text="${el.bookRental?.startDate + '~' + el.bookRental?.endDate}">대여기간</span></td>
                    <td><span th:if="${#strings.equals(el.bookRental?.rentalStatus,'LOAN') || #strings.equals(el.bookRental?.rentalStatus,'DELINQUENT')}" th:text="${el.bookRental?.user?.userName}">대여자</span></td>
                    <td>
                        <th:block th:switch="${#strings.toString(el.bookRental?.rentalStatus)}">
                            <button type="button" th:case="null" class="btn btn-blue" th:onclick="|goRental(${el.id})|">대여하기</button>
                            <button type="button" th:case="AVAILABLE" class="btn btn-blue" th:onclick="|goRental(${el.id})|">대여하기</button>
                            <button type="button" th:case="RETURN" class="btn btn-blue" th:onclick="|goRental(${el.id})|">대여하기</button>
                            <button type="button" th:case="RETURN2" class="btn btn-blue" th:onclick="|goRental(${el.id})|">대여하기</button>
                            <button type="button" th:case="LOAN" class="btn btn-red" th:onclick="|goRental(${el.id})|">대여중</button>
                            <button type="button" th:case="DELINQUENT" class="btn btn-yellow" th:onclick="|goRental(${el.id})|">연체</button>
                        </th:block>
                    </td>
                    <td><a th:href="|javascript:download(${el.id},'${el.subject}')|"><img th:src="|https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=${el.id}|"></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="adfooter-btn">
            <button type="button" class="m-btn btn-line mr5 categoryBtn">카테고리 설정</button>
        </div>

        <!--페이지네이션-->
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
        <div class="modal" id="removeMo">
            <div class="modal-bg"></div>
            <div class="modalContent xs">
                <div class="modalHd">
                    <h3></h3>
                    <button class="modalClose"></button>
                </div>
                <div class="modalBody">
                    <div class="modalText">
                        선택 도서를 정말 삭제하시겠습니까?<br>
                        삭제한 도서는 복구할 수 없습니다.
                    </div>
                    <div class="modalBtnWrap">
                        <button type="button" class="btn btn-red modalOff" onclick="goAction('D1')">삭제하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="pcQR">
            <div class="modal-bg"></div>
            <div class="modalContent xs">
                <div class="modalHd">
                    <h3></h3>
                    <button class="modalClose"></button>
                </div>
                <div class="modalBody">
                    <div class="modalText">
                        QR 촬영은 모바일에서 가능합니다.<br>
                        PC에서는 도서명을 검색해주세요.
                    </div>
                    <div class="modalBtnWrap">
                        <button type="button" class="btn btn-blue modalOff">확인</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="commOt">
            <div class="modal-bg"></div>
            <div class="modalContent md">
                <div class="modalHd">
                    <h3>도서 카테고리 설정</h3>
                    <button type="button" class="modalClose"></button>
                </div>
                <form id="form3">
                    <div class="modalBody commOption">
                        <label for="academyType" class="mb5">학원 구분</label>
                        <select name="academyType" id="academyType" class="input-df" onchange='goAction("L2",this.value);'>
                            <option th:each="el : ${T(com.softj.itple.domain.Types.AcademyType).values()}" th:selected="${el} == ${params.academyType}" th:value="${el}" th:text="${el.message}">잇플 코딩</option>
                        </select>
                        <div class="categoryBox">
                            <label for="categoryInput" class="mb5">카테고리 설정</label>
                            <input type="text" id="categoryInput" class="categoryInput">
                            <input type="hidden" id="removeId"/>
                            <button type="button" id="categoryAddBtn" class="btn-add"></button>
                            <div class="categoryCon">
                            </div>
                        </div>
                        <div class="modalBtnWrap">
                            <button type="button" class="btn btn-blue modalOff" onclick="goAction('S3');">저장하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal" id="cateDel">
            <div class="modal-bg"></div>
            <div class="modalContent xs">
                <div class="modalHd">
                    <h3></h3>
                    <button type="button" class="modalClose"></button>
                </div>
                <div class="modalBody commOption">
                    <div class="modalText">
                        카테고리를 정말 삭제하시겠습니까?<br>
                        삭제한 카테고리는 복구할 수 없지만<br>
                        카테고리 내의 글은 삭제되지 않습니다.
                    </div>
                    <div class="modalBtnWrap">
                        <button type="button" id="confirmDelBtn" class="btn btn-red modalOff">삭제하기</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script th:src="@{/assets/js/a1/a1p1.js(v='1.0.0')}"></script>
    <script th:inline="javascript">
        function goAdd() {
            $(location).attr("href", "/a1/p1-write?page=[[${list.pageable.pageNumber}]]&academyType="+[[${params.academyType}]]);
        }
        function goRental(id){
            var page = $("#page").val();
            $(location).attr("href", "/a1/p1-rental/"+id+"/"+page);
        }
        function goReturn(id){
            $(location).attr("href", "/a1/p1-rental/"+id+"/1");
        }
        $('.RemoveBtn').on('click', function () {
            $('#removeMo').addClass('on');
        });
        $('.QRBtn').on('click', function () {
            var isMobile = navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i) ? true : false;

            if(isMobile){
                window.open("a1/p1-popup");
            }else{
                $('#pcQR').addClass('on');
            }
        });
        $(document).on("click", ".modalClose, .modalOff, .modal-bg", function(){
            $(this).parents('.modal').removeClass('on');
        });

        function download(id, fileName) {
            axios({
                url: `https://api.qrserver.com/v1/create-qr-code/?size=177x177&data=${id}`,
                method: 'GET',
                responseType: 'blob'
            })
                .then((response) => {
                    const url = window.URL
                        .createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', `${fileName}.png`);
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                })
        }
        $(document).on("click", ".categoryRemove", function(){
            var id = $(this).parent().parent().prop("id");
            $("#removeId").val(id);
            $('#cateDel').addClass('on');
        }).on("click", ".btn-add", function(){
            let jb = $( '.categoryInput' ).val();
            if(ut.isEmpty(jb)){
                modal.required("카테고리명");
                return;
            }
            var lastId = $(".categorySub").last().prop("id");
            var lastIdArr = new Array();
            var lastNum = 0;

            if(lastId != undefined && lastId != "") {
                lastIdArr = lastId.split("_");
                lastNum = lastIdArr[1];
            }

            var newNum = parseInt(lastNum)+1;
            var newId = "cate_"+newNum;
            $(".categoryCon").append('<div class="categorySub" id="'+newId+'"><input type="hidden" class="codeNameList" name="newCodeNameList" id="codeName_'+newNum+'" value="'+jb+'"/><p class="categoryTit">' + jb + '</p><div class="modiBtn-box"><button type="button" class="categoryModi"></button><button type="button" class="categoryRemove"></button></div> </div>')
            $( '.categoryInput' ).val('');
        });
        $(document).on("click", ".categoryModi", function (){
            var tit = $(this).parents(".categoryCon > div").find(".categoryTit")
            var modiform = $(this).parents('.categoryCon > div').find('.modiBox')
            if(modiform.length >0){
                tit.show();
                modiform.remove();
                $(this).parents(".categoryCon > div").removeClass('on');
            }else{
                var cateId = $(this).parent().parent().prop("id");
                var cateIdArr = cateId.split("_");
                var cateNum = cateIdArr[1];
                tit.after('<div class="modiBox"><form action=""><input type="text" id="tmpCodeName_'+cateNum+'" value="'+tit.text()+'"><button type="button" class="categoryCom"></button></form></div>');
                $(this).parents(".categoryCon > div").addClass('on');
                tit.hide();
            }
        });
        $(document).on("click", ".categoryCom", function (){
            var rp = $(this).parents(".categoryCon > div").find(".categoryTit")
            var modirp = $(this).siblings("input").val();
            rp.text(modirp).show();
            $(this).parents(".categoryCon > div").find("input.codeNameList").val(modirp);
            $(this).parents(".modiBox").remove();

            $(".categoryCon > div").removeClass('on');
        });
        $(document).on("click", ".categoryBtn", function(){
            goAction("L2", [[${params.academyType}]]);
        });

        $(document).on("click", "#confirmDelBtn", function(){
            var removeId = "#"+$("#removeId").val();
            var id = "#id_"+removeId.split("_")[1];
            $(".categoryCon").append('<input type="hidden" name="removeIdList" value="'+$(id).val()+'" />');
            $(removeId).remove();
        });

        $(document).on("click", ".modalClose, .modal-bg", function(){
            $(".categoryCon div").remove();
            $(this).parents('.modal').removeClass('on');
        });
    </script>
</th:block>
</body>
</html>