<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>잇플 출판서적대여</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="form1">
        <input type="hidden" name="id" th:value="${el.id}"/>
        <input type="hidden" name="nStatus" th:value="${el.status}"/>
    <div class="responsiveWrap">
        <h1 class="responsiveH1">도서 대여/반납</h1>
        <div class="responsiveInner">
            <div class="detailsIgm" th:style="|background-image: url('${el.thumbnail}');|"></div>
            <div class="detailsBox">
                <h2 class="detTit" th:text="${el.subject}">책제목</h2>
                <p class="detwriter" th:text="${el.writer}">작가명</p>
                <div class="hr"></div>
                <p class="detInfo" th:text="${el.contents}">도서정보에 대한 간략한 설명이 들어가는 곳.</p>
                <div class="hr2"></div>
                <div class="inputBox2 mb20">
                    <div>
                        <label for="userName" class="mb5">대여자</label>
                        <input type="text" name="userName" id="userName" class="input-df" th:value="${el.user.userName}" >
                    </div>
                    <div>
                        <label for="attendanceNo" class="mb5">출결번호</label>
                        <input type="text" name="attendanceNo" id="attendanceNo" class="input-df" th:value="${el.user.student.attendanceNo}">
                    </div>
                </div>
                <div class="inputBox2">
                    <div>
                        <label for="status1" class="mb5">대여 현황</label>
                        <input type="text" name="status" id="status1" class="input-df" th:if="${el.status.code == '01'}" value="대여가능" disabled>
                        <input type="text" name="status" id="status2" class="input-df" th:if="${el.status.code == '02'}" value="대여중" disabled>
                        <input type="text" name="status" id="status3" class="input-df" th:if="${el.status.code == '03'}" value="연체" disabled>
                    </div>
                </div>
                <div class="dateBox">
                    <div class="datepickerWrap">
                        <input type="text" class="input-df mb20 datepicker">
                        <i class="i-date"></i>
                    </div>
                    <span>-</span>
                    <div class="datepickerWrap">
                        <input type="text" class="input-df mb20 datepicker">
                        <i class="i-date"></i>
                    </div>
                </div>
            </div>
            <div class="btn-center mt60 btnL clearfix">
                <button type="button" class="btn">대여하기</button>
                <button type="button" class="btn btn-gray">반납하기</button>
            </div>
        </div>
    </div>
    </form>
    <script th:src="@{/assets/js/a1/a1p1.js(v='1.0.0')}"></script>
    <script th:inline="javascript">
        $(".datepicker").datepicker({
            format: "yyyy년 mm월 dd일",
            language: "ko",
            orientation: "auto"
        });
    </script>
</th:block>
</body>
</html>