<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>도서목록</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="form1">
        <input type="hidden" name="id" th:value="${el != null ? el?.id : 0}"/>
        <input type="hidden" name="bookId" th:value="${el.book.id}"/>
        <input type="hidden" name="evBookRental" id="evBookRental" />
        <input type="hidden" name="page" id="page" th:value="${params.page}"/>
    <div class="responsiveWrap">
        <h1 class="responsiveH1">도서 대여/반납</h1>
        <div class="responsiveInner">
            <div class="detailsIgm" th:style="|background-image: url('${el.book.thumbnail}');|"></div>
            <div class="detailsBox">
                <h2 class="detTit" th:text="${el.book.subject}">책제목</h2>
                <p class="detwriter" th:text="${el.book.writer}">작가명</p>
                <div class="hr"></div>
                <p class="detInfo" th:text="${el.book.contents}">도서정보에 대한 간략한 설명이 들어가는 곳.</p>
                <div class="hr2"></div>
                <div class="inputBox2 mb20">
                    <div>
                        <label for="userName" class="mb5">대여자</label>
                        <input type="text" name="userName" id="userName" class="input-df" th:value="${#strings.equals(el?.rentalStatus,'LOAN') || #strings.equals(el?.rentalStatus,'DELINQUENT') ? el?.user?.userName : ''}" >
                    </div>
                    <div>
                        <label for="attendanceNo" class="mb5">출결번호</label>
                        <input type="text" name="attendanceNo" id="attendanceNo" class="input-df" th:value="${#strings.equals(el.rentalStatus,'LOAN') || #strings.equals(el?.rentalStatus,'DELINQUENT') ? el?.user?.student?.attendanceNo :  ''}">
                    </div>
                </div>
                <div class="inputBox2">
                    <div>
                        <label class="mb5">대여 현황</label>
                        <div th:if="${#objects.nullSafe(el.rentalStatus,'') != ''}">
                        <th:block th:switch="${#strings.toString(el.rentalStatus)}">
                            <input type="text" name="status" class="input-df" th:case="RETURN2" value="대여가능" disabled>
                            <input type="text" name="status" class="input-df" th:case="RETURN" value="대여가능" disabled>
                            <input type="text" name="status" class="input-df" th:case="AVAILABLE" value="대여가능" disabled>
                            <input type="text" name="status" class="input-df" th:case="LOAN" value="대여중" disabled>
                            <input type="text" name="status" class="input-df" th:case="DELINQUENT" value="연체" disabled>
                        </th:block>
                        </div>
                    </div>
                </div>
                <div class="dateBox">
                    <div class="datepickerWrap">
                        <input type="text" name="startDate" id="startDate" th:value="${#strings.equals(el?.rentalStatus,'LOAN') || #strings.equals(el?.rentalStatus,'DELINQUENT') ? el?.startDate : ''}" class="input-df mb20 datepicker">
                        <i class="i-date"></i>
                    </div>
                    <span>-</span>
                    <div class="datepickerWrap">
                        <input type="text" name="endDate" id="endDate" th:value="${#strings.equals(el?.rentalStatus,'LOAN') || #strings.equals(el?.rentalStatus,'DELINQUENT') ? el?.endDate : ''}" class="input-df mb20 datepicker">
                        <i class="i-date"></i>
                    </div>
                </div>
            </div>
            <div class="btn-center mt60 btnL clearfix">
                <button type="button" class="btn" onclick="goLoanReturn('LOAN')">대여하기</button>
                <button type="button" class="btn btn-gray" onclick="goLoanReturn('RETURN')">반납하기</button>
            </div>
        </div>
    </div>
    </form>
    <script th:src="@{/assets/js/a1/a1p1.js(v='1.0.0')}"></script>
    <script th:inline="javascript">
        $(".datepicker").datepicker({
            format: "yyyy-mm-dd",
            language: "ko",
            orientation: "auto"
        });

        function goLoanReturn(evBookRental){

            var userName = $("#userName").val();

            if(userName === ""){
                modal.alert("대여자를 적어주세요.");
                return;
            }

            var attendanceNo = $("#attendanceNo").val();

            if(attendanceNo === ""){
                modal.alert("출결번호를 적어주세요.");
                return;
            }

            var startDateStr = $("#startDate").val();
            var endDateStr = $("#endDate").val();

            if(startDateStr === "" || endDateStr === ""){
                modal.alert("대여일을 선택해주세요.");
                return;
            }

            var startDate = new Date(startDateStr);
            var endDate = new Date(endDateStr);

            if(startDate > endDate){
                modal.alert("대여반납일은 대여시작일보다 작을 수 없습니다.");
                return;
            }

            $("#evBookRental").val(evBookRental);
            goAction('S2');

        }
    </script>
</th:block>
</body>
</html>

