<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>도서목록</title>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>-->
    <script src="/assets/js/axios.min.js"></script>
</head>
<body class="adminBody">
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">도서목록</h1>
        <div class="content-in clearfix">
            <div class="adSearch clearfix">
                <form id="form1" name="form1" action="" class="adSearch-in">
                    <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
                    <div class="in-box">
                         <select name="searchType" id="searchType">
                            <option value="subject" th:selected="${#strings.equals(param.searchType, 'subject')}">책제목</option>
                            <option value="rentalName" th:selected="${#strings.equals(param.searchType, 'rentalName')}">대여자</option>
                        </select>
                        <input type="text" name="searchValue" th:value="${param.searchValue}">
                    </div>
                    <button type="button" class="src-btn" onclick="goSearch();"></button>
                </form>
            </div>
            <div class="tableBtn-box">
                <div class="leftBox">
                    <button type="button" class="m-btn btn-line RemoveBtn">선택삭제</button>
                </div>
                <div class="rightBox">
                    <button type="button" class="m-btn btn-line" onclick="goAdd();">신규등록</button>
                    <button type="button" class="m-btn QRBtn">QR촬영</button>
                </div>
            </div>
            <form id="form2" name="form2">
                <input type="hidden" name="idList" id="idList" />
            </form>
            <table class="adTable list1">
                <thead class="adTable-head">
                    <tr>
                        <th><input type="checkbox" id="all-chk"><label for="all-chk"></label></th>
                        <th></th>
                        <th>책 제목</th>
                        <th>저자</th>
                        <th>대여기간</th>
                        <th>대여자</th>
                        <th>상태</th>
                        <th>QR코드</th>
                    </tr>
                </thead>
                <tbody class="adTable-body adTbody checklist">
                    <tr th:each="el : ${list}">
                        <td>
                            <input type="checkbox" name="seqList" th:id="|a${elStat.count}|" ><label th:for="|a${elStat.count}|"></label>
                            <input type="hidden" name="id" th:id="|id${elStat.count}|" th:value="${el.id}"/>
                        </td>
                        <td>
                        <div class="bookImg" th:style="|background-image: url('${el.thumbnail}');|"></div></td>
                        <td><a th:href="|/a1/p1-detail/${el.id}/${list.pageable.pageNumber}|"><span th:text="${el.subject}">책제목</span></a></td>
                        <td><span th:text="${el.writer}">저자</span></td>
                        <td><span th:if="${not #strings.isEmpty(el.startDate) and not #strings.isEmpty(el.endDate)}" th:text="${el.startDate + '~' + el.endDate}">대여기간</span></td>
                        <td><span th:if="${not #strings.isEmpty(el.rentalName)}" th:text="${el.rentalName}">대여자</span></td>
                        <td>
                            <th:block th:switch="${#strings.toString(el.bookStatus)}">
                                <button type="button" th:case="AVAILABLE" class="btn btn-blue" th:onclick="|goRental(${el.id})|">대여하기</button>
                                <button type="button" th:case="LOAN" class="btn btn-red" th:onclick="|goRental(${el.id})|">대여중</button>
                                <button type="button" th:case="DELINQUENT" class="btn btn-yellow" th:onclick="|goRental(${el.id})|">연체</button>
                            </th:block>
                        </td>
                        <td><a th:href="|javascript:download(${el.id},'${el.subject}')|"><img th:src="|https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=${el.id}|"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal" id="removeMo">
            <div class="modal-bg"></div>
            <div class="modalContent xs">
                <div class="modalHd">
                    <h3></h3>
                    <button class="modalClose"></button>
                </div>
                <div class="modalBody">
                    <div class="modalText">
                        선택 도서를 정말 삭제하시겠습니까?<br>
                        삭제한 도서는 복구할 수 없습니다.
                    </div>
                    <div class="modalBtnWrap">
                        <button type="button" class="btn btn-red modalOff" onclick="goAction('D1')">삭제하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="pcQR">
            <div class="modal-bg"></div>
            <div class="modalContent xs">
                <div class="modalHd">
                    <h3></h3>
                    <button class="modalClose"></button>
                </div>
                <div class="modalBody">
                    <div class="modalText">
                        QR 촬영은 모바일에서 가능합니다.<br>
                        PC에서는 도서명을 검색해주세요.
                    </div>
                    <div class="modalBtnWrap">
                        <button type="button" class="btn btn-blue modalOff">확인</button>
                    </div>
                </div>
            </div>
        </div>

        <!--페이지네이션-->
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
    </div>

    <script th:src="@{/assets/js/a1/a1p1.js(v='1.0.0')}"></script>
    <script th:inline="javascript">
        function goAdd() {
            $(location).attr("href", "/a1/p1-write");
        }
        function goRental(id){
            var page = $("#page").val();
            $(location).attr("href", "/a1/p1-rental/"+id+"/"+page);
        }
        function goReturn(id){
            $(location).attr("href", "/a1/p1-rental/"+id+"/1");
        }
        $('.RemoveBtn').on('click', function () {
            $('#removeMo').addClass('on');
        });
        $('.QRBtn').on('click', function () {
            var isMobile = navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i) ? true : false;

            if(isMobile){
                window.open("a1/p1-popup");
            }else{
                $('#pcQR').addClass('on');
            }
        });
        $(document).on("click", ".modalClose, .modalOff, .modal-bg", function(){
            $(this).parents('.modal').removeClass('on');
        });

        function download(id, fileName) {
            axios({
                url: `https://api.qrserver.com/v1/create-qr-code/?size=177x177&data=${id}`,
                method: 'GET',
                responseType: 'blob'
            })
            .then((response) => {
                const url = window.URL
                    .createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', `${fileName}.png`);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
        }
    </script>
</th:block>
</body>
</html>