<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>포트폴리오</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="form1">
        <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
        <input type="hidden" id="academyType" name="academyType" th:value="${params.academyType}">
        <input type="hidden" id="portfolioType" name="portfolioType" th:value="${params.portfolioType}">
    </form>
    <div class="content">
        <h1 class="responsiveH1" th:text="|${student.user.userName} 포트폴리오_${params.academyType.message}|"> 포트폴리오 </h1>
        <div class="tab clearfix adTab">
            <ul class="tab-ul">
                <li th:if="${#strings.equals(params.academyType,T(com.softj.itple.domain.Types.AcademyType).CODING)}" th:classappend="${#strings.equals(params.portfolioType,'COMPETITION') ? 'active' : ''}"><a th:href="|/a6/p1-student/${params.id}?academyType=CODING&portfolioType=COMPETITION|">각종대회</a></li>
                <li th:if="${#strings.equals(params.academyType,T(com.softj.itple.domain.Types.AcademyType).CODING)}" th:classappend="${#strings.equals(params.portfolioType,'CERTIFICATE') ? 'active' : ''}"><a th:href="|/a6/p1-student/${params.id}?academyType=CODING&portfolioType=CERTIFICATE|">자격증/인증서</a></li>
                <li th:if="${#strings.equals(params.academyType,T(com.softj.itple.domain.Types.AcademyType).CODING)}" th:classappend="${#strings.equals(params.portfolioType,'CODELEVEL') ? 'active' : ''}"><a th:href="|/a6/p1-student/${params.id}?academyType=CODING&portfolioType=CODELEVEL|">레벨테스트</a></li>
                <li th:if="${#strings.equals(params.academyType,T(com.softj.itple.domain.Types.AcademyType).ENGLISH)}" th:classappend="${#strings.equals(params.portfolioType,'LEARNING') ? 'active' : ''}"><a th:href="|/a6/p1-student/${params.id}?academyType=ENGLISH&portfolioType=LEARNING|">Learning History</a></li>
                <li th:if="${#strings.equals(params.academyType,T(com.softj.itple.domain.Types.AcademyType).ENGLISH)}" th:classappend="${#strings.equals(params.portfolioType,'ENGLISHLEVEL') ? 'active' : ''}"><a th:href="|/a6/p1-student/${params.id}?academyType=ENGLISH&portfolioType=ENGLISHLEVEL|">레벨테스트</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="tableBtn-box">
                <div class="leftBox">
                    <button type="button" class="m-btn btn-line RemoveBtn">선택삭제</button>
                    <form id="form2" name="form2">
                        <input type="hidden" name="idList" id="idList" />
                    </form>
                </div>
                <div class="rightBox">
                    <a th:href="|javascript:ut.redirect('/a6/p1-write/0','userId','${student.user.id}','academyType', '${params.academyType}', 'portfolioType', '${params.portfolioType}', 'studentId', '${params.id}')|" class="aBtn">포트폴리오 등록</a>
                    <!--<a th:href="|/a6/p1-modify/${params.id}?academyType=${params.academyType}|" class="aBtn">목록 수정하기</a>-->
                </div>
            </div>
            <ul class="book-box portfolio clearfix" id="dragEl">
                <li class="book-list" th:each="el : ${list}">
                    <input type="checkbox" name="seqList" th:id="|A_${elStat.count}|"><label th:id="|Lb_${elStat.count}|" th:for="|A_${elStat.count}|" style="top:10px;left:15px;"></label>
                    <input type="hidden" name="idList" th:id="|Id_${elStat.count}|" th:value="${el.id}"/>
                    <input type="hidden" name="year" th:id="|Year_${elStat.count}|" th:value="${el.year}"/>
                    <a th:href="|/a6/p1-detail/${el.id}?studentId=${params.id}&academyType=${params.academyType}|">
                        <div class="book-img" th:style="|background-image: url(${el.thumbnail});|"></div>
                        <div class="book-info">
                            <p class="book-tit" th:text="|${el.year > 0 ? '['+el.year+']' : ''} ${el.subject}|">제 50회 발명품 대회</p>
                            <p class="book-author text-gray" th:text="${el.user.student.school+' | '+el.user.student.academyClass.className}">잇플 코딩입문반Aㅣ김잇플</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>

        <div class="btn-center" style="margin-top: 50px">
            <button class="btn btn-gray" th:onclick="goList()">목록</button>
        </div>
    </div>

    <div class="modal" id="removeMo">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                    선택 포트폴리오를 정말 삭제하시겠습니까?<br>
                    삭제한 포트폴리오는 복구할 수 없습니다.
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-red modalOff" onclick="goAction('D1')">삭제하기</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/a6/a6p1.js(v='1.0.0')}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function goList(){
            location.href="/a6/p1?academyType="+[[${params.academyType}]];
        }
        $('.RemoveBtn').on('click', function () {
            $('#removeMo').addClass('on');
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>
