<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
  <title>잇플 학생별포트폴리오</title>
</head>
<body>
<th:block layout:fragment="content">
  <div class="content">
    <h1 class="responsiveH1">김잇플 포트폴리오</h1>
    <div class="content-in clearfix">
      <div class="tableBtn-box">
        <div class="leftBox">
        </div>
        <div class="rightBox">
          <a href="" class="aBtn">포트폴리오 등록</a>
        </div>
      </div>
      <ul class="book-box portfolio clearfix">
        <li class="book-list">
          <a href="/a6/p1-detail">
            <div class="book-img" th:style="|background-image: url('${el.thumbnail}');|"></div>//style="background-image: url(../assets/img/portfolio1.jpg);"
            <div class="book-info">
              <p class="book-tit">제 50회 발명품 대회</p>
              <p class="book-author text-gray">잇플 코딩입문반Aㅣ김잇플</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <ul class="pagination">
      <li class="page-arrow"><a class="page-link p-L2" href="#"></a></li>
      <li class="page-arrow"><a class="page-link p-L1" href="#"></a></li>
      <li class="page-item"><a class="page-link active" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">7</a></li>
      <li class="page-item"><a class="page-link" href="#">8</a></li>
      <li class="page-item"><a class="page-link" href="#">9</a></li>
      <li class="page-item"><a class="page-link" href="#">10</a></li>
      <li class="page-arrow"><a class="page-link p-R1" href="#"></a></li>
      <li class="page-arrow"><a class="page-link p-R2" href="#"></a></li>
    </ul>
  </div>
  <script th:src="@{/assets/js/a6/a6p1.js(v='1.0.0')}"></script>
  <script th:inline="javascript">
  </script>
</th:block>
</body>
</html>