<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>포트폴리오</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">포트폴리오</h1>
        <div class="tab clearfix adTab">
            <ul class="tab-ul">
                <li th:classappend="${#strings.equals(params.studentStatus,'STUDENT') ? 'active' : ''}"><a href="/a6/p1?studentStatus=STUDENT">재원생</a></li>
                <li th:classappend="${#strings.equals(params.studentStatus,'LEAVE') ? 'active' : ''}"><a href="/a6/p1?studentStatus=LEAVE">휴원생</a></li>
                <li th:classappend="${#strings.equals(params.studentStatus,'DISCHARGE') ? 'active' : ''}"><a href="/a6/p1?studentStatus=DISCHARGE">퇴원생</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="adSearch clearfix">
                <form id="form1" class="adSearch-in">
                    <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
                    <input type="hidden" id="studentStatus" name="studentStatus" th:value="${params.studentStatus}">
                    <div class="in-box">
                        <select name="grade" id="grade">
                            <option value="">전체</option>
                            <option th:each="el : ${T(com.softj.itple.domain.Types.Grade).values()}" th:value="${el}" th:text="${el.message}"
                                    th:selected="${#strings.equals(el, params.grade)}"></option>
                        </select>
                        <select name="searchType" id="searchType">
                            <option value="userName" th:selected="${#strings.equals(param.searchType, 'userName')}">이름</option>
                            <option value="className" th:selected="${#strings.equals(param.searchType, 'className')}">반</option>
                            <option value="school" th:selected="${#strings.equals(param.searchType, 'school')}">학교</option>
                        </select>
                        <input type="text" name="searchValue" th:value="${param.searchValue}">
                    </div>
                    <button type="button" class="src-btn" onclick="goSearch()"></button>
                </form>
            </div>
            <table class="adTable list6">
                <thead class="adTable-head">
                <tr>
                    <th>No</th>
                    <th>이름</th>
                    <th>학교</th>
                    <th>학년</th>
                    <th>반</th>
                    <th>메모</th>
                    <th>입학일</th>
                    <th>포트폴리오</th>
                </tr>
                </thead>
                <tbody class="adTable-body adTbody checklist">
                <tr th:each="el : ${list}">
                    <td th:text="${list.pageable.offset+elStat.count}"></td>
                    <td th:text="${el.user.userName}">김잇플</td>
                    <td th:text="${el.school}" style="text-align: center">학교</td>
                    <td th:text="${el.grade.message}">학년</td>
                    <td th:text="${el.academyClass?.className}">잇플 코딩입문반A</td>
                    <td th:text="${el.memo}"></td>
                    <td th:text="${#temporals.format(el.enterDate,'yyyy.MM.dd')}">2022.03.24</td>
                    <td><button type="button" class="s-btn" th:onclick="|ut.redirect('/a6/p1-student/${el.id}')|">열람</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
    </div>

    <script th:src="@{/assets/js/a6/a6p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
</th:block>
</body>
</html>