<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>포트폴리오</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="fullbnr" th:style="|background-image:url(${el.thumbnail})|"></div>
    <div class="content portfolio">
        <h1 class="portfolioH1" th:text="${el.subject}">톨스토이의 &#60;사람은 무엇으로 사는가&#62; 독후감상문</h1>
        <div class="portfolioSub">
            <p class="name" th:text="${el.user.userName}">김잇플</p>
            <p class="class" th:text="${el.user.student.school+' | '+el.user.student.grade.message+' | '+el.user.student.academyClass.className}">잇플초등학교 │ 잇플 코딩입문반A</p>
            <p class="text" th:utext="${el.summary}">
                학원 수업과 연계된 도서인 톨스토이의 &#60;사람은 무엇으로 사는가&#62;를 읽은 뒤, 독후감상문을 작성. 학원 수업과 연계된 도서인 톨스토이의 &#60;사람은 무엇으로 사는가&#62;를 읽은 뒤, 독후감상문을 작성.
            </p>
        </div>
        <div class="content-in clearfix">
            <div th:utext="${el.contents}"></div>
        </div>
        <div class="fileV" th:if="${el.portfolioFileList != null && el.portfolioFileList.size() != 0}">
            <p class="fileT">첨부파일</p>
            <ul class="file-li">
                <li th:each="file : ${el.portfolioFileList}"><a th:href="|/portfolioFileDownload/${file.uploadFileName}|" th:text="${file.orgFileName}">첨부파일.jpg</a></li>
            </ul>
        </div>
        <div class="btn-center">
            <button class="btn" th:onclick="|ut.redirect('/a6/p1-write/${el.id}','userId','${el.user.id}')|">포트폴리오 수정</button>
        </div>

    </div>

    <script th:src="@{/assets/js/a6/a6p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
</th:block>
</body>
</html>