<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/admin/layout">
<head>
  <title>잇플 포트폴리오목록</title>
</head>
<body class="adminBody">
<th:block layout:fragment="content">
  <div class="adContent">
    <h1 class="adH1">포트폴리오</h1>
    <div class="tab clearfix adTab">
      <ul class="tab-ul">
        <li class="active"><a href="portfolioList.html">재원생</a></li>
        <li><a href="leavePortfolio.html">휴원생</a></li>
        <li><a href="dischargePortfoliot.html">퇴원생</a></li>
      </ul>
    </div>
    <div class="content-in clearfix">
      <div class="adSearch clearfix">
        <form action="" class="adSearch-in">
          <div class="in-box">
            <select name="" id="">
              <option value="">전체</option>
              <option value="">학생</option>
              <option value="">반</option>
              <option value="">입학일</option>
              <option value="">포인트</option>
            </select>
            <input type="text">
          </div>
          <button type="button" class="src-btn"></button>
        </form>
      </div>
      <table class="adTable list5">
        <thead class="adTable-head">
        <tr>
          <th>학생</th>
          <th>반</th>
          <th>보호자 성함</th>
          <th>표시1</th>
          <th>표시2</th>
          <th>입학일</th>
          <th>포인트</th>
          <th>포트폴리오</th>
        </tr>
        </thead>
        <tbody class="adTable-body adTbody">
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn" onclick="goStud();">포트폴리오</button></td>
        </tr>
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn">포트폴리오</button></td>
        </tr>
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn">포트폴리오</button></td>
        </tr>
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn">포트폴리오</button></td>
        </tr>
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn">포트폴리오</button></td>
        </tr>
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn">포트폴리오</button></td>
        </tr>
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn">포트폴리오</button></td>
        </tr>
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn">포트폴리오</button></td>
        </tr>
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn">포트폴리오</button></td>
        </tr>
        <tr>
          <td>김잇플</td>
          <td>잇플 코딩입문반A</td>
          <td>보호자</td>
          <td></td>
          <td></td>
          <td>2022.03.24</td>
          <td>1000</td>
          <td><button type="button" class="s-btn">포트폴리오</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination">
      <li class="page-arrow"><a class="page-link p-L2" href="#"></a></li>
      <li class="page-arrow"><a class="page-link p-L1" href="#"></a></li>
      <li class="page-item"><a class="page-link active" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-arrow"><a class="page-link p-R1" href="#"></a></li>
      <li class="page-arrow"><a class="page-link p-R2" href="#"></a></li>
    </ul>
  </div>
  <script th:src="@{/assets/js/a6/a6p1.js(v='1.0.0')}"></script>
  <script th:inline="javascript">
    function goStud(){
      $(location).attr("href", "/a6/p1-stud");
    }
  </script>
</th:block>
</body>
</html>