<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>학생관리</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">학생관리_
            <span th:if="${#strings.isEmpty(params.academyType)}">미승인</span>
            <span th:if="${#strings.equals(params.academyType,'CODING')}">잇플코딩</span>
            <span th:if="${#strings.equals(params.academyType,'ENGLISH')}">잇플영어</span>
        </h1>
        <div class="tab clearfix adTab" th:if="${#strings.equals(params.academyType,'CODING') || #strings.equals(params.academyType,'ENGLISH')}">
            <ul class="tab-ul">
                <li th:classappend="${#strings.equals(params.studentStatus,'STUDENT') ? 'active' : ''}"><a th:href="|/a3/p1?studentStatus=STUDENT&academyType=${params.academyType}|">재원생</a></li>
                <li th:classappend="${#strings.equals(params.studentStatus,'LEAVE') ? 'active' : ''}"><a th:href="|/a3/p1?studentStatus=LEAVE&academyType=${params.academyType}|">휴원생</a></li>
                <li th:classappend="${#strings.equals(params.studentStatus,'DISCHARGE') ? 'active' : ''}"><a th:href="|/a3/p1?studentStatus=DISCHARGE&academyType=${params.academyType}|">퇴원생</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="adSearch clearfix">
                <form id="form1" class="adSearch-in">
                    <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
                    <input type="hidden" id="studentStatus" name="studentStatus" th:value="${params.studentStatus}">
                    <input type="hidden" id="academyType" name="academyType" th:value="${params.academyType}">
                    <input type="hidden" id="edOrder" name="edOrder"/>
                    <div class="in-box">
                        <select name="searchCateogry" id="searchCateogry">
                            <option value="">전체</option>
                            <option value="classId" th:selected="${#strings.equals(params.searchCateogry,'classId')}">반</option>
                            <option value="grade" th:selected="${#strings.equals(params.searchCateogry,'grade')}">학년</option>
                        </select>
                        <select name="classId" id="classId" th:style="${params.searchCateogry == 'classId' ? 'width:300px;display:inline' : 'width:300px;display:none'}">
                            <option value="">전체</option>
                            <option th:each="el : ${classList}" th:value="${el.id}"
                                    th:selected="${#strings.equals(el.id, params.classId)}" th:text="${el.className}"></option>
                        </select>
                        <select name="grade" id="grade" th:style="${params.searchCateogry == 'grade' ? 'display:inline' : 'display:none'}">
                            <option value="">전체</option>
                            <option th:each="el : ${T(com.softj.itple.domain.Types.Grade).values()}" th:value="${el}"
                                    th:selected="${#strings.equals(el, params.grade)}" th:text="${el.message}"></option>
                        </select>
                        <select name="searchType" id="searchType" th:style="${params.searchCateogry == null || params.searchCateogry == '' ? 'display:inline' : 'display:none'}">
                            <option value="userName" th:selected="${#strings.equals(param.searchType, 'userName')}">이름</option>
                            <option value="school" th:selected="${#strings.equals(param.searchType, 'school')}">학교</option>
                            <option value="parentName" th:selected="${#strings.equals(param.searchType, 'parentName')}">보호자 성함</option>
                            <option value="parentTel" th:selected="${#strings.equals(param.searchType, 'parentTel')}">보호자 연락처</option>
                            <option value="attendanceNo" th:selected="${#strings.equals(param.searchType, 'attendanceNo')}">출결번호</option>
                        </select>
                        <input type="text" name="searchValue" id="searchValue" th:style="${params.searchCateogry == null || params.searchCateogry == '' ? 'display:inline' : 'display:none'}" th:value="${param.searchValue}">
                    </div>
                    <button type="button" class="src-btn" onclick="goSearch()"></button>
                </form>
            </div>
            <div class="tableBtn-box">
                <div class="leftBox">
                    <button type="button" class="m-btn btn-line RemoveBtn">선택삭제</button>
                    <form id="form2" name="form2">
                        <input type="hidden" name="idList" id="idList" />
                    </form>
                </div>
                <div class="rightBox">
                    <button type="button" class="m-btn" onclick="goAction('E1')">엑셀다운로드</button>
                    <form id="form3" name="form3">
                        <input type="hidden" name="params" id="params" />
                    </form>
                </div>
            </div>
            <table class="adTable list4">
                <thead class="adTable-head">
                <tr>
                    <th><input type="checkbox" id="all-chk"><label for="all-chk"></label></th>
                    <th>No</th>
                    <th>이름</th>
                    <th>학교</th>
                    <th>학년</th>
                    <th>반</th>
                    <th>보호자 성함</th>
                    <th>보호자 연락처</th>
                    <th class="ADbtn">입학일<button type="button" id="btnEdAsc" onclick="goOrder('asc')">∧</button> <button type="button" id="btnEdDesc" onclick="goOrder('desc')">∨</button></th>
                    <th>포인트</th>
                </tr>
                </thead>
                <tbody class="adTable-body adTbody checklist">
                <tr th:each="el : ${list}">
                    <td>
                        <input type="checkbox" name="seqList" th:id="|a${elStat.count}|" ><label th:for="|a${elStat.count}|"></label>
                        <input type="hidden" name="id" th:id="|id${elStat.count}|" th:value="${el.id}"/>
                    </td>
                    <td th:text="${list.pageable.offset+elStat.count}" th:onclick="|location.href='/a3/p1-detail/${el.id}'|"></td>
                    <td th:text="${el.user.userName}" th:onclick="|location.href='/a3/p1-detail/${el.id}'|">이름</td>
                    <td th:text="${el.school}" th:onclick="|location.href='/a3/p1-detail/${el.id}'|">학교</td>
                    <td th:text="${el.grade.message}" th:onclick="|location.href='/a3/p1-detail/${el.id}'|">학년</td>
                    <td th:text="${el.academyClass?.className}" th:onclick="|location.href='/a3/p1-detail/${el.id}'|">반</td>
                    <td th:text="${el.parentName}" th:onclick="|location.href='/a3/p1-detail/${el.id}'|">보호자 성함</td>
                    <td th:text="${el.parentTel}" th:onclick="|location.href='/a3/p1-detail/${el.id}'|">보호자 연락처</td>
                    <td th:text="${#temporals.format(el.enterDate,'yyyy.MM.dd')}" th:onclick="|location.href='/a3/p1-detail/${el.id}'|">2022.03.24</td>
                    <td th:text="${#numbers.formatInteger(el.coin,0,'COMMA')}" th:onclick="|location.href='/a3/p1-detail/${el.id}'|">1000</td>
                </tr>
                </tbody>
            </table>
        </div>
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
    </div>
    <div class="modal" id="removeMo">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                    선택 학생을 정말 삭제하시겠습니까?<br>
                    삭제한 학생은 복구할 수 없습니다.
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-red modalOff" onclick="goAction('D1')">삭제하기</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/a3/a3p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        function goOrder(order){
            if(order == "asc") {
                $("#edOrder").val("asc");
            }else {
                $("#edOrder").val("desc");
            }
            goSearch();
        }

        $("#searchCateogry").on('change', function(){
           var searchCategory = $(this).val();
            $("#searchType").val("userName");
            $("#searchValue").val("");
            $("#grade").val("");
            $("#classId").val("");
           if(searchCategory == ""){
               $("#searchType").css("display","inline");
               $("#searchValue").css("display","inline");
               $("#grade").css("display","none");
               $("#classId").css("display","none");
           }else if(searchCategory == "grade"){
               $("#searchType").css("display","none");
               $("#searchValue").css("display","none");
               $("#grade").css("display","inline");
               $("#classId").css("display","none");
           }else if(searchCategory == "classId"){
               $("#searchType").css("display","none");
               $("#searchValue").css("display","none");
               $("#grade").css("display","none");
               $("#classId").css("display","inline");
           }
        });

        $('.RemoveBtn').on('click', function () {
            $('#removeMo').addClass('on');
        });

        $(".ADbtn button").on("click",function () {
            $(".ADbtn button").removeClass('on');
            $(this).addClass('on');
        });
    </script>
</th:block>
</body>
</html>