<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/none-layout">

<head>
    <title>로그인</title>
</head>

<body>
<form method="post" th:action="@{/login}" id="loginForm" onsubmit="loading(1);">
    <div class="loginWrap">
        <div class="loginWrapOuter">
            <div class="loginDivWrap admin">
                <div class="loginDiv_inner">
                    <div class="login_logo mb50" style="background-image: url(/assets/img/logo-login.png)"></div>
                    <input type="text" class="input-lg mb10" name="username" placeholder="관리자 아이디">
                    <input type="password" class="input-lg" name="password" placeholder="비밀번호">
                    <div class="flexwrap mt10 mb50">
                        <a href="/login">학생 로그인</a>
                        <a href="">아이디/비밀번호 찾기</a>
                    </div>
                    <button type="submit" class="btn mb10">로그인</button>
                    <button type="button" class="btn btn-blue mb10">코딩 출결 바로가기</button>
                    <button type="button" class="btn btn-red">영어 출결 바로가기</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>