<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">

<head>
    <title>메인</title>
</head>

<th:block layout:fragment="content">
    <div class="main">
        <div class="main-banner">
            <div class="banner-in">
                <p>잇플교육!</p>
                <p><b>글로벌</b> 인재를 양성하는<br>소프트웨어 / 영어 선도학원! </p>
            </div>
        </div>
        <div class="main-cont" th:if="${@authUtil.isRole('ADMIN')}">
            <div class="sec sec1">
                <div class="sec-in">
                    <p class="sec-name"><span th:text="${session.adminVO.user.userName}">잇플학원</span> 관리자 님</p>
                    <a href="/adminMyInfo" class="sec-mypage">내 정보</a>
                </div>
            </div>
        </div>
        <div class="main-cont" th:if="${@authUtil.isRole('STUDENT')}">
            <div class="sec sec1">
                <div class="sec-in">
                    <p class="sec-name"><span th:text="${session.studentVO.user.userName}">잇플학원</span> 학생 &nbsp;&nbsp;&nbsp; <a href="/myInfo" class="sec-mypage"></a></p>
                    <a href="/c5/p1"><p class="sec-point">포인트 : <span th:text="| ${#numbers.formatInteger(session.studentVO.coin,0,'COMMA')}|">1,000</span></p></a>
                </div>
            </div>
            <div class="sec sec5">
                <div class="sec-in flex-sec">
                    <div class="set-tit">
                        <a href="/c1/p1">공지사항</a>
                        <p>잇플 학원의 공지사항 페이지입니다.</p>
                    </div>
                    <div class="notice-wrap">
                        <ul>
                            <li th:each="el : ${noticeList}">
                                <a th:href="|/c1/p1-detail/${el.id}|">
                                    <div class="notice-date">
                                        <p class="date" th:text="${#temporals.format(el.createdAt, 'dd')}">14</p>
                                        <p class="year" th:text="${#temporals.format(el.createdAt, 'yyyy.MM')}">2022.04</p>
                                    </div>
                                    <p th:text="${el.subject}">2022년 잇플학원 공지사항입니다.</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sec sec2">
                <div class="sec-in">
                    <div class="set-tit">
                        <a href="/c2/p1">내 과제</a>
                    </div>
                    <div class="main-slide">
                        <div class="slider" th:each="el : ${taskList}">
                            <div class="assignment">
                                <p th:text="${el.task.academyClass.className}">잇플코딩 입문</p>
                                <p><b th:text="${el.task.subject}">잇플코딩 과제 제목이 길어지면</b></p>
                                <p th:text="${el.task.contents}">수업 내용을 바탕으로 파이썬 실습내용 복습해보기수업 내용을 바탕으로 파이썬 실습내용 복습해보기</p>
                            </div>
                            <th:block th:switch="${#strings.toString(el.status)}">
                                <button th:case="NOT_SUBMIT" type="button" class="ass-write" th:onclick="|ut.redirect('/c2/p1-detail/${el.id}')|" th:text="|${el.task.taskType.message}작성|">과제작성</button>
                                <button th:case="SUBMIT" type="button" class="ass-check" th:onclick="|ut.redirect('/c2/p1-detail/${el.id}')|">확인중</button>
                                <button th:case="COMPLETE" type="button" class="ass-complete" th:onclick="|ut.redirect('/c2/p1-detail/${el.id}')|"  th:text="|${el.task.taskType.message}완료|">과제완료</button>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec sec3">
                <div class="sec-in flex-sec">
                    <div class="set-tit">
                        <a href="/c3/p2">도서관리</a>
                        <p>대여한 도서를 관리하는 페이지입니다.</p>
                    </div>
                    <div class="book-slide book-box clearfix">
                        <li class="book-list slide" th:each="el : ${bookRentalList}">
                            <a th:href="|/c3/p2-detail/${el.id}|">
                                <div class="book-img" th:style="|background-image: url(${el.book.thumbnail});|"></div>
                                <div class="book-info">
                                    <span th:classappend="${#strings.toLowerCase(el.rentalStatus)}" th:text="${el.rentalStatus.message}">대여중</span>
                                    <p class="book-tit" th:text="${el.book.subject}">영재를 위한 엔트리 수학 vol.3</p>
                                    <p class="book-author" th:text="${el.book.writer}">잇플ITPLE</p>
                                </div>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="sec sec4">
                <div class="sec-in">
                    <div class="set-tit">
                        <a href="/c4/p1">포트폴리오</a>
                    </div>
                    <ul class="po-tab">
                    </ul>
                    <div class="port-wrap">
                        <div class="po-slide po-con active">
                            <div class="slider" th:each="el : ${portfolioList}">
                                <div class="po-bg" th:style="|background-image: url(${el.thumbnail});|">
                                    <div class="s-portfolio">
                                        <p class="po-tit" th:text="${el.subject}">톨스토이의 &lt;사람은 무엇으로 사는가&gt; 독후감상문</p>
                                        <p class="po-info" th:text="${el.user.student.school+' | '+el.user.student.academyClass.className}"><span>잇플코딩 A반</span>ㅣ<span>김잇플</span></p>
                                        <a th:href="|/c4/p1-detail/${el.id}|" class="read-more">자세히보기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="pop-up" th:if="${@authUtil.isRole('STUDENT') && noticePopup != null}">
        <div class="popBg"></div>
        <div class="popContent">
            <div class="popBody">
                <div class="popin">
                    공지사항
                    <br/><br/>
                    <img th:src="|${noticePopup.getThumbnail()}|" th:alt="${noticePopup.subject}">
                </div>
                <div class="popBtnWrap">
                    <button type="button" class="popBtn-non">오늘 하루 보지않기</button>
                    <button type="button" class="popBtn popOff">확인</button>
                </div>
            </div>
        </div>
    </div>
    <script th:if="${@authUtil.isRole('STUDENT')}" th:src="@{/assets/js/common.js(v='1.0.0')}"></script>
    <script th:if="${@authUtil.isRole('STUDENT')}" th:inline="javascript">

        $(document).ready(function(){

            if(!getCookie("noticePopup")){
                $('.pop-up').addClass('on');
            }else{
                $('.pop-up').removeClass('on');
            }

            $(document).on("click",".popBtn-non",function(){
                setCookie("noticePopup", "expire", 1);
                $('.pop-up').removeClass('on');
            });

            $(document).on("click", ".popOff", function(){
                $('.pop-up').removeClass('on');
            });

        });

        //슬라이더
        $('.main-slide').slick({
                slidesToShow:4,
                infinite:true,
                speed : 100,
                dots : false,
                autoplay : true,
                autoplaySpeed : 3000,
                pauseOnHover : true,
                arrows : true,
                responsive: [
                        {
                            breakpoint: 1280,
                            settings: {

                                slidesToShow:3
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: {

                                slidesToShow:2
                            }
                        },
                        {
                            breakpoint: 430,
                            settings: {
                                slidesToShow:1
                            }
                        }
                    ]
        });
        $('.book-slide').slick({
                slidesToShow:3,
                infinite:true,
                speed : 100,
                dots : false,
                autoplay : true,
                autoplaySpeed : 3000,
                pauseOnHover : true,
                arrows : false,
                responsive: [
                    {
                        breakpoint: 430,
                        settings: {

                            slidesToShow:2
                        }
                    },
                ]
        });
        $('.po-slide').slick({
                slidesToShow:3,
                infinite:true,
                speed : 100,
                dots : false,
                autoplay : true,
                autoplaySpeed : 3000,
                pauseOnHover : true,
                arrows : true,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {

                            slidesToShow:2
                        }
                    },
                    {
                        breakpoint: 430,
                        settings: {
                            slidesToShow:1
                        }
                    }
                ]
        });

        $('.po-tab li').click(function(){
            let $this = $(this);
            let index = $this.index();

            $this.addClass('active');
            $this.siblings('.po-tab li.active').removeClass('active');

            let $outer = $this.closest('.sec-in');
            let $current = $outer.find(' > .port-wrap > .po-con.active');
            let $post = $outer.find(' > .port-wrap > .po-con').eq(index);

            $current.removeClass('active');
            $post.addClass('active');

            $('.po-slide').slick('setPosition');
        });

    </script>
</th:block>
</html>