<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/none-layout">

<head>
    <title>회원가입</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<th:block layout:fragment="content">
    <div class="responsiveWrap">
        <h1 class="responsiveH1">회원가입</h1>
        <div class="responsiveInner">
            <form id="form1">
                <div class="inputSec">
                    <label for="userId" class="mb5">아이디</label>
                    <input name="userId" id="userId" type="text" class="input-df post mb20" ><button id="idDupCheckBtn" type="button" class="btn post-btn" onclick="idDupCheck()">중복검사</button>
                    <label for="userPw" class="mb5">비밀번호</label>
                    <input name="userPw" id="userPw" type="password" class="input-df mb20" >
                    <label for="userPwRe" class="mb5">비밀번호 확인</label>
                    <input name="userPwRe" id="userPwRe" type="password" class="input-df mb20" >
                </div>
                <div class="inputSec">
                    <label for="userName" class="mb5">이름</label>
                    <input name="userName" id="userName" type="text" class="input-df mb20" >
                    <label for="" class="mb5">생일</label>
                    <div class="datepickerWrap">
                        <input name="birth" type="text" class="input-df mb20 datepicker" >
                        <i class="i-date"></i>
                </div>
                </div>
                <div class="inputSec">
                    <label for="school" class="mb5">학교</label>
                    <input name="school" id="school" type="text" class="input-df mb20" >
                    <label for="" class="mb5">학년</label>
                    <select name="grade" id="" class="input-df mb20" >
                        <option th:each="grade : ${T(com.softj.itple.domain.Types.Grade).values()}" th:value="${grade}" th:text="${grade.message}">1학년</option>
                    </select>
                    <label for="email" class="mb5">이메일</label>
                    <input name="email" id="email" type="text" class="input-df mb20" >
                    <label for="telNo" class="mb5">학생 연락처</label>
                    <input name="telNo" id="telNo" type="text" class="input-df mb20" >
                </div>
                <div class="inputSec">
                    <label for="zonecode" class="mb5">집주소</label>
                    <input name="zonecode" id="zonecode" type="text" class="input-df post mb10" readonly placeholder="우편번호" ><button type="button" class="btn post-btn" onclick="oepnAddrPopup()">주소검색</button>
                    <input name="roadAddress" type="text" class="input-df mb10" readonly placeholder="주소">
                    <input name="detailAddress" type="text" class="input-df mb20" placeholder="상세주소">
                    <label for="parentName" class="mb5">보호자 성함</label>
                    <input name="parentName" id="parentName" type="text" class="input-df mb20" >
                    <label for="parentTel" class="mb5">보호자 연락처</label>
                    <input name="parentTel" id="parentTel" type="text" class="input-df mb20" >
                    <label for="relation" class="mb5">학생과의 관계</label>
                    <input name="relation" id="relation" type="text" class="input-df mb20" >
                </div>
                <!--<div class="inputSec timeSelectOuter">
                    <label for="" class="mb10">등원 시간</label>
                    <div class="timeSelectWrap">
                        <select name="dayOfWeekList" class="daySel">
                            <option th:each="day : ${T(com.softj.itple.domain.Types.DayOfWeek).values()}" th:value="${day}" th:text="${day.message}">월요일</option>
                        </select>
                        <select name="hourList">
                            <option value="9">9시</option>
                            <option value="10">10시</option>
                            <option value="11">11시</option>
                            <option value="12">12시</option>
                            <option value="13">13시</option>
                            <option value="14">14시</option>
                            <option value="15">15시</option>
                            <option value="16">16시</option>
                            <option value="17">17시</option>
                            <option value="18">18시</option>
                            <option value="19">19시</option>
                            <option value="20">20시</option>
                        </select>
                        <select name="minList">
                            <option value="0">00분</option>
                            <option value="10">10분</option>
                            <option value="20">20분</option>
                            <option value="30">30분</option>
                            <option value="40">40분</option>
                            <option value="50">50분</option>
                        </select>
                        <button type="button" class="btn-add"></button>
                    </div>
                </div>-->
                <div class="btn-center mt60">
                    <button type="button" class="btn" onclick="join()">회원가입</button>
                </div>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
        var checkId = "";

        $(function(){

            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                language: "kr",
                orientation: "auto"
            });

            $("input[name=userId]").on("input",function(){
                checkId = "";
                $("#idDupCheckBtn").removeClass("btn-blue");
                $("#idDupCheckBtn").text("중복검사");
            });
        });

            /*$(document).on("click", ".btn-remove", function(){
                $(this).parents('.timeSelectWrap').remove();
            }).on("click", ".btn-add", function(){
                if($(".timeSelectWrap").length > 6){
                    modal.alert('7일 이상 추가할 수 없습니다.');
                }else{
                    var html = `
                        <div class="timeSelectWrap">
                            <select name="dayOfWeekList" class="daySel">
                                <option value="MONDAY">월요일</option>
                                <option value="TUESDAY">화요일</option>
                                <option value="WEDNESDAY">수요일</option>
                                <option value="THURSDAY">목요일</option>
                                <option value="FRIDAY">금요일</option>
                                <option value="SATURDAY">토요일</option>
                                <option value="SUNDAY">일요일</option>
                            </select>
                            <select name="hourList">
                                <option value="9">9시</option>
                                <option value="10">10시</option>
                                <option value="11">11시</option>
                                <option value="12">12시</option>
                                <option value="13">13시</option>
                                <option value="14">14시</option>
                                <option value="15">15시</option>
                                <option value="16">16시</option>
                                <option value="17">17시</option>
                                <option value="18">18시</option>
                                <option value="19">19시</option>
                                <option value="20">20시</option>
                            </select>
                            <select name="minList">
                                <option value="0">00분</option>
                                <option value="10">10분</option>
                                <option value="20">20분</option>
                                <option value="30">30분</option>
                                <option value="40">40분</option>
                                <option value="50">50분</option>
                            </select>
                            <button type="button" class="btn-remove"></button>
                        </div>
                    `;
                    $(".timeSelectOuter").append(html);
                }
            });*/



        function oepnAddrPopup(){
            new daum.Postcode({
                autoClose: true,
                oncomplete: function(data) {
                    $("input[name=zonecode]").val(data.zonecode);
                    $("input[name=roadAddress]").val(data.roadAddress);
                    $("input[name=detailAddress]").focus();
                }
            }).open();
        }

        function idDupCheck(){
            var userId = $("input[name=userId]").val();
            if(regExp.isNotId(userId)){
                modal.alert("아이디는 영문자로 시작하는 영문자 또는 숫자 6~20자로 설정해주세요.");
                return;
            }
            $.post("/api/dupCheck",{userId: userId},function (res){
                checkId = userId;
                $("#idDupCheckBtn").addClass("btn-blue");
                $("#idDupCheckBtn").text("검사완료");
            });
        }

        function join(){
            var userId = $("input[name=userId]").val();
            var userPw = $("input[name=userPw]").val();
            var userPwRe = $("input[name=userPwRe]").val();
            var userName = $("input[name=userName]").val();
            //var attendanceNo = $("input[name=attendanceNo]").val();
            var birth = $("input[name=birth]").val();
            var school = $("input[name=school]").val();
            var email = $("input[name=email]").val();
            var zonecode = $("input[name=zonecode]").val();
            var parentName = $("input[name=parentName]").val();
            var parentTel = $("input[name=parentTel]").val();
            var grade = $("select[name=grade]").val();
            var roadAddress = $("input[name=roadAddress]").val();
            var detailAddress = $("input[name=detailAddress]").val();
            var relation = $("input[name=relation]").val();
            var telNo = $("input[name=telNo]").val();

            if(ut.isEmpty(userId)){
                modal.required("아이디");
                return;
            }
            if(checkId == "" || checkId != userId){
                modal.alert("아이디 중복확인을 해주세요.");
                return;
            }
            /*if(attendanceNo.length != 4){
                modal.alert("출결번호는 4자리 입력해주세요");
                return;
            }*/

            if(ut.isEmpty(userPw)){
                modal.required("비밀번호");
                return;
            }
            if(ut.isEmpty(userPwRe)){
                modal.required("비밀번호 확인");
                return;
            }
            if(userPw != userPwRe){
                modal.alert("비밀번호와 비밀번호 확인이 다릅니다.");
                return;
            }
            if(ut.isEmpty(userName)){
                modal.required("이름");
                return;
            }
            if(ut.isEmpty(birth)){
                modal.required("생일");
                return;
            }
            if(ut.isEmpty(school)){
                modal.required("학교");
                return;
            }
            if(ut.isEmpty(grade)){
                modal.required("학년");
                return;
            }
            if(ut.isEmpty(email)){
                modal.required("이메일");
                return;
            }
            if(regExp.isNotEmail(email)){
                modal.alert("이메일 형식이 아닙니다.")
                return;
            }

            if(telNo != "") {
                var regPhone = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
                if (regPhone.test(telNo) !== true) {
                    modal.alert('핸드폰 번호 형식이 아닙니다. (010-0000-0000)');
                    return;
                }
            }

            if(parentTel != "") {
                var regPhone = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
                if (regPhone.test(parentTel) !== true) {
                    modal.alert('핸드폰 번호 형식이 아닙니다. (010-0000-0000)');
                    return;
                }
            }

            /*if(ut.isEmpty(attendanceNo)){
                modal.required("출결번호");
                return;
            }*/
            if(ut.isEmpty(zonecode)){
                modal.required("주소");
                return;
            }
            if(ut.isEmpty(roadAddress)){
                modal.required("주소");
                return;
            }
            if(ut.isEmpty(detailAddress)){
                modal.required("상세주소");
                return;
            }
            if(ut.isEmpty(parentName)){
                modal.required("보호자 성함");
                return;
            }
            if(ut.isEmpty(parentTel)){
                modal.required("보호자 연락처");
                return;
            }
            if(ut.isEmpty(relation)){
                modal.required("학생과의 관계");
                return;
            }



            /*var dayArr = [];
            $("select[name=dayOfWeekList]").each(function(){
                dayArr.push($(this).val());
            });
            var daySet = new Set(dayArr);

            if(dayArr.length != daySet.size){
                modal.alert("중복된 요일은 선택 할 수 없습니다.");
                return;
            }*/
            $.post("/api/join",$("#form1").serialize(),function(res){
                ut.redirect("/joinComplete")
            });
        }
    </script>
</th:block>
</html>