<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>내 정보</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="responsiveWrap">
        <h1 class="responsiveH1">내 정보</h1>
        <div class="responsiveInner">
            <form id="form1">
                <div class="inputSec">
                    <label for="userId" class="mb5">아이디</label>
                    <input name="userId" id="userId" type="text" class="input-df mb20" required disabled th:value="${el.user.userId}"><!--<button id="idDupCheckBtn" type="button" class="btn post-btn" onclick="idDupCheck()">중복검사</button>-->
                    <label for="userPw" class="mb5">비밀번호 <span>수정시에만 입력하세요.</span></label>
                    <input name="userPw" id="userPw" type="password" class="input-df mb20" required>
                    <label for="userPwRe" class="mb5">비밀번호 확인 <span>수정시에만 입력하세요.</span></label>
                    <input name="userPwRe" id="userPwRe" type="password" class="input-df mb20" required>
                </div>
                <div class="inputSec">
                    <label for="" class="mb5">반</label>
                    <select name="classId" class="input-df mb20" disabled>
                        <option th:each="class : ${classList}" th:value="${class.id}" th:text="${class.className}" th:selected="${#strings.equals(class.className, el.academyClass.className)}">잇플코딩입문반</option>
                    </select>
                    <label for="userName" class="mb5">이름</label>
                    <input name="userName" id="userName" type="text" class="input-df mb20" required th:value="${el.user.userName}">
                    <label for="attendanceNo" class="mb5">출결번호</label>
                    <input name="attendanceNo" id="attendanceNo" type="text" class="input-df mb20" required maxlength="4" disabled th:value="${el.attendanceNo}">
                    <label for="" class="mb5">생일</label>
                    <div class="datepickerWrap">
                        <input name="birth" type="text" class="input-df mb20 datepicker" th:value="${#temporals.format(el.birth,'yyyy-MM-dd')}">
                        <i class="i-date"></i>
                    </div>
                </div>
                <div class="inputSec">
                    <label for="school" class="mb5">학교</label>
                    <input name="school" id="school" type="text" class="input-df mb20" th:value="${el.school}">
                    <label for="" class="mb5">학년</label>
                    <select name="grade" id="" class="input-df mb20">
                        <option th:each="grade : ${T(com.softj.itple.domain.Types.Grade).values()}" th:value="${grade}" th:text="${grade.message}" th:selected="${grade == el.grade}">1학년</option>
                    </select>
                    <label for="email" class="mb5">이메일</label>
                    <input name="email" id="email" type="text" class="input-df mb20" th:value="${el.email}">
                </div>
                <div class="inputSec">
                    <label for="zonecode" class="mb5">집주소</label>
                    <input name="zonecode" id="zonecode" type="text" class="input-df post mb10" readonly placeholder="우편번호" th:value="${el.zonecode}"><button type="button" class="btn post-btn" onclick="oepnAddrPopup()">주소검색</button>
                    <input name="roadAddress" type="text" class="input-df mb10" readonly placeholder="주소" th:value="${el.roadAddress}">
                    <input name="detailAddress" type="text" class="input-df mb20" placeholder="상세주소" th:value="${el.detailAddress}">
                    <label for="parentName" class="mb5">보호자 성함</label>
                    <input name="parentName" id="parentName" type="text" class="input-df mb20" required th:value="${el.parentName}">
                    <label for="parentTel" class="mb5">보호자 연락처</label>
                    <input name="parentTel" id="parentTel" type="text" class="input-df mb20" required th:value="${el.parentTel}">
                </div>
                <div class="inputSec timeSelectOuter">
                    <label for="" class="mb10">등원 시간</label>
                    <div class="timeSelectWrap">
                        <select name="dayOfWeekList" class="daySel">
                            <option th:each="day : ${T(com.softj.itple.domain.Types.DayOfWeek).values()}" th:value="${day}" th:text="${day.message}" th:selected="${day == el.user.attendanceList.get(0).attendanceDay}">월요일</option>
                        </select>
                        <select name="hourList">
                            <option value="9" th:selected="${#strings.equals(9, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">9시</option>
                            <option value="10" th:selected="${#strings.equals(10, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">10시</option>
                            <option value="11" th:selected="${#strings.equals(11, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">11시</option>
                            <option value="12" th:selected="${#strings.equals(12, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">12시</option>
                            <option value="13" th:selected="${#strings.equals(13, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">13시</option>
                            <option value="14" th:selected="${#strings.equals(14, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">14시</option>
                            <option value="15" th:selected="${#strings.equals(15, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">15시</option>
                            <option value="16" th:selected="${#strings.equals(16, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">16시</option>
                            <option value="17" th:selected="${#strings.equals(17, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">17시</option>
                            <option value="18" th:selected="${#strings.equals(18, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">18시</option>
                            <option value="19" th:selected="${#strings.equals(19, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">19시</option>
                            <option value="20" th:selected="${#strings.equals(20, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'H'))}">20시</option>
                        </select>
                        <select name="minList">
                            <option value="0" th:selected="${#strings.equals(0, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'m'))}">00분</option>
                            <option value="10" th:selected="${#strings.equals(10, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'m'))}">10분</option>
                            <option value="20" th:selected="${#strings.equals(20, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'m'))}">20분</option>
                            <option value="30" th:selected="${#strings.equals(30, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'m'))}">30분</option>
                            <option value="40" th:selected="${#strings.equals(40, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'m'))}">40분</option>
                            <option value="50" th:selected="${#strings.equals(50, #temporals.format(el.user.attendanceList.get(0).attendanceAt,'m'))}">50분</option>
                        </select>
                        <button type="button" class="btn-add"></button>
                    </div>

                    <div class="timeSelectWrap" th:each="at : ${el.user.attendanceList}" th:if="${atStat.index != 0}">
                        <select name="dayOfWeekList" class="daySel">
                            <option th:each="day : ${T(com.softj.itple.domain.Types.DayOfWeek).values()}" th:value="${day}" th:text="${day.message}" th:selected="${day == at.attendanceDay}">월요일</option>
                        </select>
                        <select name="hourList">
                            <option value="9" th:selected="${#strings.equals(9, #temporals.format(at.attendanceAt,'H'))}">9시</option>
                            <option value="10" th:selected="${#strings.equals(10, #temporals.format(at.attendanceAt,'H'))}">10시</option>
                            <option value="11" th:selected="${#strings.equals(11, #temporals.format(at.attendanceAt,'H'))}">11시</option>
                            <option value="12" th:selected="${#strings.equals(12, #temporals.format(at.attendanceAt,'H'))}">12시</option>
                            <option value="13" th:selected="${#strings.equals(13, #temporals.format(at.attendanceAt,'H'))}">13시</option>
                            <option value="14" th:selected="${#strings.equals(14, #temporals.format(at.attendanceAt,'H'))}">14시</option>
                            <option value="15" th:selected="${#strings.equals(15, #temporals.format(at.attendanceAt,'H'))}">15시</option>
                            <option value="16" th:selected="${#strings.equals(16, #temporals.format(at.attendanceAt,'H'))}">16시</option>
                            <option value="17" th:selected="${#strings.equals(17, #temporals.format(at.attendanceAt,'H'))}">17시</option>
                            <option value="18" th:selected="${#strings.equals(18, #temporals.format(at.attendanceAt,'H'))}">18시</option>
                            <option value="19" th:selected="${#strings.equals(19, #temporals.format(at.attendanceAt,'H'))}">19시</option>
                            <option value="20" th:selected="${#strings.equals(20, #temporals.format(at.attendanceAt,'H'))}">20시</option>
                        </select>
                        <select name="minList">
                            <option value="0" th:selected="${#strings.equals(0, #temporals.format(at.attendanceAt,'m'))}">00분</option>
                            <option value="10" th:selected="${#strings.equals(10, #temporals.format(at.attendanceAt,'m'))}">10분</option>
                            <option value="20" th:selected="${#strings.equals(20, #temporals.format(at.attendanceAt,'m'))}">20분</option>
                            <option value="30" th:selected="${#strings.equals(30, #temporals.format(at.attendanceAt,'m'))}">30분</option>
                            <option value="40" th:selected="${#strings.equals(40, #temporals.format(at.attendanceAt,'m'))}">40분</option>
                            <option value="50" th:selected="${#strings.equals(50, #temporals.format(at.attendanceAt,'m'))}">50분</option>
                        </select>
                        <button type="button" class="btn-remove"></button>
                    </div>
                </div>
                <div class="btn-center mt60">
                    <button type="button" class="btn" onclick="myInfoSave()">저장하기</button>
                </div>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
        $(function(){
            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                language: "ko",
                orientation: "auto"
            });

            $(document).on("click", ".btn-remove", function(){
                $(this).parents('.timeSelectWrap').remove();
            }).on("click", ".btn-add", function(){
                if($(".timeSelectWrap").length > 6){
                    modal.alert('7일 이상 추가할 수 없습니다.');
                }else{
                    var html = `
                        <div class="timeSelectWrap">
                            <select name="dayOfWeekList" class="daySel">
                                <option value="MONDAY">월요일</option>
                                <option value="TUESDAY">화요일</option>
                                <option value="WEDNESDAY">수요일</option>
                                <option value="THURSDAY">목요일</option>
                                <option value="FRIDAY">금요일</option>
                                <option value="SATURDAY">토요일</option>
                                <option value="SUNDAY">일요일</option>
                            </select>
                            <select name="hourList">
                                <option value="9">9시</option>
                                <option value="10">10시</option>
                                <option value="11">11시</option>
                                <option value="12">12시</option>
                                <option value="13">13시</option>
                                <option value="14">14시</option>
                                <option value="15">15시</option>
                                <option value="16">16시</option>
                                <option value="17">17시</option>
                                <option value="18">18시</option>
                                <option value="19">19시</option>
                                <option value="20">20시</option>
                            </select>
                            <select name="minList">
                                <option value="0">00분</option>
                                <option value="10">10분</option>
                                <option value="20">20분</option>
                                <option value="30">30분</option>
                                <option value="40">40분</option>
                                <option value="50">50분</option>
                            </select>
                            <button type="button" class="btn-remove"></button>
                        </div>
                    `;
                    $(".timeSelectOuter").append(html);
                }
            });

            $("input[name=userId]").on("input",function(){
                checkId = "";
                $("#idDupCheckBtn").removeClass("btn-blue");
                $("#idDupCheckBtn").text("중복검사");
            });
        });

        function oepnAddrPopup(){
            new daum.Postcode({
                autoClose: true,
                oncomplete: function(data) {
                    $("input[name=zonecode]").val(data.zonecode);
                    $("input[name=roadAddress]").val(data.roadAddress);
                    $("input[name=detailAddress]").focus();
                }
            }).open();
        }

        function idDupCheck(){
            var userId = $("input[name=userId]").val();
            if(regExp.isNotId(userId)){
                modal.alert("아이디는 영문자로 시작하는 영문자 또는 숫자 6~20자로 설정해주세요.");
                return;
            }
            $.post("/api/dupCheck",{userId: userId},function (res){
                checkId = userId;
                $("#idDupCheckBtn").addClass("btn-blue");
                $("#idDupCheckBtn").text("검사완료");
            });
        }

        function myInfoSave(){
            var userId = $("input[name=userId]").val();
            var userPw = $("input[name=userPw]").val();
            var userPwRe = $("input[name=userPwRe]").val();
            var userName = $("input[name=userName]").val();
            var attendanceNo = $("input[name=attendanceNo]").val();
            var birth = $("input[name=birth]").val();
            var school = $("input[name=school]").val();
            var email = $("input[name=email]").val();
            var zonecode = $("input[name=zonecode]").val();
            var parentName = $("input[name=parentName]").val();
            var parentTel = $("input[name=parentTel]").val();

            if(attendanceNo.length != 4){
                modal.alert("출결번호는 4자리 입력해주세요");
                return;
            }
            if(userPw != userPwRe){
                modal.alert("비밀번호와 비밀번호 확인이 다릅니다.");
                return;
            }
            if(regExp.isNotEmail(email)){
                modal.alert("이메일 형식이 아닙니다.")
                return;
            }
            if(ut.isEmpty(userId)){
                modal.required("아이디");
                return;
            }
            if(ut.isEmpty(userName)){
                modal.required("이름");
                return;
            }
            if(ut.isEmpty(attendanceNo)){
                modal.required("출결번호");
                return;
            }
            if(ut.isEmpty(birth)){
                modal.required("생일");
                return;
            }
            if(ut.isEmpty(school)){
                modal.required("학교");
                return;
            }
            if(ut.isEmpty(email)){
                modal.required("이메일");
                return;
            }
            if(ut.isEmpty(zonecode)){
                modal.required("주소");
                return;
            }
            if(ut.isEmpty(parentName)){
                modal.required("보호자 성함");
                return;
            }
            if(ut.isEmpty(parentTel)){
                modal.required("보호자 연락처");
                return;
            }

            var dayArr = [];
            $("select[name=dayOfWeekList]").each(function(){
                dayArr.push($(this).val());
            });
            var daySet = new Set(dayArr);

            if(dayArr.length != daySet.size){
                modal.alert("중복된 요일은 선택 할 수 없습니다.");
                return;
            }

            $.post("/api/myInfoModify",$("#form1").serialize(),function(res){
                modal.alert("저장되었습니다.");
            });
        }
    </script>
</th:block>
</body>
</html>