<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>수업연계</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">수업연계</h1>
        <div class="tab clearfix adTab">
            <ul class="tab-ul">
                <li th:classappend="${#strings.equals(params.taskType,'TASK') ? 'active' : ''}"><a href="/a2/p1">과제</a></li>
                <li th:classappend="${#strings.equals(params.taskType,'BOOK_REPORT') ? 'active' : ''}"><a href="/a2/p1?taskType=BOOK_REPORT">독후감</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="adSearch clearfix">
                <form id="form1" class="adSearch-in">
                    <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
                    <input type="hidden" id="taskType" name="taskType" th:value="${params.taskType}">
                    <div class="in-box">
                        <select name="searchType" id="searchType">
                            <option value="subject" th:selected="${#strings.equals(param.searchType, 'subject')}">제목</option>
                            <!--                            <option value="writer" th:selected="${#strings.equals(param.searchType, 'writer')}">저자</option>-->
                        </select>
                        <input type="text" name="searchValue" th:value="${param.searchValue}">
                    </div>
                    <button type="button" class="src-btn" onclick="goSearch()"></button>
                </form>
            </div>
            <div class="subTit">
                <p class="className" th:text="${academyClass.className}">잇플 코딩입문반A</p>
            </div>
            <div class="tableBtn-box">
                <div class="leftBox">
                    <button type="button" class="m-btn btn-line RemoveBtn">선택삭제</button>
                </div>
                <form id="form2" name="form2">
                    <input type="hidden" name="idList" id="idList" />
                </form>
            </div>
            <table class="adTable list2">
                <thead class="adTable-head">
                <tr>
                    <th><input type="checkbox" id="all-chk"><label for="all-chk"></label></th>
                    <th>No</th>
                    <th>제목</th>
                    <th>제출/미제출/확인완료/총인원</th>
                    <th>기간</th>
                    <th>포인트</th>
                    <th>수정</th>
                </tr>
                </thead>
                <tbody class="adTable-body adTbody checklist">
                <tr th:each="el : ${list}">
                    <td>
                        <input type="checkbox" name="seqList" th:id="|a${elStat.count}|" ><label th:for="|a${elStat.count}|"></label>
                        <input type="hidden" name="id" th:id="|id${elStat.count}|" th:value="${el.id}"/>
                    </td>
                    <td th:text="${list.pageable.offset+elStat.count}"></td>
                    <td><a th:href="|/a2/p1-detail/${el.id}?taskType=${params.taskType}|" th:text="${el.subject}">사람은 무엇으로 사는가</a></td>
                    <td th:text="|${submitNumList.get(elStat.index)}/${notSubmitNumList.get(elStat.index)}/${completeNumList.get(elStat.index)}/${totalNumList.get(elStat.index)}|"></td>
                    <td th:text="| ${#temporals.format(el.startDate,'yyyy.MM.dd')} ~ ${#temporals.format(el.endDate,'yyyy.MM.dd HH:mm')}|">2022.06.01 ~ 2022.06.07</td>
                    <td th:text="${el.coin}"></td>
                    <td><button type="button" class="s-btn" th:onclick="|goEdit(${el.id})|">수정</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
    </div>

    <div class="modal" id="removeMo">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                    선택 <span th:text="${#strings.equals(params.taskType,'TASK') ? '과제' : '독후감'}"></span>을(를) 정말 삭제하시겠습니까?<br>
                    삭제한 <span th:text="${#strings.equals(params.taskType,'TASK') ? '과제' : '독후감'}"></span>은(는) 복구할 수 없습니다.
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-red modalOff" onclick="goAction('D1')">삭제하기</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/a2/a2p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        $('.RemoveBtn').on('click', function () {
            $('#removeMo').addClass('on');
        });
        function goEdit(id){
            location.href = "/a2/p1-write/"+id+"/[[${list.pageable.pageNumber}]]?taskType="+[[${params.taskType}]];
        }
    </script>
</th:block>
</body>
</html>