<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/admin/layout">
<head>
  <title>잇플 수업연계과제목록</title>
</head>
<body class="adminBody">
<th:block layout:fragment="content">
  <div class="adContent">
    <h1 class="adH1">수업연계</h1>
    <div class="tab clearfix adTab">
      <ul class="tab-ul">
        <li class="active"><a href="/a2/p1">과제</a></li>
        <li ><a href="/a2/p2">독후감</a></li>
      </ul>
    </div>
    <div class="content-in clearfix">
      <div class="tableBtn-box">
        <div class="leftBox">
        </div>
        <div class="rightBox">
          <a href="/a2/p1-write" class="aBtn">과제등록</a>
        </div>
      </div>
      <ul class="adTask-list">
        <li>
          <a href="/a2/p1-task">
            <h3 class="engClass">잇플 영어입문반A<span class="">10</span></h3>
            <p><span>입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
        <li>
          <a href="taskClassAdmin.html">
            <h3 class="codClass">잇플 파이썬 응용반A<span class="">10</span></h3>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
        <li>
          <a href="taskClassAdmin.html">
            <h3 class="codClass">잇플 파이썬 응용반A<span class="">10</span></h3>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
        <li>
          <a href="taskClassAdmin.html">
            <h3 class="codClass">잇플 파이썬 응용반A<span class="">10</span></h3>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
        <li>
          <a href="taskClassAdmin.html">
            <h3 class="engClass">잇플 영어입문반A<span class="">60</span></h3>
            <p><span>입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
        <li>
          <a href="taskClassAdmin.html">
            <h3 class="codClass">잇플 파이썬 응용반A<span class="">58</span></h3>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
        <li>
          <a href="taskClassAdmin.html">
            <h3 class="engClass">잇플 영어입문반A<span class="">10</span></h3>
            <p><span>입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
        <li>
          <a href="taskClassAdmin.html">
            <h3 class="engClass">잇플 영어입문반A<span class="">10</span></h3>
            <p><span>입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
        <li>
          <a href="taskClassAdmin.html">
            <h3 class="engClass">잇플 영어입문반A<span class="">30</span></h3>
            <p><span>입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
        <li>
          <a href="taskClassAdmin.html">
            <h3 class="engClass">잇플 영어입문반A<span class="">10</span></h3>
            <p><span>입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1입문반을 위한 과제1</span><span>~22.04.08</span></p>
            <p><span>입문반을 위한 과제1</span><span>~22.04.08</span></p>
          </a>
        </li>
      </ul>
    </div>
    <!--페이지네이션-->
    <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
  </div>
  <script th:src="@{/assets/js/a2/a2p1.js(v='1.0.0')}"></script>
  <script th:inline="javascript">
  </script>
</th:block>
</body>
</html>