<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>잇플 수업연계과제반학생목록</title>
</head>
<body class="adminBody">
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">수업연계</h1>
        <div class="tab clearfix adTab">
            <ul class="tab-ul">
                <li class="active"><a href="/a2/p1">과제</a></li>
                <li ><a href="/a2/p2">독후감</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="adSearch clearfix">
                <form action="" class="adSearch-in">
                    <div class="in-box">
                        <select name="" id="">
                            <option value="">전체</option>
                            <option value="">학생</option>
                            <option value="">출결번호</option>
                            <option value="">과제</option>
                        </select>
                        <input type="text">
                    </div>
                    <button type="button" class="src-btn"></button>
                </form>
            </div>
            <div class="subTit">
                <a href="/a2/p1-task" class="subTit-class">잇플코딩입문반A</a><span>입문반을 위한 과제1</span>
            </div>
            <table class="adTable list3">
                <thead class="adTable-head">
                <tr>
                    <th>학생</th>
                    <th>출결번호</th>
                    <th>과제</th>
                    <th>과제확인</th>
                </tr>
                </thead>
                <tbody class="adTable-body adTbody checklist">
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>완료</td>
                    <td><button type="button" class="s-btn reportBtn">과제보기</button></td>
                </tr>
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>완료</td>
                    <td><button type="button" class="s-btn s-btnCom reportBtn" disabled="disabled">확인완료</button></td>
                </tr>
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>미완료</td>
                    <td><button type="button" class="s-btn reportBtn s-btnDsb" disabled="disabled">확인하기</button></td>
                </tr>
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>미완료</td>
                    <td><button type="button" class="s-btn reportBtn s-btnDsb" disabled="disabled">확인하기</button></td>
                </tr>
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>미완료</td>
                    <td><button type="button" class="s-btn reportBtn s-btnDsb" disabled="disabled">확인하기</button></td>
                </tr>
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>완료</td>
                    <td><button type="button" class="s-btn reportBtn">과제보기</button></td>
                </tr>
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>완료</td>
                    <td><button type="button" class="s-btn reportBtn">과제보기</button></td>
                </tr>
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>완료</td>
                    <td><button type="button" class="s-btn reportBtn">과제보기</button></td>
                </tr>
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>완료</td>
                    <td><button type="button" class="s-btn reportBtn">과제보기</button></td>
                </tr>
                <tr>
                    <td>김잇플</td>
                    <td>1598</td>
                    <td>완료</td>
                    <td><button type="button" class="s-btn reportBtn">과제보기</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            <li class="page-arrow"><a class="page-link p-L2" href="#"></a></li>
            <li class="page-arrow"><a class="page-link p-L1" href="#"></a></li>
            <li class="page-item"><a class="page-link active" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">8</a></li>
            <li class="page-item"><a class="page-link" href="#">9</a></li>
            <li class="page-item"><a class="page-link" href="#">10</a></li>
            <li class="page-arrow"><a class="page-link p-R1" href="#"></a></li>
            <li class="page-arrow"><a class="page-link p-R2" href="#"></a></li>
        </ul>
    </div>
    <script th:src="@{/assets/js/a2/a2p1.js(v='1.0.0')}"></script>
    <script th:inline="javascript">
        $('.RemoveBtn').on('click', function () {
            $('#removeMo').addClass('on');
        });
        $('.reportBtn').on('click', function () {
            $('#reportMo').addClass('on');
        });
        $(document).on("click", ".modalClose, .modalOff, .modal-bg", function(){
            $(this).parents('.modal').removeClass('on');
        })
    </script>
</th:block>
</body>
</html>