<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>수업연계</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="responsiveWrap">
        <h1 class="responsiveH1">수업연계
            <th:block th:switch="${#strings.toString(params.taskType)}">
                <span th:case="TASK">_과제</span>
                <span th:case="BOOK_REPORT">_독후감</span>
            </th:block>
        </h1>
        <div class="responsiveInner">
            <form id="form1">
                <input type="hidden" id="id" name="id" th:value="${elMap == null ? 0 : elMap.id}" />
                <input type="hidden" id="classId" th:value="${params.classId}" />
                <input type="hidden" id="taskType" name="taskType" th:value="${params.taskType}" />
                <div class="inputSec">
                    <label for="teacherId" class="mb5">출제 선생님 선택</label>
                    <select name="teacherId" id="teacherId" class="input-df mb20" onchange="setClassList()">
                        <option th:each="el1 : ${teacherList}" th:value="${el1.user.id}" th:text="|${el1.user.userName}|" th:selected="${teacher != null ? el1.id == teacher.id : false }">선생님이름</option>
                    </select>
                    <label for="classSel" class="mb5">선생님 반 선택</label>
                    <select id="classSel" class="input-df mb20" onchange="setStudentList1()">
                        <option th:each="class : ${teacherClassList}" th:value="${class.id}" th:text="|[${class.academyType.message}] ${class.className}|">잇플코딩입문반</option>
                    </select>
                    <label for="studAll2" class="mb5">학생 선택</label>
                    <div class="studCh">
                        <input type="checkbox" id="studAll2"><label for="studAll2">전체선택</label>
                        <div id="studentList">
                            <input type="checkbox" class="chkStud" id="stud1"><label for="stud1">김잇플</label>
                        </div>
                    </div>
                    <button type="button" id="addStudent" class="btn m-btn mb20 addBtn">추가</button>
                    <div class="classN" id="studentSelList">
                        <p>선택된 반/학생 목록</p>
                        <div class="classInfo" th:if="${taskList1 != null}" th:each="task1 : ${taskList1}">
                            <span th:utext="|${task1.academyClass.className} <button type='button' class='delClassBtn delBtn2'>삭제</button>|"></span>
                            <input type="hidden" class="order" th:value="${task1Stat.index}"/>
                            <input type="hidden" name="classIdList" th:value="${task1.academyClass.id}" />
                            <p>
                                <span th:each="studentTask1 : ${task1.studentTasks}">
                                    <span><input type="hidden" th:class="|studentIdList2_${task1Stat.index}|" th:value="${studentTask1.student.id}"/></span>
                                    <span th:utext="|${studentTask1.student.user.userName} <button type='button' class='delStudBtn delBtn2'>삭제</button>|"></span>
                                </span>
                            </p>
                        </div>
                    </div>

                    <label for="classSel2" class="mb5">다른 반 선택</label>
                    <select id="classSel2" class="input-df mb20" onchange="setStudentList2()">
                        <option th:each="class : ${otherClassList}" th:value="${class.id}" th:text="|[${class.academyType.message}] ${class.className}|">잇플코딩입문반</option>
                    </select>
                    <label for="studAll3" class="mb5">학생 선택</label>
                    <div class="studCh">
                        <input type="checkbox" id="studAll3"><label for="studAll3">전체선택</label>
                        <div id="studentList2">
                            <input type="checkbox" class="chkStud" id="stud2"><label for="stud2">김잇플</label>
                        </div>
                    </div>
                    <button type="button" id="addStudent2" class="btn m-btn mb20 addBtn">추가</button>
                    <div class="classN" id="studentSelList2">
                        <p>선택된 반/학생 목록</p>
                        <div class="classInfo" th:if="${taskList2 != null}" th:each="task2 : ${taskList2}">
                            <input type="hidden" class="order" th:value="${task2Stat.index}" />
                            <div class="classN-in classNadd">
                                <input type="text" name="classNameList" class="input-df mb20" placeholder="반이름" th:value="${task2.taskMapName}">
                                <button type="button" class="deleteClass delClassBtn">-</button>
                            </div>
                            <p>
                                <span th:each="studentTask2 : ${task2.studentTasks}">
                                    <span th:utext="|${studentTask2.student.user.userName} <button type='button' class='delBtn2 delStudBtn'>삭제</button>|"></span>
                                    <span><input type="hidden" th:class="|studentIdList3_${task2Stat.index}|" th:value="${studentTask2.student.id}"/></span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <label for="subject" class="mb5">제목</label>
                    <input type="text" class="input-df mb20" name="subject" id="subject" th:value="${el?.subject}">
                    <label th:if="${#strings.equals(params.taskType,'BOOK_REPORT')}" for="teacher" class="mb5">출제 선생님</label>
                    <input th:if="${#strings.equals(params.taskType,'BOOK_REPORT')}" type="text" class="input-df mb20" id="teacher" name="teacher" th:value="${el?.teacher}">
                    <th:block th:switch="${#strings.toString(params.taskType)}">
                        <label for="contents" class="mb5" th:case="TASK">과제 내용</label>
                        <label for="contents" class="mb5" th:case="BOOK_REPORT">독후감 내용</label>
                    </th:block>
                    <textarea name="contents" id="contents" cols="30" rows="10" class="mb20" th:utext="${el?.contents}"></textarea>

                    <div class="mb20">
                        <div class="fileHead">
                            <p>첨부파일</p>
                            <div class="file-btn">
                                <button type="button" class="chRemove">선택삭제</button>
                                <input type="file" multiple="multiple" class="" id="fileInput" name="files">
                                <label for="fileInput" class="fileBtn">파일첨부</label>
                            </div>
                        </div>
                        <ul class="fileUP" id="articlefileChange">
                            <li th:if="${el != null && el.taskFileList != null }" th:each="file : ${el?.taskFileList}">
                                <input th:id="|file-ch${file.id}|" type="checkbox" name="idList" th:value="${file.id}">
                                <label th:for="|file-ch${file.id}|"><a th:href="|/taskFileDownload/${file.uploadFileName}|"><span th:text="${file.orgFileName}"></span></a></label>
                            </li>
                        </ul>
                    </div>

                    <div class="dateBox mb20">
                        <th:block th:switch="${#strings.toString(params.taskType)}">
                            <label class="mb5" th:case="TASK">과제 마감일</label>
                            <label class="mb5" th:case="BOOK_REPORT">독후감 마감일</label>
                        </th:block>
                        <div class="datepickerWrap">
                            <input type="text" class="input-df datepicker" name="startDate" th:value="${#temporals.format(el?.startDate,'yyyy-MM-dd')}">
                            <i class="i-date"></i>
                        </div>
                        <span>-</span>
                        <div class="datepickerWrap">
                            <input type="text" class="input-df datepicker" name="endDate" th:value="${#temporals.format(el?.endDate,'yyyy-MM-dd')}">
                            <i class="i-date"></i>
                        </div>
                    </div>
                    <div class="dateBox">
                        <label for="coin" class="mb5">지급포인트</label>
                        <div class="datepickerWrap">
                            <input type="text" class="input-df mb20 txtRight" th:value="${el?.coin}" name="coin" id="coin">
                        </div>
                    </div>
                </div>
                <div class="btn-center mt60">
                    <button type="button" class="btn m-btn" onclick="goAction('S1')">등록하기</button>
                    <button type="button" class="btn m-btn btn-gray ml10" onclick="goList()">목록</button>
                </div>
            </form>
        </div>
    </div>
    <div id="dummySelStudent" style="display:none">
        <div class="classInfo">
            <span> <button type="button" class="delClassBtn delBtn2">삭제</button></span>
            <input type="hidden" class="order" value="0"/>
            <input type="hidden" name="classIdList" value=""/>
            <p></p>
        </div>
    </div>
    <div id="dummySelStudent2" style="display:none">
        <div class="classInfo">
            <input type="hidden" class="order" value="0"/>
            <div class="classN-in classNadd">
                <input type="text" name="classNameList" class="input-df mb20" placeholder="반이름">
                <button type="button" class="deleteClass delClassBtn">-</button>
            </div>
            <p></p>
        </div>
    </div>

    <script th:src="@{/assets/js/a2/a2p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function(){
            var len1 = /*[[${#lists.size(taskList1)}]]*/;
            if(len1 > 0) {
                var preOrder = /*[[${#lists.size(taskList1)}]]*/;
                $("#dummySelStudent").find("input[class=order]").val(parseInt(preOrder));
            }
            var len2 = /*[[${#lists.size(taskList2)}]]*/;
            if(len2 > 0) {
                var preOrder = /*[[${#lists.size(taskList2)}]]*/;
                $("#dummySelStudent2").find("input[class=order]").val(parseInt(preOrder));
            }
        });
        $("#studAll2").on("click", function(){
            if($(this).prop("checked")) {
                $("#studentList input:checkbox[class='studentIdList']").each(function () {
                    $(this).prop("checked", true);
                });
            }else{
                $("#studentList input:checkbox[class='studentIdList']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $("#studAll3").on("click", function(){
            if($(this).prop("checked")) {
                $("#studentList2 input:checkbox[class='studentIdList']").each(function () {
                    $(this).prop("checked", true);
                });
            }else{
                $("#studentList2 input:checkbox[class='studentIdList']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $(document).on("click",".delStudBtn", function(){
            var len = $(this).parent().parent().parent().parent().find("p > span").length;

            if(len > 1){
                $(this).parent().parent().remove();
            }else{
                var classStr = $(this).parent().parent().parent().parent().parent().prop("id");

                if(classStr.indexOf("studentSelList2") > -1){
                    var order = parseInt($("#dummySelStudent2").find("input[class=order]").val());
                    if(order < 2){
                        order = 1;
                    }
                    $("#dummySelStudent2").find("input[class=order]").val(order-1);
                }else{
                    var order = parseInt($("#dummySelStudent").find("input[class=order]").val());
                    if(order < 2){
                        order = 1;
                    }
                    $("#dummySelStudent").find("input[class=order]").val(order-1);
                }
                var parentNode = $(this).parent().parent().parent().parent().parent();
                $(this).parent().parent().parent().parent().remove();

                var i=0;
                parentNode.find(".classInfo").each(function(){
                    $(this).find("input[class=order]").val(i);
                    var classStr = $(this).find("p input").prop("class");
                    var classArr = classStr.split("_");
                    var newClassStr = classArr[0]+"_"+i;
                    $(this).find("p input").each(function(){
                        $(this).prop("class", newClassStr);
                    });
                    i++;
                });
            }
        });

        $(document).on("click",".delClassBtn", function(){
            var classStr = $(this).prop("class");
            if(classStr.indexOf("deleteClass") > -1){
                var order = parseInt($("#dummySelStudent2").find("input[class=order]").val());
                if(order < 2){
                    order = 1;
                }
                $("#dummySelStudent2").find("input[class=order]").val(order-1);
            }else{
                var order = parseInt($("#dummySelStudent").find("input[class=order]").val());
                if(order < 2){
                    order = 1;
                }
                $("#dummySelStudent").find("input[class=order]").val(order-1);
            }

            var parentNode = $(this).parent().parent().parent();
            $(this).parent().parent().remove();

            var i=0;
            parentNode.find(".classInfo").each(function(){
                $(this).find("input[class=order]").val(i);
                var classStr = $(this).find("p input").prop("class");
                var classArr = classStr.split("_");
                var newClassStr = classArr[0]+"_"+i;
                $(this).find("p input").each(function(){
                    $(this).prop("class", newClassStr);
                });
                i++;
            });
        });

        $("#addStudent2").on("click", function(){

            var studentLength = $("#studentList2 input[type=checkbox]:checked").length;

            if(studentLength < 1){
                modal.alert("학생을 선택해주세요.");
                return;
            }else{

                var order = parseInt($("#dummySelStudent2 input[class=order]").val());

                $("#studentList2 input[class=studentIdList]:checked").each(function(){
                    var id = $(this).prop("id");
                    var html = $("label[for='"+id+"']").text() + " <button type=\"button\" class=\"delBtn2 delStudBtn\">삭제</button>";
                    $("#dummySelStudent2").find("p").append("<span><span><input type='hidden' class='studentIdList3_"+order+"' value='"+$(this).val()+"'/></span> <span>" + html + "</span></span>");
                });

                var html = $("#dummySelStudent2").html();
                $("#studentSelList2").append(html);

                $("#dummySelStudent2").html("<div class=\"classInfo\">\n" +
                    "            <div class=\"classN-in classNadd\">\n" +
                    "                <input type=\"hidden\" class=\"order\" value=\""+(order+1)+"\"/>\n" +
                    "                <input type=\"text\" name=\"classNameList\" class=\"input-df mb20\" placeholder=\"반이름\">\n" +
                    "                <button type=\"button\" class=\"deleteClass delClassBtn\">-</button>\n" +
                    "            </div>\n" +
                    "            <p></p>\n" +
                    "        </div>");

            }
        });
        $("#addStudent").on("click", function(){
            var classSel = $("#classSel").val();
            var className = $("#classSel option:selected").text();
            var studentLength = $("#studentList input[type=checkbox]:checked").length;

            if(studentLength < 1){
                modal.alert("학생을 선택해주세요.");
                return;
            }else{
                var order = parseInt($("#dummySelStudent input[class=order]").val());
                $("#studentSelList .classInfo").each(function(){
                    var classId = $(this).find("input[name=classIdList]").val();
                    if(classId == classSel){
                        $(this).remove();
                        order = order-1;
                        $("#dummySelStudent input[class=order]").val(order);
                    }
                });
                var i=0;
                $("#studentSelList .classInfo").each(function(){
                    $(this).find("input[class=order]").val(i);
                    var classStr = $(this).find("p input").prop("class");
                    var classArr = classStr.split("_");
                    var newClassStr = classArr[0]+"_"+i;
                    $(this).find("p input").each(function(){
                        $(this).prop("class", newClassStr);
                    });
                    i++;
                });
                $("#studentList input[class=studentIdList]:checked").each(function(){
                    var id = $(this).prop("id");
                    var html = className + " <button type=\"button\" class=\"delBtn2 delClassBtn\">삭제</button>";
                    $("#dummySelStudent .classInfo > span").html(html);
                    $("#dummySelStudent").find("p").append("<span><span><input type='hidden' class='studentIdList2_"+order+"' value='"+$(this).val()+"'/></span> <span>"+$("label[for='"+id+"']").text() + " <button type=\"button\" class=\"delBtn2 delStudBtn\">삭제</button>" +"</span></span>");
                });
                $("#dummySelStudent").find("input[name=classIdList]").val(classSel);

                var html = $("#dummySelStudent").html();
                $("#studentSelList").append(html);

                $("#dummySelStudent").html("<div class=\"classInfo\">\n" +
                    "                <span></span>\n" +
                    "                <input type=\"hidden\" class=\"order\" value=\""+(order+1)+"\"/>\n" +
                    "                <input type=\"hidden\" name=\"classIdList\" value=\"\"/>\n" +
                    "                <p></p>\n" +
                    "            </div>");
            }
        });
        function goList(){
            var bfPageStr = [[${params.bfPageStr}]];
            if(bfPageStr == "teacher"){
                var taskType = $("#taskType").val();
                location.href = "/a2/p1-teacher/[[${teacher.id}]]?taskType=" + taskType;
            }else {
                var academyClass = $("#classId").val();
                var taskType = $("#taskType").val();
                location.href = "/a2/p1-class/" + academyClass + "?taskType=" + taskType;
            }
        }
        /*]]>*/
        $(document).ready(function(){
            setStudentList();

            // input file 파일 첨부시 fileCheck 함수 실행
            $("#fileInput").on("change", fileUpload);
        });
        $(function(){
            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                language: "ko",
                orientation: "auto"
            });
        });
        $(document).on("click","#studentList input:checkbox[class='studentIdList']",function(){
            if(!$(this).is(":checked")){
                $("#studAll2").prop("checked",false);
            }
        });

        $(document).on("click","#studentList2 input:checkbox[class='studentIdList']",function(){
            if(!$(this).is(":checked")){
                $("#studAll3").prop("checked",false);
            }
        });

        // 파일 현재 필드 숫자 totalCount랑 비교값
        var fileCount = 0;
        // 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
        var totalCount = 10;
        // 파일 고유넘버
        var fileNum = 0;
        // 첨부파일 배열
        var content_files = new Array();

        function fileUpload(e) {
            var files = e.target.files;
            var formData = new FormData($("#form1")[0]);

            $.ajax({
                data : formData,
                type : "POST",
                url : "/api/a2/p1/f1",
                contentType : false,
                processData : false,
                success : function(res) {
                    if(ut.isEmpty(res.data)){
                        return;
                    }

                    res.data.forEach(function(el){
                        $('#articlefileChange').append(
                            `<li><input id="file-ch${el.id}" type="checkbox" name="idList" value="${el.id}"><label for="file-ch${el.id}"><span onclick="studentTaskFileDownload('${el.uploadFileName}')">${el.orgFileName}</span></label></li>`
                        );
                    });
                    $("#fileInput").val("");
                }
            });
        }

        // 파일 부분 삭제 함수
        $('.chRemove').click(function(){
            if(confirm("삭제하시겠습니까?")){
                $(".fileUP input[type=checkbox]:checked").each(function(){
                    var tr_value =$(this).val();
                    var tr=$("li[file-value='"+tr_value+"']");
                    var no = tr_value.replace(/[^0-9]/g, "");
                    content_files[no].is_delete = true;

                    tr.remove();
                    fileCount --;
                    console.log(content_files);
                });
            }else{
                return false;
            }
        });

        // 파일 부분 삭제 함수
        $('.chRemove').click(function(){
            if(confirm("삭제하시겠습니까?")){
                $(".fileUP input[type=checkbox]:checked").each(function(){
                    var tr_value =$(this).val();
                    var tr=$("li[file-value='"+tr_value+"']");
                    var no = tr_value.replace(/[^0-9]/g, "");
                    content_files[no].is_delete = true;

                    tr.remove();
                    fileCount --;
                    console.log(content_files);
                });
            }else{
                return false;
            }
        });

    </script>
</th:block>
</body>
</html>
