<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>수업연계</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">수업연계</h1>
        <div class="tab clearfix adTab">
            <ul class="tab-ul">
                <li><a href="/a2/p2">통합검색</a></li>
                <li th:classappend="${#strings.equals(params.taskType,'TASK') ? 'active' : ''}"><a href="/a2/p1">과제</a></li>
                <li th:classappend="${#strings.equals(params.taskType,'BOOK_REPORT') ? 'active' : ''}"><a href="/a2/p1?taskType=BOOK_REPORT">독후감</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="adSearch clearfix">
                <form id="form1" class="adSearch-in">
                    <input type="hidden" id="bfpage" name="bfpage" th:value="${params.bfpage}">
                    <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
                    <input type="hidden" id="taskType" name="taskType" th:value="${params.taskType}">
                    <div class="in-box">
                        <select name="searchType" id="searchType">
                            <option value="userName" th:selected="${#strings.equals(param.searchType, 'userName')}">학생이름</option>
                            <option value="attendanceNo" th:selected="${#strings.equals(param.searchType, 'attendanceNo')}">출결번호</option>
                        </select>
                        <input type="text" name="searchValue" th:value="${param.searchValue}">
                    </div>
                    <button type="button" class="src-btn" onclick="goSearch()"></button>
                </form>
            </div>
            <div class="subTit">
                <a th:href="|/a2/p1-class/${task.academyClass.id}?taskType=${params.taskType}|" class="subTit-class" th:text="${task.academyClass.className}">잇플코딩입문반A</a><span th:text="${task.subject}">EBS 강사가 추천하는 PAV 모빌리티 인기학과 진로코칭</span>
            </div>
            <div class="tableBtn-box">
                <div class="leftBox">
                    <button type="button" class="m-btn btn-line RemoveBtn">선택삭제</button>
                </div>
                <form id="form2" name="form2">
                    <input type="hidden" name="idList" id="idList" />
                </form>
            </div>
            <table class="adTable list3">
                <thead class="adTable-head">
                <tr>
                    <th><input type="checkbox" id="all-chk"><label for="all-chk"></label></th>
                    <th>학생</th>
                    <th>출결번호</th>
                    <th>상태</th>
                    <th th:text="|${task.taskType.message} 확인|">독후감 확인</th>
                </tr>
                </thead>
                <tbody class="adTable-body adTbody checklist">
                <tr th:each="el : ${list}">
                    <td>
                        <input type="checkbox" name="seqList" th:id="|a${elStat.count}|" ><label th:for="|a${elStat.count}|"></label>
                        <input type="hidden" name="id" th:id="|id${elStat.count}|" th:value="${el.id}"/>
                    </td>
                    <td th:text="${el.student.user.userName}">김잇플</td>
                    <td th:text="${el.student.attendanceNo}">1598</td>
                    <td th:text="${el.status.message}">완료</td>
                    <td th:switch="${#strings.toString(el.status)}">
                        <button th:case="NOT_SUBMIT" type="button" class="s-btn reportBtn s-btnDsb" disabled="disabled">미제출</button>
                        <button th:case="SUBMIT" type="button" class="s-btn reportBtn" th:onclick="|goAction('P1',${el.id})|"><span th:text="|${task.taskType.message} 보기|"></span></button>
                        <button th:case="COMPLETE" type="button" class="s-btn reportBtn" th:onclick="|goAction('P1',${el.id})|">확인완료</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>

        <div class="btn-center mt60">
            <button type="button" class="btn" onclick="goList()">학생 목록으로</button>
        </div>

    </div>
    <div class="modal" id="removeMo">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalText">
                    선택 학생 과제를 정말 삭제하시겠습니까?<br>
                    삭제한 학생 과제는 복구할 수 없습니다.
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-red modalOff" onclick="goAction('D2')">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal " id="reportMo">
        <div class="modal-bg"></div>
        <div class="modalContent lg">
            <div class="modalHd">
                <h3 th:text="|${task.taskType.message} 확인|">독후감 확인</h3>
                <input type="hidden" name="studentTaskId" id="studentTaskId"/>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody mobodyScroll">
                <div class="modalHead">
                    <div class="tableBtn-box">
                        <div class="leftBox">
                            <p class="modalGroup">[잇플코딩 기초입문반A]</p>
                            <p class="modalTit">EBS 강사가 추천하는 PAV 모빌리티 인기학과 진로코칭</p>
                            <p class="modalName">김잇플</p>
                        </div>
                        <div class="rightBox">
                            <div>
                                <div class="pointCom" style="width: 100%;"><span>과제완료 포인트</span><p><span th:text="${#numbers.formatInteger(task.coin,0,'COMMA')}">1,000</span> 포인트</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="fileHead">
                        <p>과제 내용</p>
                    </div>
                    <div class="modalMain taskContent"></div>
                    <div class="fileHead">
                        <p>제출 내용</p>
                    </div>
                    <div class="modalMain"></div>
                    <div class="countBox"><span class="text-count">0</span><span class="count-t">자</span></div>
                    <div class="mo-fileBox">
                        <div class="fileHead">
                            <p>첨부파일</p>
                        </div>
                        <ul class="fileUP" style="height:60px">
                            <li>첨부파일_1.jpg</li>
                        </ul>
                    </div>
                    <div class="inputSec mo-fileBox">
                        <div class="fileHead">
                            <p>반려사유</p>
                        </div>
                        <textarea id="returnMessage" style="height:60px"></textarea>
                    </div>
                    <div class="modalBtnWrap">
                        <button type="button" class="btn btn-blue" id="plusBtn">포인트 지급</button>
                        <button type="button" class="btn btn-red" id="minusBtn">포인트 차감</button>
                        <button type="button" class="btn btn-red" id="rejectBtn">다시제출 처리</button>
                        <button type="button" class="btn btn-blue" id="completeBtn">확인 처리</button>
                        <button type="button" class="btn btn-blue" id="cancleBtn">취소 처리</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/a2/a2p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        $('.RemoveBtn').on('click', function () {
            $('#removeMo').addClass('on');
        });
        $("#plusBtn").on("click", function(){
            var formData = {"id":$("#reportMo #studentTaskId").val()};
            $.post("/api/a2/p1/s4/plus", formData, function (res) {
                loading(0);
                modal.alert("포인트를 지급했습니다.");
                $("#plusBtn").removeClass("btn-blue");
                $("#minusBtn").removeClass("btn-red");
                $("#plusBtn, #minusBtn").addClass("btn-gray");
                $("#plusBtn, #minusBtn").prop("disabled", true);
            });
        });
        $("#minusBtn").on("click", function(){
            var formData = {"id":$("#reportMo #studentTaskId").val()};
            $.post("/api/a2/p1/s4/minus", formData, function (res) {
                loading(0);
                modal.alert("포인트를 차감했습니다.");
                $("#plusBtn").removeClass("btn-blue");
                $("#minusBtn").removeClass("btn-red");
                $("#plusBtn, #minusBtn").addClass("btn-gray");
                $("#plusBtn, #minusBtn").prop("disabled", true);
            });
        });

        function goList(){
            location.href="/a2/p1-class/[[${params.classId}]]?teacherId=[[${params.teacherId}]]&taskType="+[[${params.taskType}]]+"&page=[[${params.bfpage}]]";
        }

    </script>
</th:block>
</body>
</html>