<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>수업연계</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="responsiveWrap">
        <h1 class="responsiveH1">수업연계
            <th:block th:switch="${#strings.toString(params.taskType)}">
                <span th:case="TASK">_과제</span>
                <span th:case="BOOK_REPORT">_독후감</span>
            </th:block>
        </h1>
        <div class="responsiveInner">
            <form id="form1">
                <input type="hidden" id="id" name="id" th:value="${el == null ? 0 : el?.id}">
                <input type="hidden" id="taskType" name="taskType" th:value="${params.taskType}">
                <!--<input type="hidden" id="academyClass" name="academyClass" th:value="${el?.academyClass?.id}">-->
                <div class="inputSec">
                    <label for="teacherId" class="mb5">출제 선생님 선택</label>
                    <select name="teacherId" id="teacherId" class="input-df mb20" onchange="setClassList()">
                        <option th:each="teacher : ${teacherList}" th:value="${teacher.user.id}" th:text="|${teacher.user.userName}|">선생님이름</option>
                    </select>
                    <label for="classSel" class="mb5">선생님 반 선택</label>
                    <select id="classSel" class="input-df mb20" onchange="setStudentList1()">
                        <option th:each="class : ${teacherClassList}" th:value="${class.id}" th:text="|[${class.academyType.message}] ${class.className}|">잇플코딩입문반</option>
                    </select>
                    <label for="studAll" class="mb5">학생 선택</label>
                    <div class="studCh">
                        <input type="checkbox" id="studAll"><label for="studAll">전체선택</label>
                        <div id="studentList">
                            <input type="checkbox" class="chkStud" id="stud1"><label for="stud1">김잇플</label>
                        </div>
                    </div>
                    <button type="button" id="addStudent" class="btn m-btn mb20">추가</button>
                    <div class="classN" id="studentSelList">
                        <p>선택된 반/학생 목록</p>
                    </div>

                    <label for="classSel2" class="mb5">다른 반 선택</label>
                    <select id="classSel2" class="input-df mb20" onchange="setStudentList2()">
                        <option th:each="class : ${otherClassList}" th:value="${class.id}" th:text="|[${class.academyType.message}] ${class.className}|">잇플코딩입문반</option>
                    </select>
                    <label for="studAll" class="mb5">학생 선택</label>
                    <div class="studCh">
                        <input type="checkbox" id="studAll2"><label for="studAll">전체선택</label>
                        <div id="studentList2">
                            <input type="checkbox" class="chkStud" id="stud2"><label for="stud2">김잇플</label>
                        </div>
                    </div>
                    <button type="button" id="addStudent2" class="btn m-btn mb20">추가</button>
                    <div class="classN" id="studentSelList2">
                        <p>선택된 반/학생 목록</p>
                    </div>
                    <label for="subject" class="mb5">제목</label>
                    <input type="text" class="input-df mb20" name="subject" id="subject" th:value="${el?.subject}">
                    <label th:if="${#strings.equals(params.taskType,'BOOK_REPORT')}" for="teacher" class="mb5">출제 선생님</label>
                    <input th:if="${#strings.equals(params.taskType,'BOOK_REPORT')}" type="text" class="input-df mb20" id="teacher" name="teacher" th:value="${el?.teacher}">
                    <th:block th:switch="${#strings.toString(params.taskType)}">
                        <label for="contents" class="mb5" th:case="TASK">과제 내용</label>
                        <label for="contents" class="mb5" th:case="BOOK_REPORT">독후감 내용</label>
                    </th:block>
                    <textarea name="contents" id="contents" cols="30" rows="10" class="mb20" th:utext="${el?.contents}"></textarea>
                    <div class="dateBox mb20">
                        <th:block th:switch="${#strings.toString(params.taskType)}">
                            <label class="mb5" th:case="TASK">과제 마감일</label>
                            <label class="mb5" th:case="BOOK_REPORT">독후감 마감일</label>
                        </th:block>
                        <div class="datepickerWrap">
                            <input type="text" class="input-df datepicker" name="startDate" th:value="${#temporals.format(el?.startDate,'yyyy-MM-dd')}">
                            <i class="i-date"></i>
                        </div>
                        <span>-</span>
                        <div class="datepickerWrap">
                            <input type="text" class="input-df datepicker" name="endDate" th:value="${#temporals.format(el?.endDate,'yyyy-MM-dd')}">
                            <i class="i-date"></i>
                        </div>
                    </div>
                    <div class="dateBox">
                        <label for="coin" class="mb5">지급포인트</label>
                        <div class="datepickerWrap">
                            <input type="text" class="input-df mb20 txtRight" th:value="${el?.coin}" name="coin" id="coin">
                        </div>
                    </div>
                </div>
                <div class="btn-center mt60">
                    <button type="button" class="btn m-btn" onclick="goAction('S1')">등록하기</button>
                    <button type="button" class="btn m-btn btn-gray ml10" onclick="goList()">목록</button>
                </div>
            </form>
        </div>
    </div>
    <div id="dummySelStudent">
        <div class="classInfo">
            <span></span>
            <input type="hidden" name="classIdList" value=""/>
            <p></p>
        </div>
    </div>
    <div id="dummySelStudent2">
        <div class="classInfo">
            <div class="classN-in classNadd">
                <input type="text" name="classNameList" class="input-df mb20" placeholder="반이름">
                <button class="deleteClass">-</button>
            </div>
            <p></p>
        </div>
    </div>

    <script th:src="@{/assets/js/a2/a2p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $("#addStudent2").on("click", function(){
            var classSel = $("#classSel2").val();
            var className = $("#classSel2 option:selected").text();
            var studentLength = $("#studentList2 input[type=checkbox]:checked").length;

            if(studentLength < 1){
                modal.alert("학생을 선택해주세요.");
                return;
            }else{
                $("#studentSelList2 .classInfo").each(function(){
                    var classId = $(this).find("input[name=classIdList]").val();
                    if(classId == classSel){
                        $(this).remove();
                    }
                });
                $("#studentList2 input[class=studentIdList]:checked").each(function(){
                    var id = $(this).prop("id");
                    $("#dummySelStudent2 .classInfo > span").text(className);
                    $("#dummySelStudent2").find("p").append("<input type='hidden' name='studentIdList' value='"+$(this).val()+"'/> <span>"+$("label[for='"+id+"']").text()+"</span>");
                });
                $("#dummySelStudent2").find("input[name=classIdList]").val(classSel);

                var html = $("#dummySelStudent2").html();
                $("#dummySelStudent2").html("<div class=\"classInfo\">\n" +
                    "            <div class=\"classN-in classNadd\">\n" +
                    "                <input type=\"text\" name=\"classNameList\" class=\"input-df mb20\" placeholder=\"반이름\">\n" +
                    "                <button class=\"deleteClass\">-</button>\n" +
                    "            </div>\n" +
                    "            <p></p>\n" +
                    "        </div>");
                $("#studentSelList2").append(html);
            }
        });
        $("#addStudent").on("click", function(){
            var classSel = $("#classSel").val();
            var className = $("#classSel option:selected").text();
            var studentLength = $("#studentList input[type=checkbox]:checked").length;

            if(studentLength < 1){
                modal.alert("학생을 선택해주세요.");
                return;
            }else{
                $("#studentSelList .classInfo").each(function(){
                    var classId = $(this).find("input[name=classIdList]").val();
                    if(classId == classSel){
                        $(this).remove();
                    }
                });
                $("#studentList input[class=studentIdList]:checked").each(function(){
                    var id = $(this).prop("id");
                    $("#dummySelStudent .classInfo > span").text(className);
                    $("#dummySelStudent").find("p").append("<input type='hidden' name='studentIdList' value='"+$(this).val()+"'/> <span>"+$("label[for='"+id+"']").text()+"</span>");
                });
                $("#dummySelStudent").find("input[name=classIdList]").val(classSel);

                var html = $("#dummySelStudent").html();
                $("#dummySelStudent").html("<div class=\"classInfo\">\n" +
                    "                <span></span>\n" +
                    "                <input type=\"hidden\" name=\"classIdList\" value=\"\"/>\n" +
                    "                <p></p>\n" +
                    "            </div>");
                $("#studentSelList").append(html);
            }
        });
        function goList(){
            var academyClass = $("#academyClass").val();
            var taskType = $("#taskType").val();
            location.href="/a2/p1-class/"+academyClass+"?taskType="+taskType;
        }
        /*]]>*/
        $(document).ready(function(){
            var taskId = [[${el == null ? 0 : el?.id}]];
            if(taskId != 0) {
                //selectClassId(taskId);
            }else{
                setStudentList();
            }
        });
        $(function(){
            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                language: "ko",
                orientation: "auto"
            });
        });
        $(document).on("click","input:checkbox[class='studentIdList']",function(){
            if(!$(this).is(":checked")){
                $("#studAll").prop("checked",false);
            }
        });
    </script>
</th:block>
</body>
</html>
