<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>수업연계</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="form1">
        <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
        <input type="hidden" id="taskType" name="taskType" th:value="${params.taskType}">
    </form>
    <div class="adContent">
        <h1 class="adH1">수업연계</h1>
        <div class="tab clearfix adTab">
            <ul class="tab-ul">
                <li><a href="taskListAdmin.html">과제</a></li>
                <li class="active"><a href="reportAdmin.html">독후감</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="adSearch clearfix">
                <form action="" class="adSearch-in">
                    <div class="in-box">
                        <select name="" id="">
                            <option value="">전체</option>
                            <option value="">책 제목</option>
                        </select>
                        <input type="text">
                    </div>
                    <button type="button" class="src-btn"></button>
                </form>
            </div>
            <div class="subTit">
                <p class="className">잇플 코딩입문반A</p>
            </div>
            <table class="adTable list2">
                <thead class="adTable-head">
                <tr>
                    <th>책 제목</th>
                    <th>기간</th>
                </tr>
                </thead>
                <tbody class="adTable-body adTbody checklist">
                <tr>
                    <td><a href="restudAdmin.html">사람은 무엇으로 사는가</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                <tr>
                    <td><a href="restudAdmin.html">나를 지워줘</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                <tr>
                    <td><a href="restudAdmin.html">황금열광</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                <tr>
                    <td><a href="restudAdmin.html">나는 거의 아무것도 아닌 존재</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                <tr>
                    <td><a href="restudAdmin.html">4월, 그 비밀</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                <tr>
                    <td><a href="restudAdmin.html">메타버스에서 내리다</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                <tr>
                    <td><a href="restudAdmin.html">집으로 가는 길</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                <tr>
                    <td><a href="restudAdmin.html">열네 살 CEO</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                <tr>
                    <td><a href="restudAdmin.html">지속가능한 세상에서 동물과 공존한다는 것</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                <tr>
                    <td><a href="restudAdmin.html">EBS 강사가 추천하는 PAV 모빌리티 인기학과 진로코칭</a></td>
                    <td>2022.06.01 ~ 2022.06.07</td>
                </tr>
                </tbody>
            </table>
        </div>
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
    </div>

    <script th:src="@{/assets/js/a2/a2p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
</th:block>
</body>
</html>