 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>수업연계</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="adContent">
        <h1 class="adH1">수업연계</h1>
        <div class="tab clearfix adTab">
            <ul class="tab-ul">
                <li th:classappend="${#strings.equals(params.taskType,'TASK') ? 'active' : ''}"><a href="/a2/p1">과제</a></li>
                <li th:classappend="${#strings.equals(params.taskType,'BOOK_REPORT') ? 'active' : ''}"><a href="/a2/p1?taskType=BOOK_REPORT">독후감</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="adSearch clearfix">
                <form id="form1" class="adSearch-in">
                    <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
                    <input type="hidden" id="taskType" name="taskType" th:value="${params.taskType}">
                    <div class="in-box">
                        <select name="searchType" id="searchType">
                            <option value="userName" th:selected="${#strings.equals(param.searchType, 'userName')}">학생이름</option>
                            <option value="attendanceNo" th:selected="${#strings.equals(param.searchType, 'attendanceNo')}">출결번호</option>
                        </select>
                        <input type="text" name="searchValue" th:value="${param.searchValue}">
                    </div>
                    <button type="button" class="src-btn" onclick="goSearch()"></button>
                </form>
            </div>
            <div class="subTit">
                <a th:href="|/a2/p1-class/${task.academyClass.id}?taskType=${params.taskType}|" class="subTit-class" th:text="${task.academyClass.className}">잇플코딩입문반A</a><span th:text="${task.subject}">EBS 강사가 추천하는 PAV 모빌리티 인기학과 진로코칭</span>
            </div>
            <table class="adTable list3">
                <thead class="adTable-head">
                <tr>
                    <th>학생</th>
                    <th>출결번호</th>
                    <th>상태</th>
                    <th th:text="|${task.taskType.message} 확인|">독후감 확인</th>
                </tr>
                </thead>
                <tbody class="adTable-body adTbody checklist">
                <tr th:each="el : ${list}">
                    <td th:text="${el.student.user.userName}">김잇플</td>
                    <td th:text="${el.student.attendanceNo}">1598</td>
                    <td th:text="${el.status.message}">완료</td>
                    <td th:switch="${#strings.toString(el.status)}">
                        <button th:case="NOT_SUBMIT" type="button" class="s-btn reportBtn s-btnDsb" disabled="disabled">미제출</button>
                        <button th:case="SUBMIT" type="button" class="s-btn reportBtn" th:onclick="|goAction('P1',${el.id})|">독후감 보기</button>
                        <button th:case="COMPLETE" type="button" class="s-btn reportBtn" th:onclick="|goAction('P1',${el.id})|">확인완료</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
    </div>

    <div class="modal " id="reportMo">
        <div class="modal-bg"></div>
        <div class="modalContent lg">
            <div class="modalHd">
                <h3 th:text="|${task.taskType.message} 확인|">독후감 확인</h3>
                <button class="modalClose"></button>
            </div>
            <div class="modalBody">
                <div class="modalHead">
                    <p class="modalGroup">[잇플코딩 기초입문반A]</p>
                    <p class="modalTit">EBS 강사가 추천하는 PAV 모빌리티 인기학과 진로코칭</p>
                    <p class="modalName">김잇플</p>
                </div>
                <div class="modalMain">
                    독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다. 독후감 내용입니다.
                </div>
                <div class="mo-fileBox">
                    <div class="fileHead">
                        <p>첨부파일</p>
                    </div>
                    <ul class="fileUP">
                        <li>첨부파일_1.jpg</li>
                    </ul>
                </div>
                <div class="modalBtnWrap">
                    <button type="button" class="btn btn-blue" id="completeBtn">확인처리</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/a2/a2p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
</th:block>
</body>
</html>