<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>수업연계</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="form1">
        <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
        <input type="hidden" id="taskType" name="taskType" th:value="${params.taskType}">
    </form>
    <div class="adContent">
        <h1 class="adH1">수업연계</h1>
        <div class="tab clearfix adTab">
            <ul class="tab-ul">
                <li><a href="/a2/p2">통합검색</a></li>
                <li th:classappend="${#strings.equals(params.taskType,'TASK') ? 'active' : ''}"><a href="/a2/p1">과제</a></li>
                <li th:classappend="${#strings.equals(params.taskType,'BOOK_REPORT') ? 'active' : ''}"><a href="/a2/p1?taskType=BOOK_REPORT">독후감</a></li>
            </ul>
        </div>
        <div class="content-in clearfix">
            <div class="tableBtn-box">
                <div class="leftBox">
                </div>
                <div class="rightBox">
                    <a th:href="|/a2/p1-tch-write/0/?page=${list.pageable.pageNumber}|" class="aBtn">선생님 / 반 등록</a>
                    <!--<a th:href="|/a2/p1-write/0/${list.pageable.pageNumber}?taskType=${params.taskType}|" class="aBtn" th:text="|${params.taskType.message} 등록|">독후감 등록</a>-->
                </div>
            </div>
            <ul class="adTask-list2">
                <li th:each="el : ${list}">
                    <a th:href="|/a2/p1-teacher/${el.user.admin.id}?taskType=${params.taskType}&bfpage=${list.pageable.pageNumber}|">
                        <h3 class="codClass" th:utext="|${el.classTaskName}  <span  class='classNum'>${el.classCount}</span>|">선생님<span class="">10</span></h3>
                    </a>
                    <button class="TEdit" th:onclick="|goModify(${el.id})|">수정</button>
                </li>
            </ul>
        </div>
        <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
    </div>

    <script th:src="@{/assets/js/a2/a2p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">

        function goModify(id){
            location.href="/a2/p1-tch-write/"+id+"?page=[[${list.pageable.pageNumber}]]";
        }

    </script>
</th:block>
</body>
</html>