<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>잇플 수업연계과제등록</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="responsiveWrap">
        <h1 class="responsiveH1">독후감 등록</h1>
        <div class="responsiveInner">
            <form action="">
                <div class="inputSec">
                    <label for="class" class="mb5">반 선택</label>
                    <select name="class" id="class" class="input-df mb20">
                        <option value="잇플코딩입문반">잇플코딩입문반A</option>
                        <option value="잇플코딩입문반">잇플코딩입문반B</option>
                    </select>
                    <label for="studAll" class="mb5">학생 선택</label>
                    <div class="studCh">
                        <input type="checkbox" id="studAll"><label for="studAll">전체선택</label>
                        <input type="checkbox" id="stud1"><label for="stud1">김잇플</label>
                        <input type="checkbox" id="stud2"><label for="stud2">김가별</label>
                        <input type="checkbox" id="stud3"><label for="stud3">김포코</label>
                        <input type="checkbox" id="stud4"><label for="stud4">김바우</label>
                        <input type="checkbox" id="stud5"><label for="stud5">김로로</label>
                        <input type="checkbox" id="stud6"><label for="stud6">김비비</label>
                        <input type="checkbox" id="stud7"><label for="stud7">김토리</label>
                        <input type="checkbox" id="stud8"><label for="stud8">김잇</label>
                        <input type="checkbox" id="stud9"><label for="stud9">김잇플</label>
                    </div>
                    <label for="subject" class="mb5">책 제목</label>
                    <input type="text" name="subject" id="subject" class="input-df mb20">
                    <label for="writer" class="mb5">저자</label>
                    <input type="text" name="writer" id="writer" class="input-df mb20">
                    <label for="contents" class="mb5">책 내용</label>
                    <textarea name="contents" id="contents" cols="30" rows="10" class="mb20"></textarea>
                    <div class="dateBox mb20">
                        <label for="dueDate" class="mb5">독후감 마감일</label>
                        <div class="datepickerWrap">
                            <input type="text" name="dueDate" id="dueDate" class="input-df datepicker">
                            <i class="i-date"></i>
                        </div>
                        <span>-</span>
                        <div class="datepickerWrap">
                            <input type="text" class="input-df datepicker">
                            <i class="i-date"></i>
                        </div>
                    </div>
                    <div class="dateBox">
                        <label for="coin" class="mb5">지급포인트</label>
                        <div class="datepickerWrap">
                            <input type="text" name="coin" id="coin" class="input-df mb20 txtRight">
                        </div>
                    </div>
                </div>
                <div class="btn-center mt60">
                    <button type="submit" class="btn">등록하기</button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/assets/js/a2/a2p2.js(v='1.0.0')}"></script>
    <script th:inline="javascript">
        $(document).ready(function(){
            $(".datepicker").datepicker({
                format: "yyyy년 mm월 dd일",
                language: "ko",
                orientation: "auto"
            });
        });
    </script>
</th:block>
</body>
</html>