<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <!-- 썸머노트 -->
    <link href="/assets/plugins/summernote-0.8.18-dist/summernote-lite.css" rel="stylesheet" type="text/css">
    <script src="/assets/plugins/summernote-0.8.18-dist/summernote-lite.js"></script>
    <title>수업연계</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="form1">
        <input type="hidden" name="id" th:value="${el.id}"/>
        <input type="hidden" name="status" th:value="${el.status}"/>
        <input type="hidden" name="taskType" th:value="${el.task.taskType}"/>
        <div class="content">
            <h1 class="responsiveH1 subH1" th:text="${#strings.equals(el.task.taskType,'TASK') ? '과제 상세' : '독후감 상세'}">과제 상세</h1>
            <div class="content-in clearfix">
                <div class="writeCon">
                    <div class="writeHead">
                        <div style="text-align: left; display: inline-block; width:50%">
                            <th:block th:if="${#strings.equals(el.task.taskType, 'TASK')}">
                                <p class="writeGroup" th:text="|[${el.task.academyClass.className}]|">[잇플코딩 기초입문반A]</p>
                                <p class="writeTit" th:text="${el.task.subject}">수업 내용을 바탕으로 파이썬 실습내용 복습해보기</p>
                            </th:block>
                            <th:block th:if="${#strings.equals(el.task.taskType, 'BOOK_REPORT')}">
                                <p class="writeTit" th:text="${el.task.subject}">수업 내용을 바탕으로 파이썬 실습내용 복습해보기</p>
                            </th:block>
                            <p class="writePeriod" th:text="|${#temporals.format(el.task.startDate,'yyyy.MM.dd')} ~ ${#temporals.format(el.task.endDate,'yyyy.MM.dd HH:mm')}|">2022.04.23 ~ 2022.04.30</p>
                        </div>
                        <div style="text-align: right; display: inline-block; width:49%">
                            <div class="pointCom"><span>과제완료 포인트</span><p><span th:text="${#numbers.formatInteger(el.task.coin,0,'COMMA')}">1,000</span> 포인트</p></div>
                        </div>
                    </div>
                    <div class="writeMain">
                        <th:block th:utext="${#strings.replace(el.task.contents, T(System).getProperty('line.separator'), '&lt;br /&gt;')}"></th:block>
                        <div class="fileV" th:if="${el.task.taskFileList != null && el.task.taskFileList.size() != 0}">
                            <p class="fileT">첨부파일</p>
                            <ul class="file-li">
                                <li th:each="file : ${el.task.taskFileList}"><a th:href="|/taskFileDownload/${file.uploadFileName}|" th:text="${file.orgFileName}">첨부파일.jpg</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="taskWrite">
                        <div class="detailContents" th:utext="${el.contents}">
                            내용
                        </div>
                        <div class="countBox"><span class="text-count">0</span><span class="count-t">자</span></div>
                        <div class="fileBox" th:if="${not #strings.isEmpty(el.returnMessage)}">
                            <div class="fileHead">
                                <p>반려사유</p>
                            </div>
                            <ul class="fileUP">
                                <li th:text="${el.returnMessage}"></li>
                            </ul>
                        </div>
                        <div class="fileBox">
                            <div class="fileV" th:if="${el.studentTaskFileList != null && el.studentTaskFileList.size() != 0}">
                                <p class="fileT">첨부파일</p>
                                <ul class="file-li">
                                    <li th:each="file : ${el.studentTaskFileList}"><a th:href="|/studentTaskFileDownload/${file.uploadFileName}|" th:text="${file.orgFileName}">첨부파일.jpg</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-center Tbtn" th:if="${#strings.equals(el.status, 'SUBMIT') || #strings.equals(el.status, 'NOT_SUBMIT')}">
                    <button type="button" class="btn submitBtn" th:onclick="|goWrite(${el.id})|">수정</button>
                </div>
            </div>
        </div>
    </form>

    <script th:src="@{/assets/js/c2/c2p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var status = /*[[${el.status}]]*/'';
        /*]]>*/
        function goWrite(id){
            location.href="/c2/p1-write/"+id;
        }
        $(document).ready(function(){
            var caracteres = $(".detailContents").text();
            var totalCaracteres = caracteres.length;
            $(".text-count").text(totalCaracteres);
        });
    </script>
</th:block>
</body>
</html>