<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <!-- 썸머노트 -->
    <link href="/assets/plugins/summernote-0.8.18-dist/summernote-lite.css" rel="stylesheet" type="text/css">
    <script src="/assets/plugins/summernote-0.8.18-dist/summernote-lite.js"></script>
    <title>수업연계</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="form1">
        <input type="hidden" name="id" th:value="${el.id}"/>
        <input type="hidden" name="status" th:value="${el.status}"/>
    <div class="content">
        <h1 class="responsiveH1 subH1">과제 작성</h1>
        <div class="content-in clearfix">
            <div class="writeCon">
                <div class="writeHead">
                    <p class="writeGroup" th:text="|[${el.task.academyClass.className}]|">[잇플코딩 기초입문반A]</p>
                    <p class="writeTit" th:text="${el.task.subject}">수업 내용을 바탕으로 파이썬 실습내용 복습해보기</p>
                    <p class="writePeriod" th:text="|${#temporals.format(el.task.startDate,'yyyy.MM.dd')} ~ ${#temporals.format(el.task.endDate,'yyyy.MM.dd')}|">2022.04.23 ~ 2022.04.30</p>
                </div>
                <div class="writeMain">
                    <th:block th:utext="${el.task.contents}"></th:block>
                    <div class="pointCom"><span>과제완료 포인트</span><p><span th:text="${#numbers.formatInteger(el.task.coin,0,'COMMA')}">1,000</span> 포인트</p></div>
                </div>
                <div class="taskWrite">
                    <textarea id="summernote" name="contents" th:utext="${el.contents}"></textarea>
                    <div class="fileBox">
                        <form action="">
                            <div class="fileHead">
                                <p>첨부파일</p>
                                <div class="file-btn" th:if="${#strings.equals(el.status, 'NOT_SUBMIT')}">
                                    <button type="button" class="chRemove">선택삭제</button>
                                    <input type="file" multiple="multiple" class="" id="fileInput" name="files">
                                    <label for="fileInput" class="fileBtn">파일첨부</label>
                                </div>
                            </div>
                            <ul class="fileUP" id="articlefileChange">
                                <li th:each="file : ${el.studentTaskFileList}">
                                    <input th:id="|file-ch${file.id}|" type="checkbox" name="idList" th:value="${file.id}">
                                    <label th:for="|file-ch${file.id}|"><span th:text="${file.orgFileName}"></span></label>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="btn-center Tbtn" th:if="${#strings.equals(el.status, 'NOT_SUBMIT')}">
                <button type="button" class="btn btn-gray mr10" th:onclick="|goAction('S1','NOT_SUBMIT')|">임시저장</button>
                <button type="button" class="btn submitBtn" th:onclick="|goAction('S1','SUBMIT')|">제출하기</button>
            </div>
        </div>
    </div>
    </form>

    <script th:src="@{/assets/js/c2/c2p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var status = /*[[${el.status}]]*/'';
        /*]]>*/

        //summernote
        $(document).ready(function (){
            $('#summernote').summernote({
                tabsize: 2,
                height: 350,
                disabled: true,
                lang: 'ko-KR',
                disableDragAndDrop: true,
                callbacks: {
                    onImageUpload : function(files, editor, welEditable) {
                        for (var i = files.length - 1; i >= 0; i--) {
                            uploadSummernoteImageFile(files[i], this);
                        }
                    },
                },
            });
            $('#summernote').summernote(status == 'NOT_SUBMIT' ? 'enable':'disable');
        });
        /**
         * 이미지 파일 업로드
         */
        function uploadSummernoteImageFile(file, editor) {
            var data = new FormData();
            data.append("files", file);
            $.ajax({
                data : data,
                type : "POST",
                url : "/comFileUpload",
                contentType : false,
                processData : false,
                success : function(res) {
                    if(ut.isEmpty(res.data)){
                        return;
                    }

                    res.data.forEach(function(el){
                        $(editor).summernote('insertImage', `/comFileDownload/${el}`);
                    });
                }
            });
        }

        //파일첨부
        $(document).ready(function() {
            $("#fileInput").on("change", fileUpload);
        });

        function fileUpload(e) {
            var files = e.target.files;
            var formData = new FormData($("#form1")[0]);
            $.ajax({
                data : formData,
                type : "POST",
                url : "/api/c2/p1/f1",
                contentType : false,
                processData : false,
                success : function(res) {
                    if(ut.isEmpty(res.data)){
                        return;
                    }

                    res.data.forEach(function(el){
                        $('#articlefileChange').append(
                            `<li><input id="file-ch${el.id}" type="checkbox" name="idList" value="${el.id}"><label for="file-ch${el.id}"><span onclick="studentTaskFileDownload('${el.uploadFileName}')">${el.orgFileName}</span></label></li>`
                        );
                    });
                    $("#fileInput").val("");
                }
            });
        }

        // 파일 부분 삭제 함수
        $('.chRemove').click(function(){
            if($("input[name=idList]:checked").length == 0){
                modal.alert("체크한 데이터가 없습니다.");
                return;
            }

            var formData = "";
            $("input[name=idList]:checked").each(function(){
                var id = $(this).val();
                formData += `idList=${id}&`;
            });

            modal.confirm("체크한 데이터를 삭제하시겠습니까?", function(){
                $.post('api/c2/p1/d9', formData, function(){
                    modal.alert('삭제되었습니다.');
                    $("input[name=idList]:checked").each(function(){
                        $(this).closest("li").remove();
                    });
                });
            });
        });

        function studentTaskFileDownload(path){
            location.href = '/studentTaskFileDownload/'+path;
        }
    </script>
</th:block>
</body>
</html>