<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <!-- 썸머노트 -->
    <link href="/assets/plugins/summernote-0.8.18-dist/summernote-lite.css" rel="stylesheet" type="text/css">
    <script src="/assets/plugins/summernote-0.8.18-dist/summernote-lite.js"></script>
    <title>잇플 커뮤니티</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="form1">
        <input type="hidden" name="id" th:value="${el.id}">
    <div class="content">
        <h1 class="responsiveH1 subH1">커뮤니티 글 쓰기</h1>
        <div class="content-in clearfix">
            <div class="writeCon">
                <div class="writeHead2">
                    <select name="boardType" class="select-md">
                        <option th:each="e : ${T(com.softj.itple.domain.Types.AcademyType).values()}"
                                th:value="${e}" th:text="${e.message}"
                                th:selected="${params.boardType == e || el.boardType == e}">잇플 코딩 게시판</option>
                    </select>
                    <select name="boardCategory" class="select-md">
                        <option th:each="e : ${@codeUtil.getCodeList(1)}"
                                th:if="${@authUtil.isRole('ADMIN') || @authUtil.isRole(e.roleType)}"
                                th:value="${e.codeValue}" th:text="${e.codeName}"
                                th:selected="${el.boardCategory == e.codeValue}">잇플 코딩 게시판</option>
                    </select>
                    <input type="text" placeholder="제목을 입력하세요." class="input-df" th:value="${el.subject}" name="subject">
                </div>
                <div>
                    <textarea id="summernote" th:utext="${el.contents}" name="contents"></textarea>
                    <div class="fileBox">
                        <div class="fileHead">
                            <p>첨부파일</p>
                            <div class="file-btn">
                                <button type="button" class="chRemove">선택삭제</button>
                                <input type="file" multiple="multiple" class="" id="fileInput" name="files">
                                <label for="fileInput" class="fileBtn">파일첨부</label>
                            </div>
                        </div>
                        <ul class="fileUP" id="articlefileChange">
                            <li th:each="file : ${el.boardFileList}">
                                <input th:id="|file-ch${file.id}|" type="checkbox" name="idList" th:value="${file.id}">
                                <label th:for="|file-ch${file.id}|"><span th:text="${file.orgFileName}"></span></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="btn-center Tbtn">
                <button type="button" class="btn submitBtn" th:onclick="|goAction('S1',${el.id})|">작성하기</button>
            </div>
        </div>
    </div>
    </form>

    <script th:src="@{/assets/js/c1/c1p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/

        //summernote
        $(document).ready(function (){
            $('#summernote').summernote({
                tabDisable: true,
                tabsize: 2,
                height: 350,
                lang: 'ko-KR',
                callbacks: {
                    onImageUpload : function(files, editor, welEditable) {
                        for (var i = files.length - 1; i >= 0; i--) {
                            uploadSummernoteImageFile(files[i], this);
                        }
                    },
                },
            });
        });
        /**
         * 이미지 파일 업로드
         */
        function uploadSummernoteImageFile(file, editor) {
            var data = new FormData();
            data.append("files", file);
            $.ajax({
                data : data,
                type : "POST",
                url : "/comFileUpload",
                contentType : false,
                processData : false,
                success : function(res) {
                    if(ut.isEmpty(res.data)){
                        return;
                    }

                    res.data.forEach(function(el){
                        $(editor).summernote('insertImage', `/comFileDownload/${el}`);
                    });
                }
            });
        }

        //파일첨부
        $(document).ready(function() {
            $("#fileInput").on("change", fileUpload);
        });

        function fileUpload(e) {
            var files = e.target.files;
            var formData = new FormData($("#form1")[0]);
            $.ajax({
                data : formData,
                type : "POST",
                url : "/api/c1/p1/f1",
                contentType : false,
                processData : false,
                success : function(res) {
                    if(ut.isEmpty(res.data)){
                        return;
                    }

                    res.data.forEach(function(el){
                        $('#articlefileChange').append(
                            `<li><input id="file-ch${el.id}" type="checkbox" name="idList" value="${el.id}"><label for="file-ch${el.id}"><span>${el.orgFileName}</span></label></li>`
                        );
                    });
                    $("#fileInput").val("");
                }
            });
        }

        // 파일 부분 삭제 함수
        $('.chRemove').click(function(){
            if($("input[name=idList]:checked").length == 0){
                modal.alert("체크한 데이터가 없습니다.");
                return;
            }

            var formData = "";
            $("input[name=idList]:checked").each(function(){
                var id = $(this).val();
               formData += `idList=${id}&`;
            });

            modal.confirm("체크한 데이터를 삭제하시겠습니까?", function(){
                $.post('api/c1/p1/d9', formData, function(){
                    modal.alert('삭제되었습니다.');
                    $("input[name=idList]:checked").each(function(){
                        $(this).closest("li").remove();
                    });
                });
            });
        });
    </script>
</th:block>
</body>
</html>