<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <title>잇플 커뮤니티</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content">
        <h1 class="responsiveH1">잇플 커뮤니티</h1>
        <div class="tab clearfix">
            <ul class="tab-ul">
                <li th:classappend="${#strings.equals(params.boardType,'CODING') ? 'active' : ''}"><a href="/c1/p1">잇플 코딩</a></li>
                <li th:classappend="${#strings.equals(params.boardType,'ENGLISH') ? 'active' : ''}"><a href="/c1/p1?boardType=ENGLISH">잇플 영어</a></li>
            </ul>
        </div>
        <div class="tab2 clearfix">
            <ul class="tab-ul2">
                <li th:class="${#strings.isEmpty(params.boardCategory) ? 'active' : ''}"><a href="/c1/p1">전체</a></li>
                <li th:each="el : ${@codeUtil.getCodeList(1)}" th:classappend="${#strings.equals(params.boardCategory,el.codeValue) ? 'active' : ''}">
                    <a th:href="|/c1/p1?boardType=${params.boardType}&boardCategory=${el.codeValue}|" th:text="${el.codeName}">공지</a>
                </li>
            </ul>
        </div>
        <div class="content-in clearfix">

            <div class="tableBtn-box">
                <div class="leftBox">
                    <button type="button" th:each="e : ${@codeUtil.getCodeList(2)}" th:if="${@authUtil.isRole('ADMIN') || @authUtil.isRole(e.roleType)}" class="m-btn"
                            onclick="goWrite();">글쓰기</button>
                </div>
                <div class="rightBox">
                    <div class="search clearfix">
                        <form id="form1" class="search-in">
                            <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
                            <input type="hidden" id="boardType" name="boardType" th:value="${params.boardType}">
                            <div class="in-box">
                                <select name="boardCategory">
                                    <option value="">전체</option>
                                    <option th:each="el : ${params.getBoardCategoryList()}" th:value="${el.codeValue}" th:text="${el.codeName}" th:selected="${#strings.equals(el.codeValue,params.boardCategory)}"></option>
                                </select>
                                <select name="searchType">
                                    <option value="subject" th:selected="${#strings.equals(params.searchType, 'subject')}">제목</option>
                                    <option value="contents" th:selected="${#strings.equals(params.searchType, 'contents')}">내용</option>
                                    <option value="user" th:selected="${#strings.equals(params.searchType, 'user')}">글쓴이</option>
                                </select>
                                <input type="text" name="searchValue" th:value="${params.searchValue}">
                            </div>
                            <button type="button" class="src-btn" id="search1" style="display:none"></button>
                            <button type="button" class="src-btn active" id="search2" onclick="goSearch();"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <ul class="commuListUl">
            <li th:if="${#strings.isEmpty(params.boardCategory) || #strings.equals(params.boardCategory,@codeUtil.getCodeValue(1, '공지'))}" th:each="el : ${noticeList}">
                <div class="thumbbox" th:style="|background-image: url('${el.thumbnail}');|"></div>
                <div class="rightwrap">
                    <p class="category" th:text="|[${@codeUtil.getCodeName(1, el.boardCategory)}${el.isPopup ? '-팝업' : ''}]|"></p>
                    <p class="titlewrap"><a th:href="|/c1/p1-detail/${el.id}|"><span class="title" th:attr="data-reply='('+${el.commentCount}+')'" th:text="${el.subject}">잇플과 함께 할 선생님을 모십니다</span></a></p>
                    <p class="artiInfo"><span class="nickname" th:text="${el.user.userName}">닉네임</span><span class="date" th:text="${#temporals.format(el.createdAt,'yyyy.MM.dd')}">22.03.24</span><span class="view" th:text="${el.viewCount}">9</span><span class="up" th:text="${el.starCount}">10</span></p>
                </div>
            </li>
            <li th:each="el : ${list}">
                <div class="thumbbox" th:style="|background-image: url('${el.thumbnail}');|"></div>
                <div class="rightwrap">
                    <p class="category" th:text="|[${@codeUtil.getCodeName(1, el.boardCategory)}]|"></p>
                    <p class="titlewrap"><a th:href="|/c1/p1-detail/${el.id}|"><span class="title" th:attr="data-reply='('+${el.commentCount}+')'" th:text="${el.subject}">잇플과 함께 할 선생님을 모십니다</span></a></p>
                    <p class="artiInfo"><span class="nickname" th:text="${el.user.userName}">닉네임</span><span class="date" th:text="${#temporals.format(el.createdAt,'yyyy.MM.dd')}">22.03.24</span><span class="view" th:text="${el.viewCount}">9</span><span class="up" th:text="${el.starCount}">10</span></p>
                </div>
            </li>
        </ul>
        <div class="adfooter-btn">
            <button type="button" th:if="${@authUtil.isRole('ADMIN')}" class="m-btn btn-line mr5 categoryBtn">게시판 설정</button>
        </div>
    </div>
    <!--페이지네이션-->
    <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>
    <div class="modal" id="commOt">
        <div class="modal-bg"></div>
        <div class="modalContent md">
            <div class="modalHd">
                <h3>게시판 설정</h3>
                <button type="button" class="modalClose"></button>
            </div>
            <form id="form2">
                <div class="modalBody commOption">
                    <label for="roleType" class="mb5">쓰기 권한</label>
                    <select name="roleType" id="roleType" class="input-df">
                        <option th:each="er : ${T(com.softj.itple.domain.Types.RoleType).values()}" th:selected="${er} == ${params.codeDetail.roleType}" th:value="${er}" th:text="${#strings.equals('01',er.code) ? '관리자 이상' : '일반회원 이상' }">관리자 이상</option>
                    </select>
                    <div class="categoryBox">
                        <label for="categoryInput" class="mb5">카테고리</label>
                        <input type="text" id="categoryInput" class="categoryInput">
                        <input type="hidden" id="removeId"/>
                        <button type="button" id="categoryAddBtn" class="btn-add"></button>
                        <div class="categoryCon">
                        </div>
                    </div>
                    <div class="modalBtnWrap">
                        <button type="button" class="btn btn-blue modalOff" onclick="goAction('S3');">저장하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="cateDel">
        <div class="modal-bg"></div>
        <div class="modalContent xs">
            <div class="modalHd">
                <h3></h3>
                <button type="button" class="modalClose"></button>
            </div>
            <div class="modalBody commOption">
                <div class="modalText">
                    카테고리를 정말 삭제하시겠습니까?<br>
                    삭제한 카테고리는 복구할 수 없지만<br>
                    카테고리 내의 글은 삭제되지 않습니다.
                </div>
                <div class="modalBtnWrap">
                    <button type="button" id="confirmDelBtn" class="btn btn-red modalOff">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script th:src="@{/assets/js/c1/c1p1.js(v='1.0.0')}"></script>

    <script th:inline="javascript">
        $(document).ready(function(){
            var isMobile = navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i) ? true : false;

            if(isMobile){
                $("#search2").css("display","none");
                $("#search1").css("display","block");

                $("#search1").on("click",function(){
                    if($("#search1").hasClass("active")){
                        $("#search1").css("display","none");
                        $("#search2").css("display","block");
                    }else{
                        $("#search2").css("display","none");
                        $("#search1").css("display","block");
                    }
                });

            }else{
                $("#search1").css("display","none");
                $("#search2").css("display","block");
            }
        });
        $(document).on("click", ".upOrder", function(){
            var nowOrder = $(this).siblings(".codeOrder").val();
            var nowOrderId = $(this).siblings(".codeOrder").prop("id");
            var idx = nowOrderId.split("_")[1];

            if(idx > 1) {
                var upIdx = parseInt(idx)-1;
                var tmpIdx = 9999;
                var upOrder = $("#codeOrder_" + upIdx).val();
                $(this).siblings(".codeOrder").val(upOrder); // 현재순서 -1로 변경
                $("#codeOrder_" + upIdx).val(nowOrder); // 이전순서 현재순서로 변경

                $("#id_"+idx).prop("id","id_"+tmpIdx);
                $("#id_"+upIdx).prop("id","id_"+idx);
                $("#id_"+tmpIdx).prop("id","id_"+upIdx);
                $("#codeName_"+idx).prop("id","codeName_"+tmpIdx);
                $("#codeName_"+upIdx).prop("id","codeName_"+idx);
                $("#codeName_"+tmpIdx).prop("id","codeName_"+upIdx);
                $("#codeOrder_"+idx).prop("id","codeOrder_"+tmpIdx);
                $("#codeOrder_"+upIdx).prop("id","codeOrder_"+idx);
                $("#codeOrder_"+tmpIdx).prop("id","codeOrder_"+upIdx); // id 변경

                var nowCate = $("#cate_"+idx).html();;
                var upCate = $("#cate_"+upIdx).html();
                $("#cate_"+upIdx).html(nowCate);
                $("#cate_"+idx).html(upCate); // 위치변경
            }else{
                modal.alert("처음 정렬순서입니다.");
            }
        });
        $(document).on("click", ".downOrder", function(){
            var nowOrder = $(this).siblings(".codeOrder").val();
            var nowOrderId = $(this).siblings(".codeOrder").prop("id");
            var idx = nowOrderId.split("_")[1];

            if(idx < $(".categorySub").length) {
                var downIdx = parseInt(idx)+1;
                var tmpIdx = 9999;
                var downOrder = $("#codeOrder_" + downIdx).val();
                $(this).siblings(".codeOrder").val(downOrder); // 현재순서를 이후순서로 변경
                $("#codeOrder_" + downIdx).val(nowOrder); // 이후순서 현재순서로 변경

                $("#id_"+idx).prop("id","id_"+tmpIdx);
                $("#id_"+downIdx).prop("id","id_"+idx);
                $("#id_"+tmpIdx).prop("id","id_"+downIdx);
                $("#codeName_"+idx).prop("id","codeName_"+tmpIdx);
                $("#codeName_"+downIdx).prop("id","codeName_"+idx);
                $("#codeName_"+tmpIdx).prop("id","codeName_"+downIdx);
                $("#codeOrder_"+idx).prop("id","codeOrder_"+tmpIdx);
                $("#codeOrder_"+downIdx).prop("id","codeOrder_"+idx);
                $("#codeOrder_"+tmpIdx).prop("id","codeOrder_"+downIdx); // id 변경

                var nowCate = $("#cate_"+idx).html();;
                var downCate = $("#cate_"+downIdx).html();
                $("#cate_"+downIdx).html(nowCate);
                $("#cate_"+idx).html(downCate); // 위치변경
            }else{
                modal.alert("마지막 정렬순서입니다.");
            }
        });
        $(document).on("click", ".categoryRemove", function(){
            var id = $(this).parent().parent().prop("id");
            $("#removeId").val(id);
            $('#cateDel').addClass('on');
        }).on("click", ".btn-add", function(){
            let jb = $( '.categoryInput' ).val();
            if(ut.isEmpty(jb)){
                modal.required("카테고리명");
                return;
            }
            var lastId = $(".categorySub").last().prop("id");
            var lastIdArr = new Array();
            var lastNum = 0;

            if(lastId != undefined && lastId != "") {
                lastIdArr = lastId.split("_");
                lastNum = lastIdArr[1];
            }

            var lastNum = lastIdArr[1];
            var newNum = parseInt(lastNum)+1;
            var newId = "cate_"+newNum;
            $(".categoryCon").append('<div class="categorySub" id="'+newId+'"><input type="hidden" class="codeNameList" name="newCodeNameList" id="codeName_'+newNum+'" value="'+jb+'"/><p class="categoryTit">' + jb + '</p><div class="modiBtn-box"><button type="button" class="categoryModi"></button><button type="button" class="categoryRemove"></button></div> </div>')
            $( '.categoryInput' ).val('');
        });
        $(document).on("click", ".categoryModi", function (){
            var tit = $(this).parents(".categoryCon > div").find(".categoryTit")
            var modiform = $(this).parents('.categoryCon > div').find('.modiBox')
            if(modiform.length >0){
                tit.show();
                modiform.remove();
                $(this).parents(".categoryCon > div").removeClass('on');
            }else{
                var cateId = $(this).parent().parent().prop("id");
                var cateIdArr = cateId.split("_");
                var cateNum = cateIdArr[1];
                tit.after('<div class="modiBox"><form action=""><input type="text" id="tmpCodeName_'+cateNum+'" value="'+tit.text()+'"><button type="button" class="categoryCom"></button></form></div>');
                $(this).parents(".categoryCon > div").addClass('on');
                tit.hide();
            }
        });
        $(document).on("click", ".categoryCom", function (){
            var rp = $(this).parents(".categoryCon > div").find(".categoryTit")
            var modirp = $(this).siblings("input").val();
            rp.text(modirp).show();
            $(this).parents(".categoryCon > div").find("input.codeNameList").val(modirp);
            $(this).parents(".modiBox").remove();

            $(".categoryCon > div").removeClass('on');
        });
        $(document).on("click", ".categoryBtn", function(){
            goAction("L2");
        });

        $(document).on("click", "#confirmDelBtn", function(){
            var removeId = "#"+$("#removeId").val();
            var id = "#id_"+removeId.split("_")[1];
            $(".categoryCon").append('<input type="hidden" name="removeIdList" value="'+$(id).val()+'" />');
            $(removeId).remove();
        });

        $(document).on("click", ".modalClose, .modal-bg", function(){
            $(".categoryCon div").remove();
            $(this).parents('.modal').removeClass('on');
        });

        function goWrite(){
            location.href='/c1/p1-write/0?boardType='+[[${params.boardType}]];
        }
    </script>
</th:block>
</body>
</html>

