<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>공지사항</title>
</head>
<body>
<th:block layout:fragment="content" th:with="loginVO=${session.loginVO}">
    <header class="container-header">
        <h2 class="iBtn notice">공지사항</h2>
<!--        <span class="guide">(가산본사)</span>-->
    </header>

    <form id="form1">
    <div class="cBox">
        <input type="hidden" id="page" name="page" th:value="${list.pageable.pageNumber}">
        <div class="search-list">
            <article>
                <h4>날짜 검색</h4>
                <div class="input date-range">
                    <input type="text" class="datepicker" placeholder="2021-04-22" name="startDate" th:value="${param.startDate}">
                    <i class="unit">~</i>
                    <input type="text" class="datepicker" placeholder="2021-04-22" name="endDate" th:value="${param.endDate}">
                    <a style="padding: 0 5px; margin-left: 1px;" href="javascript:;" class="eBtn sColorB hrBtn m1Btn">1M</a>
                    <a style="padding: 0 5px; margin-left: 1px;" href="javascript:;" class="eBtn sColorB hrBtn m3Btn">3M</a>
                    <a style="padding: 0 5px; margin-left: 1px;" href="javascript:;" class="eBtn sColorB hrBtn m6Btn">6M</a>
                </div>
            </article>
            <article th:if="${loginVO.isRole('1,2')}">
                <h4>열람권한</h4>
                <div class="input">
                    <div class="selectBox change">
                        <select name="accessDeptSeqS">
                            <option value="">선택</option>
                            <option th:each="el : ${deptList}" th:value="${el.seq}" th:selected="${#strings.equals(param.accessDeptSeqS,el.seq)}">[[${el.name}]]</option>
                        </select>
                    </div>
                </div>
            </article>
            <article>
                <h4>내용</h4>
                <div class="input">
                    <input type="text" name="content" th:value="${param.content}">
                </div>
            </article>

            <div class="btns">
                <button type="button" onclick="goSearch()" class="eBtn sColorB hrBtn iBtn search">검색</button>
                <a th:if="${loginVO.isRole('1,2,3')}" href="javascript:goAction('P1');" class="eBtn sColorB hrBtn iBtn add">신규</a>
                <a th:if="${loginVO.isRole('1,2,3')}" href="javascript:goAction('D1')" class="eBtn sColorB hrBtn iBtn delete">삭제</a>
            </div>
        </div>
    </div>

    <!--총 건수-->
    <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pageInfo"></th:block>

    <div class="cBox">
        <div class="table-area">
            <table class="table-basic">
                <colgroup>
                    <col width="20px">
                    <col width="3%">
                    <col width="10%">
                    <col width="8%">
                    <col width="8%">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th class="check">
                        <label class="checkbox">
                            <input type="checkbox" id="chkAll">
                            <span></span>
                        </label>
                    </th>
                    <th>번호</th>
                    <th>시스템 등록일</th>
                    <th>시스템 등록자명</th>
                    <th>열람권한</th>
                    <th>내용</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="el : ${list}">
                    <td class="check">
                        <label class="checkbox">
                            <input type="checkbox" name="seqList" th:value="${el.seq}">
                            <span></span>
                        </label>
                    </td>
                    <td>[[${el.seq}]]</td>
                    <td>[[${#temporals.format(el.createdAt,'yyyy-MM-dd HH:mm')}]]</td>
                    <td>[[${el.answer.name}]]</td>
                    <td >[[${el.accessDept.name}]]</td>
                    <td class="subject" th:onclick="|goAction('P1','${el.seq}')|"><a href="javascript:;"><b>[공지사항]</b></a>
                        [[${el.content}]]
                        <i th:if="${#strings.equals(#calendars.format(#calendars.createNow(),'yyyy-MM-dd'),#temporals.format(el.createdAt,'yyyy-MM-dd').toString())}" class="newIcon">N</i>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(list.content)}">
                    <td colspan="6" class="t-c">No Data.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </form>

    <!--페이지네이션-->
    <th:block th:with="list=${list}, formId='form1'" th:include="layout/pagination :: pagination"></th:block>

    <!--공지사항 수정-->
    <div class="modal-container" id="notice-write">
        <div class="modal-wrapper">
            <div class="modal-content">
                <header class="m-header">
                    <h4>공지사항</h4>
                    <a href="javascript:;" class="oiBtn close modalClose">닫기</a>
                </header>
                <div class="contents-area customScroll">
                    <form id="noticeForm">
                        <input type="hidden" value="0" name="seq"/>
                        <table class="table-colored">
                            <colgroup>
                                <col width="145px">
                            </colgroup>
                            <tr th:if="${loginVO.isRole('1,2')}">
                                <th>열람권한</th>
                                <td>
                                    <div class="selectBox tac">
                                        <select name="accessDeptSeq">
                                            <option th:each="el : ${deptList}" th:value="${el.seq}">[[${el.name}]]</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <input th:if="${!loginVO.isRole('1,2')}" type="hidden" name="accessDeptSeq" th:value="${loginVO.dept.seq}"/>
                                    <textarea name="content"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <footer class="m-footer btns">
                    <a href="javascript:;" class="eBtn sColorB hrBtn modalClose">취소</a>
                    <a id="p1Save" th:if="${loginVO.isRole('1,2,3')}" href="javascript:goAction('S1');" class="eBtn sColorBG hrBtn">저장</a>
                </footer>
            </div>
        </div>
    </div>

    <script src="/js/c1/p1.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var loginDeptSeq = /*[[${loginVO.dept.seq}]]*/ '';
        var loginRole = /*[[${loginVO.roleList[0].roleValue}]]*/ '';
        /*]]>*/
    </script>
</th:block>
</body>
</html>