<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
  <title>잇플 출결관리</title>
  <!--풀캘린더-->
  <link href="/assets/plugins/fullcalendar/packages/core/main.css" rel="stylesheet" />
  <link href="/assets/plugins/fullcalendar/packages/scheduler/main.min.css" rel="stylesheet" />
  <script src="/assets/plugins/fullcalendar/packages/core/main.js"></script>
  <script src="/assets/plugins/fullcalendar/packages/interaction/main.js"></script>
  <script src="/assets/plugins/fullcalendar/packages-premium/resource-common/main.js"></script>
  <script src="/assets/plugins/fullcalendar/packages/moment/main.js"></script>
  <script src="/assets/plugins/fullcalendar/packages/scheduler/main.min.js"></script>
  <script src="/assets/js/popper.js"></script>
  <script src="/assets/js/tooltip.js"></script>

</head>
<body class="adminBody">
<th:block layout:fragment="content">
  <div class="adContent">
    <div class="contHd">
      <h1 class="adH1">출결관리</h1>
      <a href="" class="attendBtn">출석 페이지로</a>
    </div>
    <div class="content-in clearfix">
      <div class="adSearch clearfix selSearch">
        <form action="" class="adSearch-in">
          <div class="in-box">
            <select name="class" id="class" class="selClass">
              <option value="1">잇플 코딩입문반A</option>
              <option value="2">잇플 코딩입문반B</option>
            </select>
            <select name="year" id="year">
              <option value="2022">2022</option>
              <option value="2021">2021</option>
            </select>
            <select name="month" id="month">
              <option value="1월">1월</option>
              <option value="2월">2월</option>
              <option value="3월">3월</option>
              <option value="4월">4월</option>
              <option value="5월">5월</option>
              <option value="6월">6월</option>
              <option value="7월">7월</option>
              <option value="8월">8월</option>
              <option value="9월">9월</option>
              <option value="10월">10월</option>
              <option value="11월">11월</option>
              <option value="12월">12월</option>
            </select>
          </div>
          <button type="button" class="src-btn"></button>
        </form>
      </div>
      <div class="subTit">
        <p class="className">2022년 3월 잇플 코딩입문반A</p>
      </div>
      <div class="fullcalendar" id="calendar"></div>
<!--      <table id="calendar" class="calendar">-->
<!--        <thead class="calendar-head"></thead>-->
<!--        <tbody class="calendar-body"></tbody>-->
<!--      </table>-->
    </div>
    <ul class="pagination">
      <li class="page-arrow"><a class="page-link p-L2" href="#"></a></li>
      <li class="page-arrow"><a class="page-link p-L1" href="#"></a></li>
      <li class="page-item"><a class="page-link active" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">7</a></li>
      <li class="page-item"><a class="page-link" href="#">8</a></li>
      <li class="page-item"><a class="page-link" href="#">9</a></li>
      <li class="page-item"><a class="page-link" href="#">10</a></li>
      <li class="page-arrow"><a class="page-link p-R1" href="#"></a></li>
      <li class="page-arrow"><a class="page-link p-R2" href="#"></a></li>
    </ul>
  </div>
  <script th:src="@{/assets/js/a4/a4p1.js(v='1.0.0')}"></script>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function(){
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        timeZone: 'UTC',
        initialView: 'resourceTimelineMonth',
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        headerToolbar:{
          left: '',
          center:'',
          right: ''
        },
        contentHeight: 600,
        // locale: "ko",
        editable: true,
        resourceAreaHeaderContent: ' ',
        default:'15%',
        resources: [
            {id: 'a', title: '1'},
            {id: 'b', title: '2'},
            {id: 'c', title: '3'},
            {id: 'd', title: '4'}
          ]
      });
      calendar.render();
    })
  </script>
</th:block>
</body>
</html>