<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>잇플 출결관리</title>
    <!--풀캘린더-->
    <link href="/assets/plugins/fullcalendar/packages/core/main.css" rel="stylesheet" />
    <link href="/assets/plugins/fullcalendar/packages/scheduler/main.min.css" rel="stylesheet" />
    <script src="/assets/plugins/fullcalendar/packages/core/main.js"></script>
    <script src="/assets/plugins/fullcalendar/packages/interaction/main.js"></script>
    <script src="/assets/plugins/fullcalendar/packages-premium/resource-common/main.js"></script>
    <script src="/assets/plugins/fullcalendar/packages/moment/main.js"></script>
    <script src="/assets/plugins/fullcalendar/packages/scheduler/main.min.js"></script>
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/tooltip.js"></script>
    <style>
        .fc-timeline-slot-lane.fc-day-sun.fc-day-future,
        .fc-timeline-slot-lane.fc-day-sat.fc-day-future{
            background: #e7e7e7;
            opacity: 0.5;
        }
    </style>
</head>
<body class="adminBody">
<th:block layout:fragment="content">
    <div class="adContent">
        <div class="contHd">
            <h1 class="adH1">출결관리</h1>
            <button onclick="location.href='/a4/p2'" type="button" class="attendBtn btn btn-blue">잇플코딩 출석페이지</button>
            <button onclick="location.href='/a4/p2?attendanceType=ENGLISH'" type="button" class="ml10 attendBtn btn btn-red">잇플영어 출석페이지</button>
        </div>
        <div class="content-in clearfix">
            <div class="tab clearfix">
                <ul class="tab-ul">
                    <li th:classappend="${#strings.equals(params.academyType,'CODING') ? 'active' : ''}"><a href="/a4/p1?academyType=CODING">잇플 코딩</a></li>
                    <li th:classappend="${#strings.equals(params.academyType,'ENGLISH') ? 'active' : ''}"><a href="/a4/p1?academyType=ENGLISH">잇플 영어</a></li>
                </ul>
            </div>
            <div class="tab2 clearfix">
                <ul class="tab-ul2">
                    <li th:class="${#strings.isEmpty(params.attendanceStatus) ? 'active' : ''}"><a th:href="|/a4/p1?academyType=${params.academyType}|">전체</a></li>
                    <li th:class="${!#strings.isEmpty(params.attendanceStatus) ? 'active' : ''}"><a th:href="|/a4/p1?academyType=${params.academyType}&attendanceStatus=COME|">오늘 등원생</a></li>
                </ul>
            </div>
            <div class="adSearch clearfix selSearch">
                <form onsubmit="return false;" class="adSearch-in" id="form1">
                    <div class="in-box">
                        <select name="academyClass" id="academyClass" class="input-df mb20">
                            <option value="">전체</option>
                            <option th:each="class : ${classList}" th:value="${class.id}" th:text="${class.className}" th:selected="${#strings.equals(class.className, params.academyClass)}">잇플코딩입문반</option>
                        </select>
                        <select name="studentStatus" id="studentStatus" class="input-df mb20">
                            <option th:each="studentStatus : ${T(com.softj.itple.domain.Types.StudentStatus).values()}" th:value="${studentStatus}" th:text="${studentStatus.message}" th:selected="${studentStatus == params.studentStatus}">1학년</option>
                        </select>
                        <select name="year" id="year">
                            <option th:each="num : ${#numbers.sequence(1,-5)}" th:value="${T(java.lang.Integer).parseInt(#temporals.format(#temporals.createNow(),'yyyy')) + num}" th:text="|${T(java.lang.Integer).parseInt(#temporals.format(#temporals.createNow(),'yyyy')) + num}년|"
                            th:selected="${(T(java.lang.Integer).parseInt(#temporals.format(#temporals.createNow(),'yyyy')) + num) == params.year}">2022</option>
                        </select>
                        <select name="month" id="month">
                            <option th:each="num : ${#numbers.sequence(1,12)}" th:value="${num}" th:text="|${num}월|" th:selected="${#strings.equals(#temporals.format(#temporals.createNow(),'M'), num)}"></option>
                        </select>
                        <input type="text" name="userName" th:value="${params.getUserName()}" placeholder="이름 검색">
                        <button type="button" class="src-btn" onclick="calSearch()"></button>
                    </div>
                </form>
            </div>
            <div class="fullcalendar" id="calendar"></div>
        </div>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <!--    <script th:src="@{/assets/js/a4/a4p1.js(v='1.0.0')}"></script>-->
    <script th:inline="javascript">
        var calendar;
        var resources = [];
        var events = [];
        var schClassId = '';
        var schStudentStatus = '';
        var schUserName = '';

        $(function() {
            var calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC', //시간대
                initialView: 'resourceTimelineMonth', //초기 뷰 형식
                initialDate: '2000-01-01', //초기월
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source', //라이선슼 키
                headerToolbar: { //헤더 표시목록
                    left: '',
                    center: '',
                    right: ''
                },
                contentHeight: 400, //높이
                locale: "ko", //언어
                resourceAreaHeaderContent: ' ', //빈공간 텍스트
                slotMinWidth: 60, //열 크기
                resourceAreaWidth: '10%', //리소스 와이드 크기
                // refetchResourcesOnNavigate: true, //리소스 재실행 여부
                views: {
                    timeGrid: {
                        dayMaxEventRows: 1 //1일에 이벤트몇개까지
                    }
                },
                resources: async function (fetchInfo, callback) {
                    callback(await getResources());
                    var year = $("select[name=year]").val();
                    var month = $("select[name=month]").val();
                    var tmpDate = new Date(`${year}-${month}-1`);
                    calendar.gotoDate(tmpDate.format('yyyy-MM-dd'));
                    if(fetchInfo.start.format('yyyyMMdd') == tmpDate.format('yyyyMMdd')) {
                        calendar.refetchEvents();
                    }
                },
                events: async function (info, callback) {
                    callback(await getEvents(info));
                },
                eventDidMount: function(info) {
                    var formData = {
                        id: info.event._def.resourceIds[0],
                        attendanceDate: info.event.start.format("yyyy-MM-dd")
                    };

                    $.post("/api/a4/p1/l4", formData, function (res) {
                        loading(0);
                        var dataList = res.data;
                        var comeStr = "";
                        var leaveStr = "";
                        var totalStr = "";

                        for(var i = 0; i < dataList.length; i++){
                            var dateTime = dataList[i].createdAt.substring(0, 19);

                            if(dataList[i].attendanceStatus == [[${T(com.softj.itple.domain.Types.AttendanceStatus).COME.code}]]){
                                comeStr += "등원시간 : " + dateTime + " /";
                            }else if(dataList[i].attendanceStatus == [[${T(com.softj.itple.domain.Types.AttendanceStatus).LEAVE.code}]]){
                                leaveStr += "하원시간 : " + dateTime + " /";
                            }
                            totalStr = dateTime.substring(5,7) + "월 출석일수 : " + dataList[i].totalMonth;
                        }
                        tippy(info.el, {
                            content: comeStr + " " + leaveStr + " " + totalStr,
                        });
                    });
                },
                dateClick: function(info) {
                    modal.alert("학생 등원요일이 아닙니다.");
                },
                eventClick: function(info) {
                    var formData = {
                        id: info.event._def.resourceIds[0],
                        attendanceDate: info.event.start.format("yyyy-MM-dd")
                    };

                    $.post("/api/a4/p1/l3", formData, function (res) {
                        loading(0);
                        if(ut.isEmpty(res.data)){
                            var infoYear = info.event.start.getFullYear().toString();
                            var infoMonth = info.event.start.getMonth()+1;
                            if(infoMonth < 10){
                                infoMonth = '0'+infoMonth;
                            }
                            infoMonth = infoMonth.toString();
                            var infoDay = info.event.start.getDate().toString();
                            if(infoDay < 10){
                                infoDay = '0'+infoDay;
                            }
                            infoDay = infoDay.toString();
                            var nowYear = new Date(Date.now()).getFullYear().toString();
                            var nowMonth = new Date(Date.now()).getMonth()+1;
                            if(nowMonth < 10){
                                nowMonth = '0'+nowMonth;
                            }
                            nowMonth = nowMonth.toString();
                            var nowDay = new Date(Date.now()).getDate();
                            if(nowDay < 10){
                                nowDay = '0'+nowDay;
                            }
                            nowDay = nowDay.toString();
                            var selDate = infoYear+infoMonth+infoDay;
                            var now = nowYear+nowMonth+nowDay;

                            if(selDate < now){
                                modal.alert("등원하지 않은 날입니다.");
                            }else{
                                modal.confirm("결석으로 체크하시겠습니까?",function(){
                                    $.post("/api/a4/p1/s1", formData, function (res) {
                                        modal.alert("결석처리가 완료되었습니다.");
                                        calendar.refetchEvents();
                                    });
                                });
                            }
                        }else {
                            var attendanceStatus = res.data.attendanceStatus;
                            if (attendanceStatus == [[${T(com.softj.itple.domain.Types.AttendanceStatus).COME}]] || attendanceStatus == [[${T(com.softj.itple.domain.Types.AttendanceStatus).LEAVE}]]){
                                modal.alert("등원한 날입니다.");
                            }else if (attendanceStatus == [[${T(com.softj.itple.domain.Types.AttendanceStatus).ABSENT}]]) {
                                var frmData = {id: res.data.id};

                                modal.confirm("이미 결석처리 되어 있습니다. 결석 처리를 삭제하시겠습니까?",function(){
                                    $.post("/api/a4/p1/d1", frmData, function (res) {
                                        modal.alert("결석처리가 취소되었습니다.");
                                        calendar.refetchEvents();
                                    });
                                });
                            }
                        }
                    });
                }
            });
            calendar.render();
        });

        function getResources(){
            return new Promise((resolve, reject) => {
                var formData = {
                    classId: $("select[name=academyClass]").val(),
                    studentStatus: $("select[name=studentStatus]").val(),
                    academyType: [[${params.academyType}]],
                    attendanceStatus: [[${params.attendanceStatus}]],
                    userName : $("input[name=userName]").val(),
                    year : $("select[name=year]").val(),
                    month : $("select[name=month]").val()
                };
                schClassId = formData.classId;
                schStudentStatus = formData.studentStatus;
                schUserName = formData.userName;

                $.post("/api/a4/p1/l1", formData, function (res) {
                    resources = res.data;

                    resolve(resources);
                });
            });
        }

        function getEvents(info) {
            if (calendar) {
                calendar.removeAllEvents();
            }

            events = [];
            return new Promise((resolve, reject) => {
                $.post("/api/a4/p1/l2", resources.reduce((prev, cur) => prev + `idList=${cur.id}&`, "") + `startDate=${info.start.format('yyyy-MM-dd')}`, function (res) {

                    resources.forEach(el => {
                        var atList = el.attendanceList;
                        var atOrgList = el.attendanceOrgList;
                        var tmpStart = new Date(info.start);
                        var tmpEnd = new Date(info.end);
                        var now = new Date(Date.now());
                        var atDays = new Array();
                        var atOrgDays = new Array();
                        var atDate = new Array();

                        var tmpStartYear = tmpStart.getFullYear();
                        var tmpStartMonth = (tmpStart.getMonth()+1) < 10 ? '0'+(tmpStart.getMonth()+1) : (tmpStart.getMonth()+1);
                        var tmpStartDay = tmpStart.getDate() < 10 ? '0'+tmpStart.getDate() : tmpStart.getDate();
                        var tmpStartDate = tmpStartYear+'-'+tmpStartMonth+'-'+tmpStartDay;
                        var tmpStartDateTime = tmpStartDate +' 00:00:00';

                        var start = new Date(tmpStartDateTime);

                        var tmpEndYear = tmpEnd.getFullYear();
                        var tmpEndMonth = (tmpEnd.getMonth()+1) < 10 ? '0'+(tmpEnd.getMonth()+1) : (tmpEnd.getMonth()+1);
                        var tmpEndDay = tmpEnd.getDate() < 10 ? '0'+tmpEnd.getDate() : tmpEnd.getDate();
                        var tmpEndDate = tmpEndYear+'-'+tmpEndMonth+'-'+tmpEndDay;
                        var tmpEndDateTime = tmpEndDate +' 23:59:59';

                        var end = new Date(tmpEndDateTime);



                        atOrgList.forEach(el2 => {
                            atOrgDays.push(el2.orgAttendanceStr);
                        });

                        while (start < end) {
                            var startMonth = (start.getMonth() + 1) < 10 ? '0' + (start.getMonth() + 1) : (start.getMonth() + 1);
                            var startDay = start.getDate() < 10 ? '0' + start.getDate() : start.getDate();
                            var startDate = start.getFullYear() + '-' + startMonth + '-' + startDay;


                            if (!atOrgDays.includes(start.getDay().toString())) {
                                //원래 등원요일이 아닌 경우
                                atList.forEach(el2 => {
                                    if (el2.attendanceDate == startDate) {
                                        events.push({
                                            "resourceId": el2.id,
                                            "title": "O",
                                            "start": startDate,
                                            "color": "#428bca",
                                            "className": "text-center"
                                        });
                                    }
                                });
                            }

                            atOrgList.forEach(el2 => {
                                var newStartDateTime = startDate + ' ' + el2.attendanceAt;
                                start = new Date(newStartDateTime);

                                if (start.getDay().toString() == el2.orgAttendanceStr) {
                                    if (start < now) {
                                        events.push({
                                            "resourceId": el2.id,
                                            "title": "X",
                                            "start": start.format('yyyy-MM-dd'),
                                            "color": "#dd5a43",
                                            "className": "text-center"
                                        });
                                    } else if (start >= now) {
                                        events.push({
                                            "resourceId": el2.id,
                                            "start": start.format('yyyy-MM-dd'),
                                            "color": "#FFFFFF",
                                            "className": "text-center"
                                        });
                                    } else {
                                        events.push({
                                            "resourceId": el2.id,
                                            "title": "X",
                                            "start": start.format('yyyy-MM-dd'),
                                            "color": "#dd5a43",
                                            "className": "text-center"
                                        });
                                    }
                                }
                            });
                            start.plusDate(1);
                        }
                    });

                    res.data.forEach(el2 => {
                        events.push(el2);

                        var idx = events.findIndex(el3 => el3.resourceId == el2.resourceId && el2.start == el3.start);
                        if(idx != -1){
                            events.splice(idx, 1);
                        }
                    });
                    resolve(events);
                });
            });
        }

        function calSearch(){
            var classId = $("select[name=academyClass]").val();
            var studentStatus = $("select[name=studentStatus]").val();
            var userName = $("input[name=userName]").val();

            if(classId == schClassId && studentStatus == schStudentStatus && userName == schUserName){
                var year = $("select[name=year]").val();
                var month = $("select[name=month]").val();
                var tmpDate = new Date(`${year}-${month}-1`);
                calendar.gotoDate(tmpDate.format('yyyy-MM-dd'));
                return;
            }
            calendar.refetchResources();
        }

        $("#studentStatus").on("change", function(){
            var studentStatus = $(this).val();
            if(studentStatus != "STUDENT"){
                $("#academyClass").val("");
                $("#academyClass").css("display","none");
            }else{
                $("#academyClass").css("display","inline");
            }
        });

    </script>
</th:block>
</body>
</html>
